<section class="kyiv">
  <div class="container kyiv__container">
    <div class="kyiv__box">
      <h3 class="kyiv__title">Доставка по Києву та Київській області:</h3>
      <ul class="kyiv__list">
        <li class="kyiv__item">
          <svg class="kyiv__icon">
            <use href="./images/symbol-defs.svg#icon-border-check"></use>
          </svg>
          <p class="kyiv__text">
            Доставка ліжка чи матраца від 6000 грн. по Києву безкоштовна .
          </p>
        </li>
        <li class="kyiv__item">
          <svg class="kyiv__icon">
            <use href="./images/symbol-defs.svg#icon-border-check"></use>
          </svg>
          <p class="kyiv__text">
            У доставку входить підйом на поверх ліфтом та занесення до квартири
            (занесення сходами оплачується додатково)
          </p>
        </li>
        <li class="kyiv__item">
          <svg class="kyiv__icon">
            <use href="./images/symbol-defs.svg#icon-border-check"></use>
          </svg>
          <p class="kyiv__text">
            Доставка дивана до під'їзду по Києву безкоштовна.
          </p>
        </li>
      </ul>
      <ul class="kyiv__delivery">
        <li class="kyiv__element">
          Доставка так само безкоштовна у: Вишневе, Петропавлівська Борщагівка,
          Софіївська Борщагівка, Новосілки, Чайки, Коцюбинське
        </li>
        <li class="kyiv__element">
          Доставка у міста: Вишгород - 200 грн , Бровари - 250 грн , Бориспіль -
          300 грн , Ірнінь - 200 грн , Буча - 250 грн , Гостомель - 300 грн
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          ./images/desktop/kyiv@1x.webp 1x,
          ./images/desktop/kyiv@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile/kyiv@1x.webp 1x,
          ./images/mobile/kyiv@2x.webp 2x
        "
        media="(min-width: 320px)"
      />
      <img
        src="./images/desktop/kyiv@1x.webp"
        alt="map of kyiv"
        class="kyiv__image"
      />
    </picture>
    <div class="kyiv__square">
      <h4 class="kyiv__square-title">
        Доставка далі 5-ти км. від КП Києва платна та становить 16 грн. за 1 км.
      </h4>
      <p class="kyiv__square-text">
        При покупці на суму до 6000 грн. доставка по Києву оплачується
        замовником у розмірі 250 грн
      </p>
    </div>
  </div>
</section>
