<section class="price">
  <div class="container">
    <h3 class="price__title">Складання</h3>
    <ul class="price__list">
      <li class="price__item">
        <p class="price__text">Складання звичайного ліжка</p>
        <p class="price__price">300 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання ліжка з вбудованим матрацом</p>
        <p class="price__price">350 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання ліжка з підйомним механізмом</p>
        <p class="price__price">500 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання прямого дивана</p>
        <p class="price__price">150 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання кутового дивана</p>
        <p class="price__price">200 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання комода</p>
        <p class="price__price">250 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання приліжкової тумби</p>
        <p class="price__price">150 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання столу</p>
        <p class="price__price">250 грн</p>
      </li>
    </ul>
    <h3 class="price__title price__mobile-title">Занесення</h3>
    <ul class="price__list ">
      <li class="price__item price__element">
        <p class="price__text price__text1">Послуга</p>
        <p class="price__free price__text1">Є ліфт</p>
        <p class="price__price price__text1">Ліфта немає/не працює/ щось не міститься</p>
      </li>
      <li class="price__mobile-item">
        <h3 class="price__mobile-suptitle">Є ліфт</h3>
      </li>
      <li class="price__item price__element">
        <p class="price__text  price__text2">
          Занесення однієї підйомної одиниці* ліжка (1 коробка)
        </p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">30 грн/поверх</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення матраца</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">30 грн/поверх</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення каркаса ліжка (у зібраному вигляді)</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">30 грн/поверх</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення прямого дивана**</p>
        <p class="price__free">150 грн</p>
        <p class="price__price price__price2">30 грн/поверх (за 1 підйомну одиницю)</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення кутового дивана</p>
        <p class="price__free">200 грн</p>
        <p class="price__price price__price2">30 грн/поверх (за 1 підйомну одиницю)</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення комода</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">50 грн</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення тумби</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">10 грн</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення стільця</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">15 грн</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення столу</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">50 грн</p>
      </li>
    </ul>
    <h3 class="price__title price__mobile-title price__mobile-title2">Занесення</h3>
    <ul class="price__list price__mobile-list">
      <li class="price__mobile-item">
        <h3 class="price__mobile-suptitle">Ліфта немає/не працює/ щось не міститься</h3>
      </li>
      <li class="price__item price__element">
        <p class="price__text  price__text2">
          Занесення однієї підйомної одиниці* ліжка (1 коробка)
        </p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">30 грн/поверх</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення матраца</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">30 грн/поверх</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення каркаса ліжка (у зібраному вигляді)</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">30 грн/поверх</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення прямого дивана**</p>
        <p class="price__free">150 грн</p>
        <p class="price__price price__price2">30 грн/поверх (за 1 підйомну одиницю)</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення кутового дивана</p>
        <p class="price__free">200 грн</p>
        <p class="price__price price__price2">30 грн/поверх (за 1 підйомну одиницю)</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення комода</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">50 грн</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення тумби</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">10 грн</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення стільця</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">15 грн</p>
      </li>
      <li class="price__item price__element">
        <p class="price__text price__text2">Занесення столу</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price price__price2">50 грн</p>
      </li>
    </ul>
    <p class="price__discleimer">
      * Занесення великогабаритних деталей, довжина яких перевищує 160*90см або
      вага перевищує 20кг коштує 30грн/поверх . **Занесення дивана, що
      складається з 1 підйомної одиниці 70 грн/поверх без ліфта . ***За
      відсутності вільного під'їзду до парадного, служба доставки самостійно
      розраховує вартість занесення до дверей.
    </p>
  </div>
</section>
