<section class="price">
  <div class="container">
    <h3 class="price__title">Складання</h3>
    <ul class="price__list">
      <li class="price__item">
        <p class="price__text">Складання звичайного ліжка</p>
        <p class="price__price">300 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання ліжка з вбудованим матрацом</p>
        <p class="price__price">350 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання ліжка з підйомним механізмом</p>
        <p class="price__price">500 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання прямого дивана</p>
        <p class="price__price">150 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання кутового дивана</p>
        <p class="price__price">200 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання комода</p>
        <p class="price__price">250 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання приліжкової тумби</p>
        <p class="price__price">150 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Складання столу</p>
        <p class="price__price">250 грн</p>
      </li>
    </ul>
    <h3 class="price__title">Занесення</h3>
    <ul class="price__list">
      <li class="price__item">
        <p class="price__text">Послуга</p>
        <p class="price__free">Є ліфт</p>
        <p class="price__price">Ліфта немає/не працює/ щось не міститься</p>
      </li>
      <li class="price__item">
        <p class="price__text">
          Занесення однієї підйомної одиниці* ліжка (1 коробка)
        </p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price">30 грн/поверх</p>
      </li>
      <li class="price__item">
        <p class="price__text">Занесення матраца</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price">30 грн/поверх</p>
      </li>
      <li class="price__item">
        <p class="price__text">Занесення каркаса ліжка (у зібраному вигляді)</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price">30 грн/поверх</p>
      </li>
      <li class="price__item">
        <p class="price__text">Занесення прямого дивана**</p>
        <p class="price__free">150 грн</p>
        <p class="price__price">30 грн/поверх (за 1 підйомну одиницю)</p>
      </li>
      <li class="price__item">
        <p class="price__text">Занесення кутового дивана</p>
        <p class="price__free">200 грн</p>
        <p class="price__price">30 грн/поверх (за 1 підйомну одиницю)</p>
      </li>
      <li class="price__item">
        <p class="price__text">Занесення комода</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price">50 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Занесення тумби</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price">10 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Занесення стільця</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price">15 грн</p>
      </li>
      <li class="price__item">
        <p class="price__text">Занесення столу</p>
        <p class="price__free">Безкоштовно</p>
        <p class="price__price">50 грн</p>
      </li>
    </ul>
    <p class="price__discleimer">
      * Занесення великогабаритних деталей, довжина яких перевищує 160*90см або
      вага перевищує 20кг коштує 30грн/поверх . **Занесення дивана, що
      складається з 1 підйомної одиниці 70 грн/поверх без ліфта . ***За
      відсутності вільного під'їзду до парадного, служба доставки самостійно
      розраховує вартість занесення до дверей.
    </p>
  </div>
</section>
