<section class="topic">
  <h2 class="topic__title">Доставка та збірка</h2>
  <h3 class="topic__suptitle">Доставка онлайн замовлень по всій Україні.</h3>
  <p class="topic__text">
    Робимо доставку власним транспортом та в усі працюючі відділення Нової
    Пошти. Оплата доставки і збірки здійснюється в момент отримання товару.
  </p>
  <picture>
    <source
      srcset="
        ./images/desktop/delivery@1x.webp     1x,
        ./images/desktop/delivery@2x.webp 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/mobile/delivery@1x.webp 1x,
        ./images/mobile/delivery@2x.webp 2x
      "
      media="(min-width: 320px)"
    />
    <img
      src="./images/desktop/delivery@1x.webp"
      alt="hand with the box"
      class="topic__image"
    />
  </picture>
</section>
