<section class="ukraine">
  <h3 class="ukraine__title">Доставка по Україні:</h3>
  <ul class="ukraine__list">
    <li class="ukraine__item">
      <svg class="ukraine__icon">
        <use href="./images/symbol-defs.svg#icon-border-check"></use>
      </svg>
      <p class="ukraine__text">
        Доставка по Україні здійснюється за рахунок клієнта на відділення або
        адресно клієнту перевізником: "Нової Пошти, Міст експрес, Автолюкс".
      </p>
    </li>
    <li class="ukraine__item">
      <svg class="ukraine__icon">
        <use href="./images/symbol-defs.svg#icon-border-check"></use>
      </svg>
      <p class="ukraine__text">
        Металеві ліжка доставляють за межі Київської області "Новою поштою"
        адресно за рахунок клієнта (орієнтовна вартість доставки 250-300 грн).
      </p>
    </li>
    <li class="ukraine__item">
      <svg class="ukraine__icon">
        <use href="./images/symbol-defs.svg#icon-border-check"></use>
      </svg>
      <p class="ukraine__text">
        "Додаткова" відправка, наприклад (ящиків, тумб або комода) оплачується
        клієнтом.
      </p>
    </li>
  </ul>
  <ul class="ukraine__delivery">
    <li class="ukraine__element">
      Послуга «Податковий платіж» – (оплата при отриманні замовлення), додатково
      до вартості замовлення оплачується +1.5-2% за послугу післяплати, залежно
      від обраного оператора вантажоперевезень.
    </li>
    <li class="ukraine__element">
      Послуга «Утилізація старих меблів» – розраховується, виходячи з габаритів
      меблів або матраца і становить від 50 до 400грн. Додатково оплачується
      винесення меблів згідно з тарифами, на занесення товару.
    </li>
  </ul>
  <picture>
    <source
      srcset="
        ./images/desktop/ukraine@1x.webp     1x,
        ./images/desktop/ukraine-bed@2x.webp 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/mobile/ukraine@1x.webp 1x,
        ./images/mobile/ukraine@2x.webp 2x
      "
      media="(min-width: 320px)"
    />
    <img
      src="./images/desktop/ukraine@1x.webp"
      alt="map of ukraine"
      class="ukraine__image"
    />
  </picture>
  <div class="ukraine__square">
    <h4 class="ukraine__square-title">
      При відправленні товару по Україні, акції: (занесення безкоштовно,
      наматрацник у подарунок, безкоштовне складання) не діють.
    </h4>
  </div>
  <ul class="ukraine__disclaimers">
    <li class="ukraine__discleamer">
      <p class="ukraine__warning">
        *В усіх випадках зазначена вартість доставки до під'їзду (воріт
        приватного будинку). У базову вартість доставки не входить вартість
        занесення меблів. Занесення товару на поверх/у квартиру здійснюється за
        домовленістю за окрему оплату.
      </p>
    </li>
    <li class="ukraine__discleamer">
      <p class="ukraine__warning">
        ** додаткове упакування товару оплачується клієнтом у будь-якому
        випадку! Увага! Вартість доставки вказана до парадного будинку (воріт
        приватного будинку) і не враховує занесення товару. Занесення товару
        здійснюється за домовленістю за окрему оплату згідно з тарифами, на
        занесення товару.
      </p>
    </li>
  </ul>
</section>
