.orderin {
  background: var(--Theme-Light, #f8f8f8);
}

.order__box-flexall {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.order__box-bgin {
  background: white;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  @media screen and (min-width: 1290px) {
    border-radius: 8px;
    background: #fff;
    padding: 30px 0 30px 27px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    width: 730px;
    margin-left: 0;
    margin-right: 0;
    // margin-right: ;
  }
}

.order__titlein {
  color: var(--Theme-Dark, $dark-color);
  font-family: "Roboto";
  @include font(var(--Theme-Dark, $dark-color), 48px, 30px, 600);
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, $dark-color);
    font-family: "Roboto";
    @include font(var(--Theme-Dark, $dark-color), 48px, 40px, 600);
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.order__numberin {
  color: var(--Theme-Yellow, #ffbc57);
  font-family: "Roboto";
  @include font(var(--Theme-Yellow, #ffbc57), 48px, 30px, 600);
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Yellow, #ffbc57);
    font-family: "Roboto";
    @include font(var(--Theme-Yellow, #ffbc57), 48px, 40px, 600);
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.order__title-labelin {
  color: var(--Theme-Dark, $dark-color);
  font-family: "Roboto";
  @include font(var(--Theme-Dark, $dark-color), 28px, 20px, 600);

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, $dark-color);
    font-family: "Roboto";
    @include font(var(--Theme-Dark, $dark-color), 34px, 26px, 600);
  }
}

.order__label-iconin {
  width: 40px;
  height: 40px;
  background-color: $yellow-color;
  border-radius: 50%;
  padding: 10px;
  fill: white;

  @media screen and (min-width: 1290px) {
    width: 60px;
    height: 60px;
    background-color: $yellow-color;
    border-radius: 50%;
    padding: 15px 13px 13px 15px;
    fill: white;
  }
}

.order__box1in {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 43px;
}

.order__inputin {
  width: 350px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  border: 1px solid var(--Theme-Grey-light, #d1d5d5);
  background: #fff;

  @media screen and (min-width: 1290px) {
    width: 325px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    border: 1px solid var(--Theme-Grey-light, #d1d5d5);
    background: #fff;
  }
}

.order__checkboxin {
  width: 24px;
  height: 24px;
}

.order__label-checkboxin {
  color: var(--Theme-Grey, $grey-color);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.order__box2in {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.order__box3in {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.order__list-titlein {
  display: flex;
  align-items: center;
  gap: 5px;
}

.location-pages-bl {
  color: var(--Theme-Grey, $grey-color);

  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Grey, $grey-color);

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}

.location-pages-yl {
  color: var(--Theme-Yellow, $yellow-color);

  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Yellow, $yellow-color);

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}

.location-icon {
  width: 8px;
  height: 8px;
  @extend flex-center !optional;
}

.order__box-bgdl {
  border-radius: 8px;
  background: #fff;
  padding: 30px 30px 30px 30px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  width: 410px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1290px) {
    border-radius: 8px;
    background: #fff;
    padding: 30px 0 30px 30px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    width: 730px;
    margin-left: 0;
    margin-top: 5px;
  }
}

.order__titledl {
  color: var(--Theme-Dark, $dark-color);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, $dark-color);
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
  }
}

.order__icon-choisedl {
  width: 40px;
  height: 40px;
  background-color: $yellow-color;
  border-radius: 50%;
  padding: 10px;
  fill: white;
  display: block;

  @media screen and (min-width: 1290px) {
    width: 60px;
    height: 60px;
    background-color: $yellow-color;
    border-radius: 50%;
    padding: 10px 15px 5px 15px;
    fill: white;
    display: block;
  }
}

.order__box1dl {
  display: flex;
  align-items: center;
  gap: 15px;
}

.order__icon-tickdl {
  width: 40px;
  height: 40px;
  fill: $yellow-color;
  margin-bottom: 10px;
  margin-left: 60px;
  @media screen and (min-width: 1290px) {
    width: 40px;
    height: 40px;
    fill: $yellow-color;
    margin-bottom: 10px;
    margin-left: 56px;
  }
}

.order__icon-npdl {
  width: 40px;
  height: 40px;
  fill: #ff090b;
  margin-bottom: 10px;
  margin-left: 60px;

  @media screen and (min-width: 1290px) {
    width: 40px;
    height: 40px;
    fill: #ff090b;
    margin-bottom: 10px;
    margin-left: 56px;
  }
}

.order__icon-peopledl {
  width: 52px;
  height: 40px;
  fill: $grey-color;
  margin-bottom: 10px;
  margin-left: 40px;

  @media screen and (min-width: 1290px) {
    width: 52px;
    height: 40px;
    fill: $grey-color;
    margin-bottom: 10px;
    margin-left: 37px;
  }
}

.order__card-titledl {
  color: var(--Theme-Dark, $dark-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, $dark-color);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 900px;
    text-align: center;
  }
}

.order__card-subtitledl {
  color: var(--Theme-Grey, $grey-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Grey, $grey-color);
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
}

.order__itemdl {
  border-radius: 8px;
  width: 350px;
  border: 3px solid var(--Theme-Light, $light-color);
  background: #fff;
  padding: 20px 40px;
  transition: all;
  transition-duration: 300ms;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1290px) {
    border-radius: 8px;
    border: 3px solid var(--Theme-Light, $light-color);
    background: #fff;
    width: 216px;
    padding: 20px 20px;
    transition: all;
    transition-duration: 300ms;
  }
}

.order__list-choisedl {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 43px;
  flex-wrap: wrap;
  // max-width: 180px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1290px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-top: 43px;
    max-width: 100%;
  }
}

.order__itemdl:hover {
  border: 3px solid var(--Theme-Yellow, $yellow-color);
}

// .order__choisedl {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
// }

.order__svg-locationdl {
  width: 40px;
  height: 40px;
  fill: $grey-light-color;
}

.order__text-timetabledl {
  color: var(--Theme-Dark, $dark-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, $dark-color);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
    text-align: start;
    // margin-right: 162px;
  }
}

.order__text-addresdl {
  color: var(--Theme-Dark, $dark-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, $dark-color);
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 20px;
    margin-right: 85px;
  }
}

.order__mapdl {
  width: 24px;
  height: 24px;
}

.order__buttondl {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  gap: 10px;
  border-radius: 8px;
  background: var(--Theme-Yellow, $yellow-color);
  fill: white;
  color: #fff;
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
}

.order__boxdl {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  width: 350px;
  height: 266px;
  border-radius: 8px;
  background: var(--Theme-Light, $light-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 1290px) {
    margin-top: 20px;
    padding: 20px;
    width: 675px;
    height: 103px;
    border-radius: 8px;
    background: var(--Theme-Light, $light-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0;
  }
}

.order {
  background: var(--Theme-Light, $light-color);
  margin-top: 5px;
}

.order__box-bgpm {
  border-radius: 8px;
  background: #fff;
  padding: 30px 0 30px 27px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  width: 410px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1290px) {
    border-radius: 8px;
    background: #fff;
    padding: 30px 0 30px 27px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    width: 730px;
    margin-left: 0;
    margin-top: 5px;
  }
}

.order__titlepm {
  color: var(--Theme-Dark, $dark-color);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, $dark-color);
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
  }
}

.order__iconpm {
  width: 40px;
  height: 40px;
  background-color: $yellow-color;
  border-radius: 50%;
  fill: white;
  padding: 5px 5px 3px 8px;

  @media screen and (min-width: 1290px) {
    width: 60px;
    height: 60px;
    background-color: $yellow-color;
    border-radius: 50%;
    fill: white;
    padding: 15px 10px 10px 19px;
  }
}

.order__boxpm {
  display: flex;
  gap: 15px;
  align-items: center;
}

.order__listpm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 1290px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    margin-top: 30px;
    margin-bottom: 34px;
  }
}

.order__itempm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.order__inputpm {
  width: 24px;
  height: 24px;
}

.order__labelpm {
  color: var(--Theme-Dark, $dark-color);
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, $dark-color);
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
  }
}

.visapm,
.mastercardpm,
.privatpaypm,
.privatbankpm,
.monobankpm {
  width: 48px;
  height: 32px;
}

.ordercm {
  background: var(--Theme-Light, $light-color);
  margin-top: 5px;
}

.order__box-bgcm {
  border-radius: 8px;
  background: #fff;
  padding: 30px 0 30px 27px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  width: 410px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1290px) {
    border-radius: 8px;
    background: #fff;
    padding: 30px 0 30px 27px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    width: 730px;
    margin-left: 0;
    margin-top: 5px;
  }
}

.order__svgcm {
  width: 40px;
  height: 40px;
  background-color: #ffbc57;
  border-radius: 50%;
  fill: white;
  padding: 10px;

  @media screen and (min-width: 1290px) {
    width: 60px;
    height: 60px;
    background-color: #ffbc57;
    border-radius: 50%;
    fill: white;
    padding: 15px;
  }
}

.order__titlecm {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  @media screen and (min-width: 1290px) {
    color: var(--Theme-Dark, #2b2929);
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
  }
}

.order__boxcm {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.order__inputcm {
  width: 350px;
  height: 150px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Theme-Grey-light, #d1d5d5);
  background: #fff;

  @media screen and (min-width: 1290px) {
    width: 680px;
    height: 150px;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Theme-Grey-light, #d1d5d5);
    background: #fff;
  }
}

.order__box-bgsh {
  margin-top: 5px;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background: var(--Theme-Light, #f8f8f8);
}

@media screen and (min-width: 1290px) {
  .order__box-bgsh {
    background: var(--Theme-Light, #f8f8f8);
    border-radius: 8px;
    background: #fff;
    padding: 30px 0 30px 27px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    width: 520px;
    margin-left: 0;
    margin-top: 0;
    height: 1520px;
  }
}

.order__imgsh {
  width: 120px;
  height: 100px;
  margin-bottom: 15px;
}

.order__titlesh {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
}

@media screen and (min-width: 1290px) {
  .order__titlesh {
    margin-bottom: 20px;
  }
}

.order__numbersh {
  color: var(--Theme-Yellow, #ffbc57);
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
}

.order__boxsh {
  display: flex;
  gap: 15px;
}

.order__box-btnsh {
  display: flex;
  width: 120px;
  height: 50px;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Theme-Grey-light, #b1b1b1);
  background: var(--Theme-Light, #f8f8f8);
}

.order__kilkist-minush,
.order__kilkist-plush {
  background-color: transparent;
  color: var(--Theme-Dark, #2b2929);
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.order__kilkist-textsh {
  background-color: transparent;
  color: var(--Theme-Dark, #2b2929);
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.order__widthsh {
  color: var(--Theme-Grey, #535353);
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 5px;
}

.order__bed-namesh {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
  max-width: 276px;
}

.order__icon-checksh {
  width: 24px;
  height: 24px;
  fill: gray;
}

.order__checksh {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

.order__pricesh {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.order__priceshr {
  color: #e03d3d;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  text-decoration-line: strikethrough;
}

.order__itemsh {
  position: relative;

  display: flex;
  border-bottom: 2px solid #c5c5c5;
  margin-top: 30px;
  margin-right: 30px;
}

.order__box-cardsh {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 20px;
}

// .order__see-allsh {
//   color: var(--Theme-Yellow, #ffbc57);
//   font-family: "Roboto";
//   font-size: 19px;
//
//   font-weight: 600;
//   line-height: 24px;
//   margin-top: 40px;
// }

// @media screen and (min-width: 1290px) {
//   .order__see-allsh {
//     display: none;
//   }
// }

.order__see-allsh {
  position: absolute;
  top: 126px;
  left: 131px;
  z-index: 2;
  opacity: 1;

  background-color: transparent;

  color: var(--Theme-Yellow, #ffbc57);
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  width: 148px;
  height: 24px;

  @media screen and (min-width:1290px){
    display: none;
  }
}

.order__box-checksh {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 17px;
}

.order__crosssh {
    margin-top: 5px;
    margin-left: 20px;
    padding: 5px 4px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 2px solid #ffbc57;
    border-radius: 50%;
}

.order__itemsh {
  margin-bottom: 60px;
}

.order__item-adaptivesh {
  display: none;

@media screen and (min-width: 1290px) {
  display: flex;
}
}

.order__boxxxsh {
  background-color: transparent;
  width: 100px;
  height: 60px;
}

.order__boxxxxsh {
  display: none;

@media screen and (min-width: 1290px) {
    display: flex;
}
}

.order__icon-promosh {
  width: 26.663px;
  height: 26.663px;
  fill: var(--Theme-Yellow, #ffbc57);
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width:1290px) {
    argin-top: auto;
  margin-bottom: auto;
  }
}

.order__promosh {
  color: var(--Theme-Dark, #0c0d0d);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-right: 40px;
  margin-left: 10px;
}

.order__inputlsh {
  display: flex;
  width: 176px;
  padding: 15px 20px;
  align-items: center;
  gap: 10px;
}

.order__inputsh {
  display: flex;
  width: 176px;
  padding: 15px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Theme-Grey-light, #d1d5d5);
  background: #fff;
}

.order__oksh {
  display: flex;
  width: 83px;
  height: 50px;
  margin-left: 10px;
  padding: 10px 19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: #ffbc57;
  border-radius: 8px;
  color: #fff;
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
}

.order__box-promosh {
  background-color: white;
  padding: 30px 22px 0px 30px;
  border-radius: 8px;
  @media screen and (min-width:1290px){
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: none;
    padding: 0;
    margin-left: 15px;
  }
}

.order__box-flexallsh{
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__promo-flexsh {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order__boxx-flexalsh{
  display: flex;
}

.order__box-promoline{
  display: flex;
}

.order__crosssh {
  margin-top: 5px;
  margin-left: 20px;
  padding: 7px 4px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid #ffbc57;
  border-radius: 50%;
}

.order__box-bgfl {
  border-radius: 8px;
  background: #fff;
  padding: 30px 0 30px 27px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  width: 410px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1290px) {
    border-radius: 8px;
    background: #fff;
    padding: 30px 27px 30px 27px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    width: 520px;
    margin-left: 0;
  }
}

.order__titlefl {
  color: var(--Theme-Dark, #2b2929);
  text-align: center;
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  text-align: start;
}

.order__textfl {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  flex-shrink: 0;
}

.order__text-brfl {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  flex-shrink: 0;
}

.order__labelfl {
  color: var(--Theme-Dark, #0c0d0d);
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  max-width: 326px;

  @media screen and (min-width: 1290px) {
    color: #0c0d0d;
    text-align: center;
    font-family: "Roboto";
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    max-width: 426px;
    text-align: start;
    margin-left: 10px;
  }
}

.order__buttonfl {
  display: flex;
  width: 350px;
  height: 50px;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Theme-Yellow, #ffbc57);
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 30px;

  @media screen and (min-width: 1290px) {
    display: flex;
    width: 460px;
    height: 50px;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background-color: #ffbc57;
    border-radius: 8px;
    margin-top: 30px;

    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
  }
}

.order__policy-blfl {
  color: #535353;
  text-align: center;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  // text-align: start;
  margin-top: 20px;
  margin-bottom: 30px;
}

.order__policy-ylfl {
  color: #ffbc57;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}

.order__listfl {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order__itemfl {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
}

.order__formfl {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 39px;
}

.order__boxfl {
  max-width: 340px;
  text-align: center;

  @media screen and (min-width: 1290px) {
    max-width: 460px;
    text-align: center;
  }
}

.order__line-mobilefl {
  display: none;

  @media screen and (min-width: 1290px) {
    display: flex;
  }
}

.order__box-downfl {
  margin-top: 50px;
}

.order__box-textfl {
  display: flex;
  flex-direction: row;
}

.order__box-linefl {
  border-top: 1px dashed $grey-color;
  width: 100%;
}

.order__box-flexallfl {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;

  // @media screen and (min-width:1290px){
  //   flex-wrap: wrap;
  // }
}

.order__gradient-adaptive {
  position: absolute;

  opacity: 1;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0) 0%,
    rgba(248, 248, 248, 0.8) 33.85%,
    #f8f8f8 72.4%
  );
  width: 410px;
  height: 170px;
  z-index: 0;

  @media screen and (min-width:1290px){
    display: none;
  }
}
// .order__box-line{
//   border-top: 1px dashed $grey-color;
//   width: 100%;
// }
