.payment__box-bg {
  border-radius: 8px;
  background: #fff;
  padding: 30px 0 30px 27px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  width: 410px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1290px) {
    border-radius: 8px;
    background: #fff;
    padding: 30px 27px 30px 27px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    width: 520px;
    margin-left: 0;
  }
}

.payment__title {
  color: var(--Theme-Dark, #2b2929);
  text-align: center;
  font-family: "Roboto";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  text-align: start;
}

.payment__text {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
    flex-shrink: 0;
}

.payment__text-br {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Roboto";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  flex-shrink: 0;
}

.payment__label {
  color: var(--Theme-Dark, #0c0d0d);
  font-family: "Roboto";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 326px;

  @media screen and (min-width: 1290px) {
    color: #0c0d0d;
    text-align: center;
    font-family: "Roboto";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 426px;
  }
}

.payment__button {
  display: flex;
  width: 350px;
  height: 50px;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Theme-Yellow, #ffbc57);
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: 30px;

  @media screen and (min-width: 1290px) {
    display: flex;
    width: 460px;
    height: 50px;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background-color: #ffbc57;
    border-radius: 8px;
    margin-top: 30px;

    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

.payment__policy-bl {
  color: var(--Theme-Grey, #535353);
  text-align: center;
  font-family: "Roboto";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  // text-align: start;
  margin-top: 20px;
  margin-bottom: 30px;
}

.payment__policy-yl {
  color: var(--Theme-Yellow, #ffbc57);
  font-family: "Roboto";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.payment__list {
  display: flex;
}

.payment__form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 39px;
}

.payment__box {
  max-width: 340px;
  text-align: center;

  @media screen and (min-width: 1290px) {
    max-width: 460px;
    text-align: center;
  }
}

.payment__line-mobile{
    display: none;

    @media screen and (min-width:1290px){
        display: flex;
    }
}

.payment__box-text{
    display: flex;
    flex-direction: row;
}

.payment__box-line{
        border-top: 1px dashed $grey-color;
        width: 100%;
}

.payment__box-flex{
display: flex;
flex-direction: column;
align-items: center;
}

