.ukraine {
  padding-top: 121px;

  @media screen and (min-width: 768px) {
    padding-top: 140px;
  }
  &__square {
    padding: 60px 25px;

    @media screen and (max-width: 420px) {
      padding: 35px 25px;
    }

    @media screen and (min-width: 768px) {
      padding: 100px 40px;
    }
  }
  &__title {
    margin-bottom: 0;
    max-width: 340px;
  }
  &__container {
    margin-top: 70px;
  }
  &__warning {
    color: $dark-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
  }
  &__discleamer:first-child {
    margin-bottom: 10px;
  }
}
