.subcategories {
  padding-top: 65px;
  padding-bottom: 70px;

  &__title {
    color: $dark-color;
    font-size: 30px;
    font-weight: 600;
    line-height: 133%;
    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 120%;
    }
  }
  &__subtitle {
    color: $grey-light-color;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
  }
  &__main {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  &__hide {
    color: $yellow-color;
    font-size: 19px;
    font-weight: 600;
    line-height: 126%;
    text-align: center;
    display: block;
    padding-top: 30px;
  }
  &__item {
    width: 200px;
    height: 180px;
    flex-basis: calc((100% - 10px) / 2);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 20px 20px 112px;
    position: relative;
    @media screen and (max-width: 350px) {
      flex-basis: calc((100% - 1px) / 2);
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 20px) / 3);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 40px) / 5);
    }
  }
  &__item::after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background-color: $yellow-color;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 47%;
  }
  &__item:nth-child(1) {
    background-image: url(../images/mobile/1person-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/1person-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/1person-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/1person-bed@2x.webp);
      }
    }
  }

  &__item:nth-child(2) {
    background-image: url(../images/mobile/2person-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/2person-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/2person-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/2person-bed@2x.webp);
      }
    }
  }

  &__item:nth-child(3) {
    background-image: url(../images/mobile/sofa-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/sofa-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/sofa-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/sofa-bed@2x.webp);
      }
    }
  }

  &__item:nth-child(4) {
    background-image: url(../images/mobile/wooden-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/wooden-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/wooden-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/wooden-bed@2x.webp);
      }
    }
  }

  &__item:nth-child(5) {
    background-image: url(../images/mobile/metal-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/metal-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/metal-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/metal-bed@2x.webp);
      }
    }
  }

  &__item:nth-child(6) {
    background-image: url(../images/mobile/soft-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/soft-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/soft-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/soft-bed@2x.webp);
      }
    }
  }

  &__item:nth-child(7) {
    background-image: url(../images/mobile/podium-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/podium-bed@1x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/podium-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/podium-bed@1x.webp);
      }
    }
  }

  &__item:nth-child(8) {
    background-image: url(../images/mobile/kids-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/kids-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/kids-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/kids-bed@2x.webp);
      }
    }
  }

  &__item:nth-child(9) {
    background-image: url(../images/mobile/mech-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/mech-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/mech-beds@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/mech-beds@2x.webp);
      }
    }
  }

  &__item:nth-child(10) {
    background-image: url(../images/mobile/promo-bed@1x.webp);

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/promo-bed@2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/desktop/promo-bed@1x.webp);
      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/promo-bed@2x.webp);
      }
    }
  }
  &__text {
    color: $dark-color;
    text-align: center;
    font-size: 17px;

    font-weight: 400;
    line-height: 141%;
    @media screen and (min-width: 768px) {
      font-weight: 600;
      line-height: 126.316%;
    }
  }
}
