<div class="backdrop is-hidden" data-catalog-modal>
  <div class="catalog-modal">
    <ul class="catalog-modal__list">
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-1"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-1"></use>
            </svg>
            <label for="radio-1" class="catalog-modal__text">Ліжка</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Ліжко з дерева</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Металеве ліжко</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Ліжко з оббивкою</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Ліжко з підйомним механізмом
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Дитяче ліжко</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Ліжко зі шпалерами</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Ліжко з металевими орнаментами
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Ліжко зі склом</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Ліжко зі шкіряним оббивкою</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-2"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-2"></use>
            </svg>
            <label for="radio-2" class="catalog-modal__text">Матраци</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Односпальні матраци</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Двоспальні матраци</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Пружинний блок Bonnel</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Пружинний блок Pocket Spring
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Безпружинні матраци</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Матраци з ефектом Зима-Літо
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Футони</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Дитячі матраци</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Матраци Економ</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-3"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-3"></use>
            </svg>
            <label for="radio-3" class="catalog-modal__text">М’які меблі</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Диван</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Крісло-мішок</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Кутовий диван</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Ліжко-диван</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Пуф</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Модульний диван</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Реклайнер</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Шезлонг</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Канапе</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-4"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-4"></use>
            </svg>
            <label for="radio-4" class="catalog-modal__text">Шафи</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Класична дерев’яна шафа</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Сучасна шафа з дзеркалами</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Шафа-купе</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Модульна шафа</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Шафа для взуття</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Дитяча шафа</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Шафа для книг</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Шафа для одягу з органайзером
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Шафа-пенал</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-5"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-5"></use>
            </svg>
            <label for="radio-5" class="catalog-modal__text">Комоди</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Комод з дерева</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Модерністський комод</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Комод з витяжними ящиками</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Комод з дзеркалами</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Комод для білизни</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Комод для документів</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Дитячий комод</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Комод зі скляними полицями</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Комод з металевими деталями
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-6"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-6"></use>
            </svg>
            <label for="radio-6" class="catalog-modal__text">Тумби</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Тумба під телевізор</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Нічна тумба</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Тумба для ванної кімнати</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Офісна тумба</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Тумба-комод</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Тумба для взуття</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Тумба-бар</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Тумба з вітринними полицями
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Тумба для аудіоапаратури</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-7"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-7"></use>
            </svg>
            <label for="radio-7" class="catalog-modal__text">Столи</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Обідній стіл</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Кавовий столик</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Письмовий стіл</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Консольний стіл</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Стіл для пікніка</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Барний стіл</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Стіл-трансформер</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Журнальний стіл</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Стіл для рукоділля</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-8"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-8"></use>
            </svg>
            <label for="radio-8" class="catalog-modal__text">Стільці</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Класичний дерев’яний стілець
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Барний стілець</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Офісний стілець</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Крісло-гойдалка</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Стілець-мішок</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Складаний стілець</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Стілець для їдальні з оббивкою`
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Стілець для відпочинку</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Дитячий стілець</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-9"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-9"></use>
            </svg>
            <label for="radio-9" class="catalog-modal__text"
              >Меблеві стіни</label
            >
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Меблева стіна для вітальні</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Модульна меблева стіна</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Меблева стіна в скандинавському стилі
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Сучасна меблева стіна</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Класична меблева стіна</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Меблева стіна для дитячої кімнати
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Меблева стіна зі шкіряними вставками
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Мінімалістична меблева стіна
              </p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">
                Меблева стіна з інтегрованим робочим місцем
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-modal__item">
        <div class="catalog-modal__position">
          <input
            type="radio"
            class="catalog-modal__radio"
            name="radio"
            id="radio-10"
          />
          <div class="catalog-modal__box">
            <svg class="catalog-modal__icon">
              <use href="../images/symbol-defs.svg#icon-catalog-modal-10"></use>
            </svg>
            <label for="radio-10" class="catalog-modal__text">Кухні</label>
            <svg class="catalog-modal__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
          <ul class="catalog-modal__acordeon">
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Класична кухня</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Сучасна кухня</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Кухня в стилі кантрі</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Індустріальна кухня</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Модульна кухня</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Кухня з острівцем</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Еко-кухня</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Кухня в стилі прованс</p>
            </li>
            <li class="catalog-modal__acordeon-item">
              <p class="catalog-modal__paragraph">Компактна кухня</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
