<header class="header">
  <nav class="header__nav">
    <a href="./about-us.html" class="header__link">Про нас</a>
    <a href="./payment.html" class="header__link">Оплата</a>
    <a href="./delivery.html" class="header__link">Доставка та збірка</a>
    <a href="./rewiews.html" class="header__link">Відгуки</a>
    <a href="./blog.html" class="header__link">Блог</a>
    <a href="./contacts.html" class="header__link">Контакти</a>
  </nav>
  <div class="header__help">
    <p class="header__text">Допомога і консультація:</p>
    <ul class="header-networks">
      <li class="header__network">
        <svg class="header__icon">
          <use href="../../images/symbol-defs.svg#icon-whatsapp"></use>
        </svg>
      </li>
      <li class="header__network">
        <svg class="header__icon">
          <use href="./images/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </li>
      <li class="header__network">
        <svg class="header__icon">
          <use href="./images/symbol-defs.svg#icon-Viber"></use>
        </svg>
      </li>
    </ul>
    <select class="header__select">
      <option class="header__option" selected disabled value>UA</option>
      <option class="header__option" disabled value>ENG</option>
    </select>
  </div>
  <div class="header__filter">
    <svg class="header__logo">
      <use href="../../images/symbol-defs.svg#icon-logo"></use>
    </svg>
    <button class="header__btn">
      Каталог
      <svg class="header__katalog">
        <use href="../../images/symbol-defs.svg#icon-catalog"></use>
      </svg>
    </button>
    <form class="header__form">
      <input type="search" placeholder="Пошук товарів" />
      <svg class="header__search">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </form>
  </div>
  <div class="header__call">
    <svg class="header__phone">
      <use href="./images/symbol-defs.svg#icon-call"></use>
    </svg>
    <p class="header__hours">Щодня з 9:00 до 18:00</p>
    <h2 class="header__number">067 929-45-45</h2>
    <svg class="header__more">
      <use href="../../images/symbol-defs.svg#icon-main-hero-right"></use>
    </svg>
  </div>
  <ul class="header__icons">
    <li class="header__options">
      <svg class="header__option">
        <use href="../../images/symbol-defs.svg#icon-heart"></use>
      </svg>
    </li>
    <li class="header__options">
      <svg class="header__option">
        <use href="./images/symbol-defs.svg#icon-basket2"></use>
      </svg>
    </li>
  </ul>
  <div class="header__column">
    <ul class="header__sales">
      <li class="header__sale">
        <svg class="header__badge">
          <use href="./images/symbol-defs.svg#icon-full-star"></use>
        </svg>
        <p class="header__cursive">Акції</p>
      </li>
      <li class="header__sale">
        <svg class="header__badge">
          <use href="./images/symbol-defs.svg#icon-monogramm"></use>
        </svg>
        <p class="header__cursive">Розпродаж</p>
      </li>
      <li class="header__sale">
        <svg class="header__badge">
          <use href="./images/symbol-defs.svg#icon-percent"></use>
        </svg>
        <p class="header__cursive">Купити в кредит</p>
      </li>
    </ul>
    <ul class="header__list">
      <li class="header__item">
        <a href="#" class="header__tab">Дитяча</a>
      </li>
      <li class="header__item">
        <a href="" class="header__tab">Кухня</a>
      </li>
      <li class="header__item">
        <a href="" class="header__tab">Ванна</a>
      </li>
      <li class="header__item">
        <a href="" class="header__tab">Спальня</a>
      </li>
      <li class="header__item">
        <a href="" class="header__tab">Передпокій</a>
      </li>
      <li class="header__item">
        <a href="" class="header__tab">Вітальня</a>
      </li>
      <li class="header__item">
        <a href="" class="header__tab">Офіс</a>
      </li>
    </ul>
  </div>
</header>
