<section class="last-reviews">
  <div class="container">
    <h2 class="last-reviews__title">Останні відгуки</h2>
    <div class="last-reviews__flex">
      <div class="last-reviews__bg">
        <svg class="last-reviews__icon">
          <use href="../images/symbol-defs.svg#icon-sofa"></use>
        </svg>
      </div>
      <div class="last-reviews__box">
        <h3 class="last-reviews__subtitle">
          Магазин меблів для дому «KROVATO»
        </h3>
        <div class="last-reviews__opinion">
          <p class="last-reviews__rating">5.0</p>
          <ul class="last-reviews__stars">
            <li class="last-reviews__star">
              <svg class="last-reviews__starlet last-reviews__starlet--main">
                <use href="./images/symbol-defs.svg#icon-full-star"></use>
              </svg>
            </li>
            <li class="last-reviews__star">
              <svg class="last-reviews__starlet last-reviews__starlet--main">
                <use href="./images/symbol-defs.svg#icon-full-star"></use>
              </svg>
            </li>
            <li class="last-reviews__star">
              <svg class="last-reviews__starlet last-reviews__starlet--main">
                <use href="./images/symbol-defs.svg#icon-full-star"></use>
              </svg>
            </li>
            <li class="last-reviews__star">
              <svg class="last-reviews__starlet last-reviews__starlet--main">
                <use href="./images/symbol-defs.svg#icon-full-star"></use>
              </svg>
            </li>
            <li class="last-reviews__star">
              <svg class="last-reviews__starlet last-reviews__starlet--main">
                <use href="./images/symbol-defs.svg#icon-full-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="last-reviews__text">Базовано на відгуках: 269</p>
      </div>
    </div>
    <div class="last-reviews__buttons">
      <button class="last-reviews__btn">
        <svg class="last-reviews__chat last-reviews__chat--first">
          <use href="../images/symbol-defs.svg#icon-write"></use>
        </svg>
        <span class="last-reviews__span">Написати відгук</span>
      </button>
      <a href="./reviews.html" class="last-reviews__link">
        <svg class="last-reviews__chat last-reviews__chat--second">
          <use href="./images/symbol-defs.svg#icon-chat "></use>
        </svg>
        <span>Всі відгуки</span>
      </a>
    </div>
    <ul class="last-reviews__list">
      <li class="last-reviews__item">
        <div class="last-reviews__flex2">
          <div class="last-reviews__case">
            <svg class="last-reviews__profile">
              <use href="../images/symbol-defs.svg#icon-user"></use>
            </svg>
          </div>
          <div class="last-reviews__box2">
            <p class="last-reviews__name">Іван Стедниця</p>
            <ul class="last-reviews__stars">
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <time datetime="2022-01-25" class="last-reviews__time"
            >25.01.2022</time
          >
        </div>
        <p class="last-reviews__review">
          Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким
          довелося контактувати при виборі та купівлі дивану Orange-Line Родео
          SF17-LX6-PLNGR. Велику допомогу при виборі надала фахівець із продажу
          Уляна ...
        </p>
        <div class="last-reviews__block">
          <picture>
            <source
              srcset="
                ./images/mobile/line-sofa@1x.webp 1x,
                ./images/mobile/line-sofa@2x.webp 2x
              "
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/desktop/line-sofa@1x.webp 1x,
                ./images/desktop/line-sofa@2x.webp 2x
              "
              media="(min-width:1290px)"
            />
            <img
              src="./images/desktop/line-sofa@1x.webp"
              alt="диван"
              class="last-reviews__img"
            />
          </picture>
          <p class="last-reviews__product">Диван Orange-Line Родео SF ...</p>
        </div>
      </li>
      <li class="last-reviews__item">
        <div class="last-reviews__flex2">
          <div class="last-reviews__case">
            <svg class="last-reviews__profile">
              <use href="../images/symbol-defs.svg#icon-user"></use>
            </svg>
          </div>
          <div class="last-reviews__box2">
            <p class="last-reviews__name">Іван Стедниця</p>
            <ul class="last-reviews__stars">
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <time datetime="2022-01-25" class="last-reviews__time"
            >25.01.2022</time
          >
        </div>
        <p class="last-reviews__review">
          Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким
          довелося контактувати при виборі та купівлі дивану Orange-Line Родео
          SF17-LX6-PLNGR. Велику допомогу при виборі надала фахівець із продажу
          Уляна ...
        </p>
        <div class="last-reviews__block">
          <picture>
            <source
              srcset="
                ./images/mobile/line-sofa@1x.webp 1x,
                ./images/mobile/line-sofa@2x.webp 2x
              "
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/desktop/line-sofa@1x.webp 1x,
                ./images/desktop/line-sofa@2x.webp 2x
              "
              media="(min-width:1290px)"
            />
            <img
              src="./images/desktop/line-sofa@1x.webp"
              alt="диван"
              class="last-reviews__img"
            />
          </picture>
          <p class="last-reviews__product">Диван Orange-Line Родео SF ...</p>
        </div>
      </li>
      <li class="last-reviews__item">
        <div class="last-reviews__flex2">
          <div class="last-reviews__case">
            <svg class="last-reviews__profile">
              <use href="../images/symbol-defs.svg#icon-user"></use>
            </svg>
          </div>
          <div class="last-reviews__box2">
            <p class="last-reviews__name">Іван Стедниця</p>
            <ul class="last-reviews__stars">
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="last-reviews__star">
                <svg class="last-reviews__starlet last-reviews__starlet--user">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <time datetime="2022-01-25" class="last-reviews__time"
            >25.01.2022</time
          >
        </div>
        <p class="last-reviews__review">
          Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким
          довелося контактувати при виборі та купівлі дивану Orange-Line Родео
          SF17-LX6-PLNGR. Велику допомогу при виборі надала фахівець із продажу
          Уляна ...
        </p>
        <div class="last-reviews__block">
          <picture>
            <source
              srcset="
                ./images/mobile/line-sofa@1x.webp 1x,
                ./images/mobile/line-sofa@2x.webp 2x
              "
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/desktop/line-sofa@1x.webp 1x,
                ./images/desktop/line-sofa@2x.webp 2x
              "
              media="(min-width:1290px)"
            />
            <img
              src="./images/desktop/line-sofa@1x.webp"
              alt="диван"
              class="last-reviews__img"
            />
          </picture>
          <p class="last-reviews__product">Диван Orange-Line Родео SF ...</p>
        </div>
      </li>
    </ul>
    <ul class="last-reviews__circles">
      <li class="last-reviews__circle">
        <div class="last-reviews__round"></div>
      </li>
      <li class="last-reviews__circle">
        <div class="last-reviews__round"></div>
      </li>
      <li class="last-reviews__circle">
        <div class="last-reviews__round"></div>
      </li>
      <li class="last-reviews__circle">
        <div class="last-reviews__round"></div>
      </li>
      <li class="last-reviews__circle">
        <div class="last-reviews__round"></div>
      </li>
    </ul>
  </div>
</section>
