<aside class="leave-review" data-aos="zoom-in-up" data-aos-duration="500">
    <h2 class="leave-review__title">Залишіть свій відгук</h2>
    <form class="leave-review__title">
        <input required type="text" class="leave-review__input" placeholder="Ваше ім'я прізвище">
        <input required type="text" class="leave-review__input" placeholder="E-mail">
        <input required type="text" class="leave-review__input leave-review__comment-input" placeholder="Відгук">
        <p class="leave-review__subtitle">Ваша оцінка:</p>
        <ul class="leave-review__stars">
            <li class="leave-review__star">
                <button class="leave-review__star-btn" type="button">
                    <svg class="leave-review__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </button>
            </li>
            <li class="leave-review__star">
                <button class="leave-review__star-btn" type="button">
                    <svg class="leave-review__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </button>
            </li>
            <li class="leave-review__star">
                <button class="leave-review__star-btn" type="button">
                    <svg class="leave-review__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </button>
            </li>
            <li class="leave-review__star">
                <button class="leave-review__star-btn" type="button">
                    <svg class="leave-review__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </button>
            </li>
            <li class="leave-review__star">
                <button class="leave-review__star-btn" type="button">
                    <svg class="leave-review__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <button class="leave-review__btn animate__animated animate__heartBeat" type="submit">Залишити відгук</button>
    </form>
</aside>