<div class="backdrop1 is-hidden" data-mobile-menu>
  <div class="menu">
    <div class="header__filter">
      <div class="header__mobile">
        <button class="menu__button" data-mobile-menu-close>
          <svg class="header__cross">
            <use href="./images/symbol-defs.svg#icon-cross"></use>
          </svg>
        </button>

        <a href="./index.html">
          <svg class="header__logo">
            <use href="./images/symbol-defs.svg#icon-logo-black"></use>
          </svg>
        </a>
        <svg class="header__ringtone">
          <use href="./images/symbol-defs.svg#icon-call"></use>
        </svg>
      </div>
    </div>
    <ul class="menu__list">
      <li class="menu__item">
        <a href="./about-us.html" class="menu__link">Про нас</a>
      </li>
      <li class="menu__item">
        <a href="./payment.html" class="menu__link">Оплата</a>
      </li>
      <li class="menu__item">
        <a href="./delivery.html" class="menu__link">Доставка та збірка</a>
      </li>
      <li class="menu__item">
        <a href="./reviews.html" class="menu__link">Відгуки</a>
      </li>
      <li class="menu__item">
        <a href="./blog.html" class="menu__link">Блог</a>
      </li>
      <li class="menu__item">
        <a href="./contacts.html" class="menu__link">Контакти</a>
      </li>
      <li class="menu__item">
        <a href="./catalog.html" class="menu__link">Каталог</a>
      </li>
      <li class="menu__item">
        <svg class="menu__icon">
          <use href="./images/symbol-defs.svg#icon-percent"></use>
        </svg>
        <a href="#" class="menu__text">Купити в кредит</a>
      </li>
      <li class="menu__item">
        <svg class="menu__icon">
          <use href="./images/symbol-defs.svg#icon-monogramm"></use>
        </svg>
        <a href="#" class="menu__text">Розпродаж</a>
      </li>
      <li class="menu__item">
        <svg class="menu__icon">
          <use href="./images/symbol-defs.svg#icon-full-star"></use>
        </svg>
        <a href="#" class="menu__text">Акції</a>
      </li>
    </ul>
  </div>
</div>
