<section class="options">
    <div class="container">
        <ul class="options__list">
            <li class="options__item">
                <svg class="options__icon">
                    <use href="../images/symbol-defs.svg#options-icon1"></use>
                </svg>
                <p class="options__text">Безкоштовна доставка</p>
            </li>
            <li class="options__item">
                <svg class="options__icon">
                    <use href="../images/symbol-defs.svg#options-icon2"></use>
                </svg>
                <p class="options__text">Безкоштовна збірка</p>
            </li>
            <li class="options__item">
                <svg class="options__icon">
                    <use href="../images/symbol-defs.svg#options-icon3"></use>
                </svg>
                <p class="options__text">Післягарантійне обслуговування</p>
            </li>
            <li class="options__item">
                <svg class="options__icon">
                    <use href="../images/symbol-defs.svg#options-icon4"></use>
                </svg>
                <p class="options__text">Знижки клієнтам</p>
            </li>
        </ul>
    </div>
</section>