<section class="options">
    <div class="container">
        <ul class="options__list">
            <li data-aos="flip-up" data-aos-duration="2500" class="options__item">
                <svg class="options__icon">
                    <use href="./images/symbol-defs.svg#options-icon1"></use>
                </svg>
                <p class="options__text options__text-top">Безкоштовна доставка</p>
            </li>
            <li data-aos="flip-up" data-aos-duration="1000" class="options__item">
                <svg class="options__icon">
                    <use href="./images/symbol-defs.svg#options-icon2"></use>
                </svg>
                <p class="options__text">Безкоштовна збірка</p>
            </li>
            <li data-aos="flip-up" data-aos-duration="1000" class="options__item">
                <svg class="options__icon options__icon-bottom">
                    <use href="./images/symbol-defs.svg#options-icon3"></use>
                </svg>
                <p class="options__text">Післягарантійне обслуговування</p>
            </li>
            <li data-aos="flip-up" data-aos-duration="2500" class="options__item">
                <svg class="options__icon options__icon-bottom">
                    <use href="./images/symbol-defs.svg#options-icon4"></use>
                </svg>
                <p class="options__text">Знижки клієнтам</p>
            </li>
        </ul>
    </div>
</section>