<section class="questions">
    <div class="questions__container container">
        <h2 class="questions__title">
            У вас все ще залишилися питання?
        </h2>
        <ul class="questions__list">
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb1" class="questions__subtitle">Як повернути або обміняти замовлення?</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb1" checked>
                <svg  class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">Якщо ви бажаєте повернути або обміняти замовлене ліжко в магазині “Krovato”, будь ласка, зверніться до нашої служби підтримки протягом 14 днів з моменту покупки.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text"> Ми забезпечимо швидкий та зручний процес обміну або повернення, щоб ваш досвід покупок був приємним.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Не забудьте додати до вашого запиту на повернення або обмін фотографії товару та його оригінальну упаковку, щоб ми могли забезпечити найкращий сервіс.</p>
                    </div>
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb2" class="questions__subtitle">Чи можна повернути/обміняти товар, якщо втрачено чек?</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb2" checked>
                <svg  class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">Ми постараємося вам допомогти, навіть якщо відповідно до закону України про захист прав споживачів, при поверненні покупцем товару або відмові від наданої послуги продавцю подається заява про повернення коштів, до якого обов`язково додається квитанція, товарний або касовий чек, рахунок (розрахунковий документ), який підтверджує покупку товару (надання послуги).</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">У нас ведеться облік всіх замовлень, тому клієнту достатньо знати номер замовлення, написати заяву і надати дані на кого був оформлений замовлення, що б ми могли ідентифікувати покупку.</p>
                    </div>
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb3" class="questions__subtitle">В який термін будуть повернуті гроші?</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb3" checked>
                <svg  class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">У разі повернення товару, магазин “Krovato” гарантує відшкодування коштів протягом 14 днів з моменту отримання поверненого товару. Ми працюємо над тим, щоб процес повернення був максимально зручним і швидким для наших клієнтів.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Будь ласка, надішліть товар у первісному стані з усіма документами, і ми забезпечимо оперативне повернення коштів.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Зверніть увагу, що у випадку затримки повернення коштів, наша команда підтримки завжди готова допомогти та вирішити будь-які питання.</p>
                    </div>
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb4" class="questions__subtitle">Чи можна повернути кошти на іншу карту?</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb4" checked>
                <svg  class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">У магазині “Krovato” ми завжди прагнемо забезпечити зручність та задоволення наших клієнтів.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Якщо вам потрібно повернути кошти на іншу карту, будь ласка, зверніться до нашої служби підтримки з деталями вашого замовлення. Ми зможемо обробити повернення коштів на альтернативну карту, якщо це відповідає нашим умовам повернення.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Дякуємо, що обрали “Krovato” для вашого комфорту та відпочинку.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>