<section class="questions">
    <div class="questions__container container">
        <h2 class="questions__title">
            Питання, які часто задають про Ліжка
        </h2>
        <ul class="questions__list">
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb1" class="questions__subtitle">Яке ліжко краще підійде для “хрущьовки”?</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb1" checked>
                <svg class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">Для вашої “хрущьовки” – традиційного українського житла зі своєрідними архітектурними особливостями – вибір ліжка має бути розумним і практичним. KROVATO, український бренд ліжок, пропонує кілька порад. Враховуйте розміри кімнати.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Краще замовити найбільше ліжко, яке не заважатиме пересуванню в кімнаті, ніж маленьке. Півторне ліжко (150 см) часто є оптимальним варіантом для “хрущьовки”.</p>
                    </div>
                    <div class="questions__box">
                        <p class="questions__text">Ергономічна форма: вибирайте ліжко зі спинкою, яке не займе багато місця, але забезпечить комфортний сон.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Якість каркасу: зверніть увагу на якість складання каркаса. Він повинен бути надійним і довговічним.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Висота ліжка: оберіть висоту, яка зручна для вас. Низькі ліжка підходять молодим людям, а старшим – вищі вироби або навіть ліжка подіуми.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Замовте ліжко від KROVATO, щоб поєднати комфорт і стиль у вашій “хрущьовці”.</p>
                    </div>
                </div>  
            </li>
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb2" class="questions__subtitle">Як підібрати розмір ліжка</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb2" checked>
                <svg class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">Односпальне ліжко — оптимальний варіант для сну однієї людини. Вироби представлені в декількох стандартних розмірах по ширині: 80-90, рідше — 100 сантиметрів.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Полуторні ліжка нагадують односпальні, але зі збільшеною шириною — в середньому 120-140 сантиметрів. Меблі підійдуть для одиночного сну людям з великою статурою або для худорлявої пари.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Двоспальне місце для сну відрізняється простором і комфортом для двох дорослих, а також сімей, в яких діти люблять засинати разом з батьками. Ширина ліжка — від 160 см при стандартній довжині, а в розмірі king size — понад 200 см.</p>
                    </div>
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb3" class="questions__subtitle">У покупку ліжка входить її доставка, збирання та встановлення в кімнаті?</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb3" checked>
                <svg class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">KROVATO, український бренд ліжок, робить покупку ліжка максимально зручною для вас. Отже, придбавши ліжко від KROVATO, ви отримаєте:</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Безкоштовну доставку: ваше нове ліжко буде доставлено прямо до вашого під’їзду в Києві.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Збирання та встановлення: не хвилюйтеся про складання – фахівці з KROVATO зберуть ліжко за вас.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Якість і комфорт: ви отримаєте високоякісний виріб, який гармонійно впишеться в вашу кімнату.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Таким чином, ви зможете насолоджуватися своїм новим ліжком без зайвих клопотів.</p>
                    </div>
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb4" class="questions__subtitle">Найдешевші ліжка - це обов’язково погана якість?</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb4" checked>
                <svg class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">Найдешевші ліжка не обов’язково означають погану якість. KROVATO, український бренд ліжок, доводить, що це може бути міфом. Ось чому:</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Економія на матеріалах: низька ціна не завжди означає погану якість. KROVATO використовує екологічно чисті матеріали, щоб забезпечити комфорт і довговічність своїх виробів. </p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Професійне виготовлення: навіть доступні ліжка можуть бути високо якісними, якщо їх виготовлено фахівцями з увагою до деталей. </p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Дизайн і функціональність: KROVATO пропонує різноманітні моделі, включаючи ліжка з підйомним механізмом та ящиком для білизни. Це не тільки економічно, але й практично.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Відгуки клієнтів: перегляньте відгуки покупців. KROVATO прагне задовольнити потреби своїх клієнтів, незалежно від бюджету. </p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Таким чином, ви можете знайти якісне ліжко за доступною ціною від KROVATO</p>
                    </div>
                </div>
            </li>
            <li class="questions__item">
                <div class="questions__box">
                    <svg class="questions__icon">
                        <use href="../images/symbol-defs.svg#questions-icon"></use>
                    </svg>
                    <label for="cb5" class="questions__subtitle">Можна замовити ліжко під свої розміри?</label>
                </div>
                <input class="questions__checkbox" type="checkbox" name="questions__accordion" id="cb5" checked>
                <svg class="questions__subtitle-button">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
                <div class="questions__paragraph">
                    <div class="questions__text-box">
                        <p class="questions__text">“KROVATO” - це бренд, який розуміє, що кожна людина унікальна, і її ліжко повинно бути таким же.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Ви можете замовити ліжко під свої розміри, відповідно до вашого комфорту та стилю. Незалежно від того, чи ви обираєте мінімалістичний дизайн чи елегантні форми, “KROVATO” готовий задовольнити ваші потреби.</p>
                    </div>
                    <div class="questions__text-box">
                        <p class="questions__text">Ваше ідеальне ліжко чекає на вас!</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>