<section class="blog">
    <div class="blog__container container">
        <ul class="blog__pages">
            <li class="blog__pages-item">
                <a href="./index.html" class="blog__page">Головна</a>
            </li>
            <li class="blog__pages-item">
                <svg class="blog__pages-svg">
                    <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
            </li>
            <li class="blog__pages-item">
                <a href="#" class="blog__page blog__active-page">Блог</a>
            </li>
        </ul>
        <h2 data-aos="zoom-out-right" data-aos-duration="1500" class="blog__title">
            Блог
        </h2>
        <ul class="blog__list">
            <li data-aos="fade-up" data-aos-duration="2000" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/hole-cheirs@1x.webp 1x, ./images/desktop/hole-cheirs@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-chairs@1x.webp 1x, ./images/mobile/hole-chairs@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/hole-chairs@2x.webp" alt="Фото стільців для вітальні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Стільці для вітальні. Як правильно вибрати?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="1500" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/kitchen-exaple@1x.webp 1x, ./images/desktop/kitchen-exaple@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/kitchen-exaple@1x.webp 1x, ./images/mobile/kitchen-exaple@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/kitchen-exaple@2x.webp" alt="Фото стільців для кухні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Що краще вибрати для кухні – стільці чи кухонний куточок?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/hole-exaple@1x.webp 1x, ./images/desktop/hole-exaple@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-exaple@1x.webp 1x, ./images/mobile/hole-exaple@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/hole-exaple@2x.webp" alt="Фото м'яких меблів для вітальні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Оформлення вітальні. Які м'які меблі краще вибрати?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/hole-cheirs@1x.webp 1x, ./images/desktop/hole-cheirs@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-chairs@1x.webp 1x, ./images/mobile/hole-chairs@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/hole-chairs@2x.webp" alt="Фото стільців для вітальні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Стільці для вітальні. Як правильно вибрати?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="1500" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/kitchen-exaple@1x.webp 1x, ./images/desktop/kitchen-exaple@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/kitchen-exaple@1x.webp 1x, ./images/mobile/kitchen-exaple@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/kitchen-exaple@2x.webp" alt="Фото стільців для кухні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Що краще вибрати для кухні – стільці чи кухонний куточок?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/hole-exaple@1x.webp 1x, ./images/desktop/hole-exaple@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-exaple@1x.webp 1x, ./images/mobile/hole-exaple@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/hole-exaple@2x.webp" alt="Фото м'яких меблів для вітальні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Оформлення вітальні. Які м'які меблі краще вибрати?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/hole-cheirs@1x.webp 1x, ./images/desktop/hole-cheirs@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-chairs@1x.webp 1x, ./images/mobile/hole-chairs@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/hole-chairs@2x.webp" alt="Фото стільців для вітальні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Стільці для вітальні. Як правильно вибрати?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="1500" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/kitchen-exaple@1x.webp 1x, ./images/desktop/kitchen-exaple@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/kitchen-exaple@1x.webp 1x, ./images/mobile/kitchen-exaple@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/kitchen-exaple@2x.webp" alt="Фото стільців для кухні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Що краще вибрати для кухні – стільці чи кухонний куточок?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/hole-exaple@1x.webp 1x, ./images/desktop/hole-exaple@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-exaple@1x.webp 1x, ./images/mobile/hole-exaple@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/hole-exaple@2x.webp" alt="Фото м'яких меблів для вітальні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Оформлення вітальні. Які м'які меблі краще вибрати?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/hole-cheirs@1x.webp 1x, ./images/desktop/hole-cheirs@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-chairs@1x.webp 1x, ./images/mobile/hole-chairs@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/hole-chairs@2x.webp" alt="Фото стільців для вітальні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Стільці для вітальні. Як правильно вибрати?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="1500" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/kitchen-exaple@1x.webp 1x, ./images/desktop/kitchen-exaple@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/kitchen-exaple@1x.webp 1x, ./images/mobile/kitchen-exaple@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/kitchen-exaple@2x.webp" alt="Фото стільців для кухні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Що краще вибрати для кухні – стільці чи кухонний куточок?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" class="blog__item">
                <picture>
                    <source srcset="./images/desktop/hole-exaple@1x.webp 1x, ./images/desktop/hole-exaple@2x.webp 2x"
                        media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-exaple@1x.webp 1x, ./images/mobile/hole-exaple@2x.webp 2x"
                        media="min-width: 320px">
                    <img src="./images/mobile/hole-exaple@2x.webp" alt="Фото м'яких меблів для вітальні" class="blog__photo">
                </picture>
                <h3 class="blog__subtitle">
                    Оформлення вітальні. Які м'які меблі краще вибрати?
                </h3>
                <a class="blog__list-link" href="./article.html">
                    Детальніше
                    <svg class="blog__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="blog__list2">
            <li data-aos="zoom-in" data-aos-duration="100" class="blog__item2">
                <button type="button" class="blog__button">
                    <svg class="blog__pages-svg">
                        <use href="./images/symbol-defs.svg#icon-main-hero-left"></use>
                    </svg>
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="200" class="blog__item2">
                <button type="button" class="blog__button">
                    1
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="300" class="blog__item2">
                <button type="button" class="blog__button">
                    2
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="400" class="blog__item2">
                <button type="button" class="blog__button">
                    3
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="500" class="blog__item2">
                <button type="button" class="blog__button">
                    4
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="600" class="blog__item2">
                <button type="button" class="blog__button">
                    5
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="700" class="blog__item2">
                <button type="button" class="blog__button">
                    6
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="800" class="blog__item2">
                <button type="button" class="blog__button">
                    7
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="900" class="blog__item2">
                <button type="button" class="blog__button">
                    ...
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="1000" class="blog__item2">
                <button type="button" class="blog__button">
                    18
                </button>
            </li>
            <li data-aos="zoom-in" data-aos-duration="1100" class="blog__item2">
                <button type="button" class="blog__button">
                    <svg class="blog__pages-svg">
                        <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <button data-aos="zoom-in" data-aos-duration="2000" type="button" class="blog__main-button">
            <svg class="blog__main-button-arrow">
                <use href="./images/symbol-defs.svg#icon-reload"></use>
            </svg>
            <p class="blog__main-button-text">Показати ще статті</p>
        </button>
    </div>
</section>