.blog {
    @include block-model(0 0 60px 0, none, 0, 0);
    background-color: $light-color;

    @media screen and (min-width: 1290px) {
        @include block-model(0 0 70px 0, none, 0, 0);
    }
    
    &__pages {
        @extend %flex-center2;
        @include block-model(0, none, 0, 0 0 40px 0);
        gap: 10px;
    }

    &__pages-svg {
        @extend %flex-center;
        @include size(10px, 10px);
        fill: $grey-color;
    }

    &__page {
        @include font($grey-color, 1.87, 16px, 400);
    }

    &__active-page {
        color: $yellow-color;
    }

    &__title {
        text-align: center;
        @include block-model(0, none, 0, 0 0 40px 0);
        @include font($dark-color, 1.33, 30px,  600);

        @media screen and (min-width: 1290px) {
            text-align: left;
            @include font($dark-color, 1.2, 40px, 600);
        }
    }

    &__title-arrow {
        @include  size(24px, 24px);
        fill: $yellow-color;
    }

    &__list {
        @extend %flex-center;
        flex-wrap: wrap;
        flex-direction: column;
        @include block-model(0, none, 0, 0 auto 0 auto);
        @include size(410px, auto);
        gap: 30px;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
            @include size(100%, auto);
        }
    }

    &__item {
        @include block-model(0, 1px solid #E3E2E2, 8px, 0);
        @include size(410px, 476px);

        background-color: #fff;
        box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);

        @media screen and (min-width: 1290px) {
            flex-basis: calc((100% - 60px) / 3);
        }
    }

    &__item:nth-child(10) {
        display: none;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__item:nth-child(11) {
        display: none;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__item:nth-child(12) {
        display: none;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__photo {
        @include size(410px, 270px);
        @include block-model(0, none, 8px, 0);
    }

    &__subtitle {
        @extend %flex-center;
        @include block-model(0, none, 0, 30px);
        @include size(350px, 102px);
        @include font($dark-color, 1.31, 26px, 600);
    }

    &__list-link {
        @extend %flex-center2;
        @include block-model(0, none, 0, 30px);
        gap: 10px;
        @include font($yellow-color, 1.26, 19px, 600);
    }

    &__main-button {
        @extend %flex-center;
        @include block-model(8px 20px, none, 8px, 30px auto 0px auto);
        @include size(410px, 50px);
        gap: 15px;
        background-color: $yellow-color;

        @media screen and (min-width: 1290px) {
            @include size(300px, 50px);
        }

        &-arrow {
            @include size(24px, 24px);
            fill: #FFF;
        }

        &-text {
            @include font(#FFF, 1.26, 19px, 600);
        }
    }

    &__list2 {
        display: none;
        justify-content: center;
        @include block-model(0, none, 0, 30px auto 0px auto);
        gap: 10px;

        @media screen and (min-width: 1290px) {
            display: flex;
        }
    }

    &__item2 {
        @include size(50px, 50px);
        @include block-model(13px 22px 13px 22px, none, 8px, 0);
    }

    &__item2:nth-child(1) {
        @include block-model(15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(2) {
        background: $yellow-color;
    }

    &__item2:nth-child(3) {
        @include block-model(13px 15px 13px 15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(4) {
        @include block-model(13px 15px 13px 15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(5) {
        @include block-model(13px 15px 13px 15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(6) {
        @include block-model(13px 15px 13px 15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(7) {
        @include block-model(13px 15px 13px 15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(8) {
        @include block-model(13px 15px 13px 15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(9) {
        @include block-model(13px 15px 13px 15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(10) {
        @include block-model(13px 15px 13px 15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__item2:nth-child(11) {
        @include block-model(15px, 1px solid $grey-light-color, 8px, 0);
        background: #FFF;
    }

    &__button {
        @include block-model(0, none, 0, 0 auto 0 auto);
        @include size(auto, 20px);
        
        background-color: #FFF;
        @include font($grey-color, 1.42, 17px, 400);
    }

    &__item2:nth-child(2)>&__button {
        background-color: $yellow-color;
        color: #FFF;
    }

    &__item2:nth-child(11) > &__button {
        @include block-model(0, none, 0, 0 0 0 7px);
    }
}