.topic {
  padding: 40px 0 187px;
  background: url(../images/mobile/payment@1x.webp) bottom / contain no-repeat
    $light-color;

  @media (min-display-pixe-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../images/mobile/payment@2x.webp) bottom / contain no-repeat
      $light-color;
  }

  @media screen and (min-width: 1290px) {
    background: none;
  }

  &__container {
    @media screen and (min-width: 1290px) {
      position: relative;

      width: 1290px;
      height: 454px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      background: url(../images/desktop/payment@1x.webp) right / contain
        no-repeat #ffffff;

      @media (min-display-pixe-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url(../images/desktop/payment@2x.webp) center / contain
          no-repeat #ffffff;
      }
    }
  }

  &__box {
    @media screen and (min-width: 1290px) {
      position: absolute;
      top: 50%;
      left: 50px;

      transform: translate(0, -50%);
    }
  }

  &__title {
    color: $dark-color;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.33;

    @media screen and (min-width: 1290px) {
      text-align: left;
      font-size: 40px;
    }
  }

  &__subtitle {
    margin: 30px 0 20px;

    color: $dark-color;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;

    @media screen and (min-width: 1290px) {
      max-width: 450px;
      text-align: left;
      font-size: 26px;
    }
  }

  &__text {
    color: $dark-color;
    text-align: center;
    font-size: 16px;
    line-height: 1.87;

    @media screen and (min-width: 1290px) {
      max-width: 450px;
      text-align: left;
      font-size: 20px;
    }
  }
}
