.location{
    background-color: $light-color;
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: 'Montserrat';

    &__pages{
        @extend %flex-center2;
        gap: 5px;
        margin-bottom: 40px;
    }
    &__pages-svg{
        @include size(10px, 10px);
        fill: $grey-color;
        @extend %flex-center;
    }
    &__page{
        @include font($grey-color, 1.875, 16px, 400);
    }
    &__active-page{
        color: $yellow-color;
        transition-property: color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__active-page:hover, &__active-page:focus{
        color: #ee9c22;
    }

    &__title{
        @include font($dark-color, 1.33, 30px, 600);
        margin-bottom: 40px;

        @media screen and (min-width: 768px){
            font-size: 40px;
            text-align: center;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 40px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media screen and (min-width: 1290px){
            flex-direction: row;
        }
    }
    &__svg{
        @include size(20px, 20px);
        fill: #FFF;
    }
    &__item{
        display: flex;
        gap: 15px;
        width: 300px;

        animation-duration: 4s;

        @media screen and (min-width: 1200px) {
            width: auto;
        }
    }
    &__svg-container{
        @include size(50px, 50px);
        background-color: $yellow-color;
        @extend %flex-center;
        border-radius: 50%;
        flex-shrink: 0;
    }
    &__subtitle{
        @include font($grey-light-color, 1.4, 17px, 400);
        margin-bottom: 5px;
    }
    &__link{
        @include font($dark-color, 1.56, 18px, 600);
        transition-property: color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover, &__link:focus{
        color: #ee9c22;
    }
    &__sn{
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
    &__sn-svg{
        @include size(30px, 30px);
    }
    &__address, &__time{
        @include font($dark-color, 1.56, 18px, 600);
        font-style: normal;
        max-width: 235px;
        transition-property: color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__address:hover, &__address:focus{
        color: #ee9c22;
    }
    &__time{
        max-width: 174px;
    }
    &__img, &__map{
        width: 100%;
        max-width: 630px;
    }
    &__map{
        @media screen and (min-width: 1290px){
            height: 650px;
        }
    }
    &__img-box{
        @extend %flex-center2;
        flex-direction: column;

        @media screen and (min-width: 1290px){
            flex-direction: row;
            justify-content: center;
        }
    }
}