<section class="how-to-get">
    <div class="container">
        <h2 class="how-to-get__title">Як дістатися до нашої виставки «Кровато» від метро:</h2>
        <ul class="how-to-get__list">
            <li class="how-to-get__item" data-aos="fade-up" data-aos-duration="3000">
                <svg class="how-to-get__marker">
                    <use href="../../images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="how-to-get__text">
                    Від ст. м. «Святошино» - маршрутне таксі № 461 виходити на зупинці «Путопровід». 
                </p>
            </li>
            <li class="how-to-get__item" data-aos="fade-up" data-aos-duration="3000">
                <svg class="how-to-get__marker">
                    <use href="../../images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="how-to-get__text">
                    Від ст. м. «Академмістечко» — маршрутне таксі № 56, 56Д у напрямку Кільцевої дороги, повз завод «Електронмаш», зуп. «Литвиненко-Вольгемут», минаючи поворот на Софіївську Борщагівку та Вишневе, зупинка одразу за Жулянським мостом, виходити на зупинці «Путопровід».
                </p>
            </li>
            <li class="how-to-get__item" data-aos="fade-up" data-aos-duration="3000">
                <svg class="how-to-get__marker">
                    <use href="../../images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="how-to-get__text">
                    Від ст. м. «Васильківська» — маршрутне таксі № 208, 56Д, 904 у напрямку Кільцевої дороги, виходити на зупинці «Путопровід».
                </p>
            </li>
            <li class="how-to-get__item" data-aos="fade-up" data-aos-duration="3000">
                <svg class="how-to-get__marker">
                    <use href="../../images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="how-to-get__text">
                    Від ст. м (Виставкового центру) — автобус 56 та маршрутне таксі № 208,499,461,904 у напрямку Кільцевої дороги, виходити на зупинці «Путепровід».
                </p>
            </li>
            <li class="how-to-get__item" data-aos="fade-up" data-aos-duration="3000">
                <svg class="how-to-get__marker">
                    <use href="../../images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="how-to-get__text">
                    Від м.Вишневе, маршрутним таксі 718, виходити на зупинці (Путопровід).
                </p>
            </li>
            <li class="how-to-get__item" data-aos="fade-up" data-aos-duration="3000">
                <svg class="how-to-get__marker">
                    <use href="../../images/symbol-defs.svg#icon-pointer"></use>
                </svg>
                <p class="how-to-get__text">
                    Від Севастопольської площі, маршрутне таксі 496, 499, виходити на зупинці (Путопровід ).
                </p>
            </li>
        </ul>
        <button class="how-to-get__btn animate__animated animate__heartBeat" type="button">
            <svg class="how-to-get__svg">
                <use href="../../images/symbol-defs.svg#icon-map"></use>
            </svg>
            Прокласти маршрут
        </button>
    </div>
</section>