<section class="location">
    <div class="container">
        <ul class="location__pages">
            <li class="location__pages-item">
                <a href="../../index.html" class="location__page">Головна</a>
            </li>
            <li class="location__pages-item">
                <svg class="location__pages-svg">
                    <use href="../../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
            </li>
            <li class="location__pages-item">
                <a href="#" class="location__page location__active-page">Контакти</a>
            </li>
        </ul>
        <h2 class="location__title">Контакти</h2>
        <ul class="location__list">
            <li class="location__item">
                <div class="location__svg-container">
                     <svg class="location__svg">
                        <use href="../../images/symbol-defs.svg#icon-call"></use>
                    </svg>
                </div>
                <div class="location__item-box">
                    <h3 class="location__subtitle">Телефони:</h3>
                    <ul class="location__phones">
                        <li class="location__phone">
                            <a href="tel:+380679294545" class="location__link">+38 067 929-45-45</a>
                        </li>
                        <li class="location__phone">
                            <a href="tel:+380501334545" class="location__link">+38 050 133-45-45 </a>
                        </li>
                        <li class="location__phone">
                            <a href="tel:+380931707545" class="location__link">+38 093 170-75-45</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="location__item">
                <div class="location__svg-container">
                    <svg class="location__svg">
                        <use href="../../images/symbol-defs.svg#icon-mail"></use>
                    </svg>
                </div>
                <div class="location__item-box">
                    <h3 class="location__subtitle">Напишіть нам:</h3>
                    <a href="mailto:info.krovato@gmail.com" class="location__link">info.krovato@gmail.com</a>
                    <ul class="location__sn">
                        <li class="location__sn-item">
                            <a href="#" class="location__sn-link">
                                <svg class="location__sn-svg">
                                    <use href="../../images/symbol-defs.svg#icon-location-whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="location__sn-item">
                            <a href="#" class="location__sn-link">
                                <svg class="location__sn-svg">
                                    <use href="../../images/symbol-defs.svg#icon-location-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="location__sn-item">
                            <a href="#" class="location__sn-link">
                                <svg class="location__sn-svg">
                                    <use href="../../images/symbol-defs.svg#icon-location-viber"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="location__sn-item">
                            <a href="#" class="location__sn-link">
                                <svg class="location__sn-svg">
                                    <use href="../../images/symbol-defs.svg#icon-location-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="location__sn-item">
                            <a href="#" class="location__sn-link">
                                <svg class="location__sn-svg">
                                    <use href="../../images/symbol-defs.svg#icon-location-instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="location__item">
                <div class="location__svg-container">
                    <svg class="location__svg">
                        <use href="../../images/symbol-defs.svg#icon-location"></use>
                    </svg>
                </div>
                <div class="location__item-box">
                    <h3 class="location__subtitle">Де ми знаходимось:</h3>
                    <address class="location__address">м. Київ провулок Ізяславський 52, пов. 2</address>
                </div>
            </li>
            <li class="location__item">
                <div class="location__svg-container">
                    <svg class="location__svg">
                        <use href="../../images/symbol-defs.svg#icon-calendar"></use>
                    </svg>
                </div>
                <div class="location__item-box">
                    <h3 class="location__subtitle">Графік роботи:</h3>
                    <p class="location__time">Працюємо щодня з 9:00 до 18:00</p>
                </div>
            </li>
        </ul>
        <div class="location__img-box">
            <picture>
                <source srcset="../../images/desktop/ofice@1x.webp 1x, ../../images/desktop/ofice@2x.webp 2x" media="(min-width: 768px)">
                <source srcset="../../images/mobile/ofice@1x.webp 1x, ../../images/mobile/ofice@2x.webp 2x" media="(min-width: 480px)">
                <img class="location__img" src="../../images/mobile/ofice@1x.webp" alt="our office">
            </picture>
            <picture>
                <source srcset="../../images/desktop/geolocation@1x.webp 1x, ../../images/desktop/geolocation@2x.webp 2x" media="(min-width: 768px)">
                <source srcset="../../images/mobile/geolocation@1x.webp 1x, ../../images/mobile/geolocation@2x.webp 2x" media="(min-width: 480px)">
                <img class="location__img" src="../../images/mobile/geolocation@1x.webp" alt="map">
            </picture>
        </div>
    </div>
</section>