<section class="message-us">
    <div class="container message-us__container">
        <div class="message-us__box">
            <h2 class="message-us__title">Напишіть нам!</h2>
            <p class="message-us__text">Якщо у вас є побажання щодо якості обслуговування, пропозиції щодо партнерства, напишіть нам і наше керівництво зв`яжеться з вами!</p>
            <p class="message-us__invitation">Або чекаємо на вас у гості!</p>
        </div>
        <form class="message-us__form">
            <input required type="text" class="message-us__input" placeholder="Ваше ім'я прізвище">
            <input required type="text" class="message-us__input" placeholder="E-mail">
            <input required type="text" class="message-us__input" placeholder="Контактний телефон">
            <input required type="text" class="message-us__input message-us__comm" placeholder="Ваш коментар або питання">
            <button class="message-us__btn" type="submit">Відправити</button>
        </form>
    </div>
</section>