<section class="shop">
  <div class="choose">
    <h3 class="choose__title">Ви вибрали:</h3>
    <svg class="choose__icon">
      <use></use>
    </svg>
    <p class="choose__sorting">Сортування:</p>
    <p class="choose__option">За зростанням ціни</p>
    <svg class="choose__hide">
      <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
    </svg>
    <ul class="choose__list">
      <li class="choose__item">
        <p class="choose__text">Очистити</p>
        <svg class="choose__close">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </li>
      <li class="choose__item">
        <p class="choose__text">Ціна: 1195-9566</p>
        <svg class="choose__close">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </li>
      <li class="choose__item">
        <p class="choose__text">В наявності</p>
        <svg class="choose__close">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </li>
      <li class="choose__item">
        <p class="choose__text">Виробник: Corners</p>
        <svg class="choose__close">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </li>
      <li class="choose__item">
        <p class="choose__text">Без узголов'я</p>
        <svg class="choose__close">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </li>
      <li class="choose__item">
        <p class="choose__text">200x210 см</p>
        <svg class="choose__close">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </li>
    </ul>
  </div>
  <ul class="shop__list">
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/sparta-bed@1x.webp 1x,
            ./images/desktop/sparta-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/sparta-bed@1x.webp 1x,
            ./images/mobile/sparta-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/sparta-bed@1x.webp"
          alt="sparta bed"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">
        Ліжко Спарта / Sparta з підйомним механізмом
      </h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop-old">25 400 грн.</p>
      <p class="shop__price">15 400 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/argon-bed@1x.webp 1x,
            ./images/desktop/argon-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/argon-bed@1x.webp 1x,
            ./images/mobile/argon-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/argon-bed@1x.webp"
          alt="argon bed"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Ліжко Аргон з підйомним механізмом</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop__price">16 400 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/prestige-bed@1x.webp 1x,
            ./images/desktop/prestige-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/prestige-bed@1x.webp 1x,
            ./images/mobile/prestige-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/prestige-bed@1x.webp"
          alt="prestige bed"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Ліжко Престиж з підйомним механізмом</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop__price">14 969 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/tokio-sofa@1x.webp 1x,
            ./images/desktop/tokio-sofa@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/tokio-sofa@1x.webp 1x,
            ./images/mobile/tokio-sofa@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/tokio-sofa@1x.webp"
          alt="tokio-sofa"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Диван Токіо-2</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop__price">13 211 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/largo-matress@1x.webp 1x,
            ./images/desktop/largo-matress@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/largo-matress@1x.webp 1x,
            ./images/mobile/largo-matress@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/largo-matress@1x.webp"
          alt="largo matress"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Матрац Largo SLIM / Ларго Слім</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop-old">3122 грн.</p>
      <p class="shop__price">2 810 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/argentum-matress@1x.webp 1x,
            ./images/desktop/argentum-matress@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/argentum-matress@1x.webp 1x,
            ./images/mobile/argentum-matress@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/argentum-matress@1x.webp"
          alt="argentum matress"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Матрац ARGENTUM AMALTEA / Аргентум Амалті</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop-old">5966 грн.</p>
      <p class="shop__price">5 071 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/bravo-sofa@1x.webp 1x,
            ./images/desktop/bravo-sofa@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/bravo-sofa@1x.webp 1x,
            ./images/mobile/bravo-sofa@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/bravo-sofa@1x.webp"
          alt="sparta bed"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Диван Браво</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop__price">10 008 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/mk5-bed@1x.webp 1x,
            ./images/desktop/mk5-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/mk5-bed@1x.webp 1x,
            ./images/mobile/mk5-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/mk5-bed@1x.webp"
          alt="sparta bed"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Ліжко МК-5</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop__price">8 775 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/mk5-bed@1x.webp 1x,
            ./images/desktop/mk5-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/mk5-bed@1x.webp 1x,
            ./images/mobile/mk5-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/mk5-bed@1x.webp"
          alt="sparta bed"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Ліжко МК-5</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop__price">8 775 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/mk5-bed@1x.webp 1x,
            ./images/desktop/mk5-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/mk5-bed@1x.webp 1x,
            ./images/mobile/mk5-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/mk5-bed@1x.webp"
          alt="sparta bed"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Ліжко МК-5</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop__price">8 775 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
    <li class="shop__item">
      <picture>
        <source
          srcset="
            ./images/desktop/mk5-bed@1x.webp 1x,
            ./images/desktop/mk5-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/mk5-bed@1x.webp 1x,
            ./images/mobile/mk5-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/mk5-bed@1x.webp"
          alt="sparta bed"
          class="subcategories__image"
        />
      </picture>
      <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
      <h3 class="shop__suptitle">Ліжко МК-5</h3>
      <svg class="shop__icon">
        <use href="./images/symbol-defs.svg#icon-check"></use>
      </svg>
      <p class="shop__instock">В наявності</p>
      <p class="shop__price">8 775 грн.</p>
      <svg class="shop__heart">
        <use href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      <svg class="shop__basket">
        <use href="./images/symbol-defs.svg#icon-basket"></use>
      </svg>
    </li>
  </ul>
</section>
<aside class="aside">
  <svg class="aside__icon">
    <use href="./images/symbol-defs.svg#icon-filter"></use>
  </svg>
  <p class="aside__filter">Фільтр пошуку</p>
  <ul class="aside__list">
    <li class="aside__item">
      <p class="aside__suptitle">Ціна, грн</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
      <form action="" class="aside__form">
        <input type="text" placeholder="1195" class="aside__input" />
        <input type="text" placeholder="9566" class="aside__input" />
        <button type="submit" class="aside__button">ОК</button>
      </form>
      <svg class="aside__scroll">
        <use href="./images/symbol-defs.svg#icon-scroll"></use>
      </svg>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Наявність</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
      <ul class="aside__item-list">
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">В наявності</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Під замовлення</p>
        </li>
      </ul>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Виробник</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
      <ul class="aside__item-list">
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Corners</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Estella</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Green Line</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Legko</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">MiroMark</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Novelty</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Soft-line</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Venger</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Арбор Древ</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Городок мебель</p>
        </li>
      </ul>
      <p class="aside__show">Показати всі</p>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Тип ліжка</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
      <ul class="aside__item-list">
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Без узголов'я</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">З узголів'ям</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Двоярусні</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Розкладачки</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">Шафи</p>
        </li>
      </ul>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Розмір спального місця</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
      <ul class="aside__item-list">
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">200x210 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">200x200 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">180x200 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">160x200 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">110x190 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">160x190 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">150x200 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">140x200 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">140x190 см</p>
        </li>
        <li class="aside__item-item">
          <input type="checkbox" class="aside__input" />
          <p class="aside__text">120x200 см</p>
        </li>
      </ul>
      <p class="aside__show">Показати всі</p>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Ширина спального місця</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
      </svg>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Довжина спального місця</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
      </svg>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Форма</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
      </svg>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Матеріал корпусу</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
      </svg>
    </li>
    <li class="aside__item">
      <p class="aside__suptitle">Основа для матраца</p>
      <svg class="aside__close">
        <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
      </svg>
    </li>
  </ul>
</aside>
