<section class="shop">
  <div class="container shop__container">
    <aside class="aside">
      <div class="aside__box">
        <svg class="aside__icon">
          <use href="./images/symbol-defs.svg#icon-filter"></use>
        </svg>
        <p class="aside__filter">Фільтр пошуку</p>
      </div>

      <ul class="aside__list">
        <li class="aside__item">
          <div class="aside__box2">
            <p class="aside__suptitle">Ціна, грн</p>
            <svg class="aside__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>
          <div class="aside__raaar">
            <form action="" class="aside__form">
              <input type="text" placeholder="1488" class="aside__input" />
              <input type="text" placeholder="9566" class="aside__input" />
              <button type="submit" class="aside__button">ОК</button>
            </form>
            <svg class="aside__scroll">
              <use href="./images/symbol-defs.svg#icon-scroll"></use>
            </svg>
          </div>
        </li>
        <li class="aside__item">
          <div class="aside__box2">
            <p class="aside__suptitle">Наявність</p>
            <svg class="aside__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>
          <ul class="aside__item-list">
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">В наявності</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Під замовлення</p>
            </li>
          </ul>
        </li>
        <li class="aside__item">
          <div class="aside__box2">
            <p class="aside__suptitle">Виробник</p>
            <svg class="aside__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>

          <ul class="aside__item-list">
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Corners</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Estella</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Green Line</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Legko</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">MiroMark</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Novelty</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Soft-line</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Venger</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Арбор Древ</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Городок мебель</p>
            </li>
          </ul>
          <p class="aside__show">Показати всі</p>
        </li>
        <li class="aside__item">
          <div class="aside__box2">
            <p class="aside__suptitle">Тип ліжка</p>
            <svg class="aside__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>

          <ul class="aside__item-list">
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Без узголов'я</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">З узголів'ям</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Двоярусні</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Розкладачки</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">Шафи</p>
            </li>
          </ul>
        </li>
        <li class="aside__item">
          <div class="aside__box2">
            <p class="aside__suptitle">Розмір спального місця</p>
            <svg class="aside__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>

          <ul class="aside__item-list">
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">200x210 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">200x200 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">180x200 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">160x200 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">110x190 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">160x190 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">150x200 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">140x200 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">140x190 см</p>
            </li>
            <li class="aside__item-item">
              <input type="checkbox" class="aside__checkbox" />
              <p class="aside__text">120x200 см</p>
            </li>
          </ul>
          <p class="aside__show">Показати всі</p>
        </li>
        <li class="aside__flex">
          <p class="aside__suptitle">Ширина спального місця</p>
          <svg class="aside__more">
            <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
          </svg>
        </li>
        <li class="aside__flex">
          <p class="aside__suptitle">Довжина спального місця</p>
          <svg class="aside__more">
            <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
          </svg>
        </li>
        <li class="aside__flex">
          <p class="aside__suptitle">Форма</p>
          <svg class="aside__more">
            <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
          </svg>
        </li>
        <li class="aside__flex">
          <p class="aside__suptitle">Матеріал корпусу</p>
          <svg class="aside__more">
            <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
          </svg>
        </li>
        <li class="aside__flex">
          <p class="aside__suptitle">Основа для матраца</p>
          <svg class="aside__more">
            <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
          </svg>
        </li>
      </ul>
    </aside>

    <div>
      <div class="choose">
        <div class="choose__box">
          <h3 class="choose__title">Ви вибрали:</h3>

          <div class="choose__pashalko">
            <svg class="choose__filter">
              <use href="./images/symbol-defs.svg#icon-sorting"></use>
            </svg>
            <p class="choose__sorting">Сортування:</p>
            <p class="choose__option">За зростанням ціни</p>
            <svg class="choose__hide">
              <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </div>
        </div>
        <ul class="choose__list">
          <li class="choose__item">
            <p class="choose__text">Очистити</p>
            <svg class="choose__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </li>
          <li class="choose__item">
            <p class="choose__text">Ціна: 1488-9566</p>
            <svg class="choose__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </li>
          <li class="choose__item">
            <p class="choose__text">В наявності</p>
            <svg class="choose__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </li>
          <li class="choose__item">
            <p class="choose__text">Виробник: Corners</p>
            <svg class="choose__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </li>
          <li class="choose__item">
            <p class="choose__text">Без узголов'я</p>
            <svg class="choose__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </li>
          <li class="choose__item">
            <p class="choose__text">200x210 см</p>
            <svg class="choose__close">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </li>
        </ul>
      </div>
      <ul class="shop__list">
        <li class="shop__item">
          <picture>
            <source
              srcset="
                ./images/desktop/sparta-bed@1x.webp 1x,
                ./images/desktop/sparta-bed@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/sparta-bed@1x.webp 1x,
                ./images/mobile/sparta-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/sparta-bed@1x.webp"
              alt="sparta bed"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">
              Ліжко Спарта / Sparta з підйомним механізмом
            </a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>
          <div class="shop__item-element">
            <div class="shop__promo">
              <p class="shop__old">25 400 грн.</p>
              <p class="shop__price">15 400 грн.</p>
            </div>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item">
          <picture>
            <source
              srcset="
                ./images/desktop/argon-bed@1x.webp 1x,
                ./images/desktop/argon-bed@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/sparta-bed@1x.webp 1x,
                ./images/mobile/sparta-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/argon-bed@1x.webp"
              alt="argon bed"
              class="shop__image"
            />
          </picture>
          <div class="">
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Ліжко Аргон з підйомним механізмом</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>

          <div class="shop__item-element">
            <p class="shop__price">16 400 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item">
          <picture>
            <!-- pashalko 1488 mednyi buchok -->
            <source
              srcset="
                ./images/desktop/prestige-bed@1x.webp 1x,
                ./images/desktop/prestige-bed@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/sparta-bed@1x.webp 1x,
                ./images/mobile/sparta-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/prestige-bed@1x.webp"
              alt="prestige bed"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Ліжко Престиж з підйомним механізмом</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>

          <div class="shop__item-element">
            <p class="shop__price">14 969 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item">
          <picture>
            <source
              srcset="
                ./images/desktop/tokio-sofa@1x.webp 1x,
                ./images/desktop/tokio-sofa@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/sparta-bed@1x.webp 1x,
                ./images/mobile/sparta-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/tokio-sofa@1x.webp"
              alt="tokio-sofa"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Диван Токіо-2</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>

          <div class="shop__item-element">
            <p class="shop__price">13 211 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item">
          <picture>
            <source
              srcset="
                ./images/desktop/largo-matress@1x.webp 1x,
                ./images/desktop/largo-matress@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/sparta-bed@1x.webp 1x,
                ./images/mobile/sparta-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/largo-matress@1x.webp"
              alt="largo matress"
              class="shop__image"
            />
          </picture>

          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Матрац Largo SLIM / Ларго Слім</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>
          <div class="shop__item-element">
            <div class="shop__promo">
              <p class="shop__old">3122 грн.</p>
              <p class="shop__price">2 810 грн.</p>
            </div>

            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item shop__ban">
          <picture>
            <source
              srcset="
                ./images/desktop/argentum-matress@1x.webp 1x,
                ./images/desktop/argentum-matress@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/sparta-bed@1x.webp 1x,
                ./images/mobile/sparta-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/argentum-matress@1x.webp"
              alt="argentum matress"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">
              Матрац ARGENTUM AMALTEA / Аргентум Амалті
            </a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>
          <div class="shop__item-element">
            <div class="shop__promo">
              <p class="shop__old">5966 грн.</p>
              <p class="shop__price">5 071 грн.</p>
            </div>

            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item shop__ban">
          <picture>
            <source
              srcset="
                ./images/desktop/bravo-sofa@1x.webp 1x,
                ./images/desktop/bravo-sofa@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/desktop/bravo-sofa@1x.webp"
              alt="sparta bed"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Диван Браво</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>

          <div class="shop__item-element">
            <p class="shop__price">10 008 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item shop__ban">
          <picture>
            <source
              srcset="
                ./images/desktop/mk5-bed@1x.webp 1x,
                ./images/desktop/mk5-bed@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/desktop/mk5-bed@1x.webp"
              alt="sparta bed"
              class="shop__image"
            />
          </picture>

          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Ліжко МК-5</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>
          <div class="shop__item-element">
            <p class="shop__price">8 775 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item shop__ban">
          <picture>
            <source
              srcset="
                ./images/desktop/mk5-bed@1x.webp 1x,
                ./images/desktop/mk5-bed@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/mk5-bed@1x.webp 1x,
                ./images/mobile/mk5-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/mk5-bed@1x.webp"
              alt="sparta bed"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Ліжко МК-5</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>

          <div class="shop__item-element">
            <p class="shop__price">8 775 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item shop__ban">
          <picture>
            <source
              srcset="
                ./images/desktop/mk5-bed@1x.webp 1x,
                ./images/desktop/mk5-bed@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/mk5-bed@1x.webp 1x,
                ./images/mobile/mk5-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/mk5-bed@1x.webp"
              alt="sparta bed"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Ліжко МК-5</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>

          <div class="shop__item-element">
            <p class="shop__price">8 775 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item shop__ban">
          <picture>
            <source
              srcset="
                ./images/desktop/mk5-bed@1x.webp 1x,
                ./images/desktop/mk5-bed@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/mk5-bed@1x.webp 1x,
                ./images/mobile/mk5-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/mk5-bed@1x.webp"
              alt="sparta bed"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Ліжко МК-5</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>

          <div class="shop__item-element">
            <p class="shop__price">8 775 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="shop__item shop__ban">
          <picture>
            <source
              srcset="
                ./images/desktop/mk5-bed@1x.webp 1x,
                ./images/desktop/mk5-bed@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/mk5-bed@1x.webp 1x,
                ./images/mobile/mk5-bed@2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/desktop/mk5-bed@1x.webp"
              alt="sparta bed"
              class="shop__image"
            />
          </picture>
          <div>
            <p class="shop__text">Розмір: 61 x 184 x 2130 мм</p>
            <a class="shop__suptitle" href="./product-card.html">Ліжко МК-5</a>
            <div class="shop__pashalka">
              <svg class="shop__icon">
                <use href="./images/symbol-defs.svg#icon-check"></use>
              </svg>
              <p class="shop__instock">В наявності</p>
            </div>
          </div>

          <div class="shop__item-element">
            <p class="shop__price">8 775 грн.</p>
            <div class="shop__icons">
              <svg class="shop__heart">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
              <svg class="shop__basket">
                <use href="./images/symbol-defs.svg#icon-basket"></use>
              </svg>
            </div>
          </div>
        </li>
      </ul>
      <ul class="reviews__list-button shop__list-more">
        <li class="reviews__item-more ">
          <button class="reviews__button-more">
            <svg class="reviews__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-left"></use>
            </svg>
          </button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more reviews__btn-active">1</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">2</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">3</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">4</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">5</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">6</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">7</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">...</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">18</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">
            <svg class="reviews__arrow">
              <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <button class="reviews__more-button">
        <svg class="reviews__icon-more">
          <use href="../images/symbol-defs.svg#icon-reload"></use>
        </svg>
        Показати ще товари
      </button>
    </div>
  </div>
</section>
