<section class="subcategories">
  <div class="container">
    <div class="subcategories__main">
      <h2 class="subcategories__title">Ліжка</h2>
      <h3 class="subcategories__subtitle">1147 товарів</h3>
    </div>

    <ul class="subcategories__list">
      <li data-aos="fade-down" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Односпальні ліжка</p>
      </li>
      <li data-aos="fade-down" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Двоспальні ліжка</p>
      </li>
      <li data-aos="fade-down" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Диван-ліжко</p>
      </li>
      <li data-aos="fade-down" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Дерев'яні ліжка</p>
      </li>
      <li data-aos="fade-down" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Металеві ліжка</p>
      </li>
      <li data-aos="fade-up" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">М'які ліжка</p>
      </li>
      <li data-aos="fade-up" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Ліжка подіуми</p>
      </li>
      <li data-aos="fade-up" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Дитячі ліжка</p>
      </li>
      <li data-aos="fade-up" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Ліжка з підйомним механізмом</p>
      </li>
      <li data-aos="fade-up" data-aos-duration="1000" class="subcategories__item">
        <p class="subcategories__text">Акційні ліжка</p>
      </li>
    </ul>
    <div  data-aos="fade-up" data-aos-duration="1000" class="subcategories__box">
      <a href="#" class="subcategories__hide">Приховати підкатегорїї</a>
      <svg class="subcategories__icon">
        <use href="./images/symbol-defs.svg#icon-down-double-arrow"></use>
      </svg>
    </div>
  </div>
</section>
