<section class="subcategories">
  <h2 class="subcategories__title">Ліжка</h2>
  <h3 class="subcategories__subtitle">1147 товарів</h3>
  <ul class="subcategories__list">
    <li class="subcategories__item">
      <p class="subcategories__text">Односпальні ліжка</p>
      <picture>
        <source
          srcset="
            ./images/desktop/1person-bed@1x.webp 1x,
            ./images/desktop/1person-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/1person-bed@1x.webp 1x,
            ./images/mobile/1person-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/1person-bed@1x.webp"
          alt="bed for 1 person"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">Двоспальні ліжка</p>
      <picture>
        <source
          srcset="
            ./images/desktop/2person-bed@1x.webp 1x,
            ./images/desktop/2person-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/2person-bed@1x.webp 1x,
            ./images/mobile/2person-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/2person-bed@1x.webp"
          alt="bed for 2 person"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">Диван-ліжко</p>
      <picture>
        <source
          srcset="
            ./images/desktop/sofa-bed@1x.webp 1x,
            ./images/desktop/sofa-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/sofa-bed@1x.webp 1x,
            ./images/mobile/sofa-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/sofa-bed@1x.webp"
          alt="sofa bed"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">Дерев'яні ліжка</p>
      <picture>
        <source
          srcset="
            ./images/desktop/wooden-bed@1x.webp 1x,
            ./images/desktop/wooden-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/wooden-bed@1x.webp 1x,
            ./images/mobile/wooden-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/wooden-bed@1x.webp"
          alt="wooden bed"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">Металеві ліжка</p>
      <picture>
        <source
          srcset="
            ./images/desktop/metal-bed@1x.webp 1x,
            ./images/desktop/metal-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/metal-bed@1x.webp 1x,
            ./images/mobile/metal-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/metal-bed@1x.webp"
          alt="metal bed"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">М'які ліжка</p>
      <picture>
        <source
          srcset="
            ./images/desktop/soft-bed@1x.webp 1x,
            ./images/desktop/soft-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/soft-bed@1x.webp 1x,
            ./images/mobile/soft-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/soft-bed@1x.webp"
          alt="soft bed"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">Ліжка подіуми</p>
      <picture>
        <source
          srcset="
            ./images/desktop/podium-bed@1x.webp 1x,
            ./images/desktop/podium-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/podium-bed@1x.webp 1x,
            ./images/mobile/podium-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/podium-bed@1x.webp"
          alt="podium bed"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">Дитячі ліжка</p>
      <picture>
        <source
          srcset="
            ./images/desktop/kids-bed@1x.webp 1x,
            ./images/desktop/kids-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/kids-bed@1x.webp 1x,
            ./images/mobile/kids-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/sofa-bed@1x.webp"
          alt="kids bed"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">Ліжка з підйомним механізмом</p>
      <picture>
        <source
          srcset="
            ./images/desktop/mech-beds@1x.webp 1x,
            ./images/desktop/mech-beds@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/mech-beds@1x.webp 1x,
            ./images/mobile/mech-beds@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/sofa-bed@1x.webp"
          alt="mech bed"
          class="subcategories__image"
        />
      </picture>
    </li>
    <li class="subcategories__item">
      <p class="subcategories__text">Акційні ліжка</p>
      <picture>
        <source
          srcset="
            ./images/desktop/promo-bed@1x.webp 1x,
            ./images/desktop/promo-bed@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/promo-bed@1x.webp 1x,
            ./images/mobile/promo-bed@2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/desktop/promo-bed@1x.webp"
          alt="promo bed"
          class="subcategories__image"
        />
      </picture>
    </li>
  </ul>
  <a href="#" class="subcategories__hide">Приховати підкатегорїї</a>
</section>
