<section class="shopping">
    <div class="container">
        <h2 class="shopping__title">Ваш кошик</h2>
        <p class="shopping__number">4</p>
        <ul class="shopping__list">
            <li class="shopping__item">
                <picture>
                    <source srcset="
                        ./images/mobile/sparta-bed@1x.webp 1x,
                        ./images/mobile/sparta-bed@2x.webp 2x
                      " media="(min-width: 320px)" />
                    <source srcset="
                    ./images/desktop/sparta-bed@1x.webp 1x,
                    ./images/desktop/sparta-bed@2x.webp 2x
                      " media="(min-width: 1290px)" />
                    <img src="./images/desktop/sparta-bed@1x.webp" alt="Спарта ліжко" class="shopping__img" />
                </picture>
                <button class="shopping__kilkist-minus"> - </button>
                <p class="shopping__kilkist-text">1</p>
                <button class="shopping__kilkist-plus"> + </button>
                <p class="shopping__width">Розмір: 61 x 184 x 2130 мм
                </p>
                <p class="shopping__bed-name">Ліжко Спарта / Sparta з підйомним механізмом</p>
                <svg class="shopping__icon-check"><use href="../images/symbol-defs.svg#icon-check"></use></svg>
                <p class="shopping__check">В наявності</p>
                <p class="shopping__price">15 400 грн.</p>
            </li>
            <li class="shopping__item">
                <picture>
                    <source srcset="
                        ./images/mobile/sparta-bed@1x.webp 1x,
                        ./images/mobile/sparta-bed@2x.webp 2x
                      " media="(min-width: 320px)" />
                    <source srcset="
                    ./images/desktop/sparta-bed@1x.webp 1x,
                    ./images/desktop/sparta-bed@2x.webp 2x
                      " media="(min-width: 1290px)" />
                    <img src="./images/desktop/sparta-bed@1x.webp" alt="Спарта ліжко" class="shopping__img" />
                </picture>
                <button class="shopping__kilkist-minus"> - </button>
                <p class="shopping__kilkist-text">2</p>
                <button class="shopping__kilkist-plus"> + </button>
                <p class="shopping__width">Розмір: 61 x 184 x 2130 мм
                </p>
                <p class="shopping__bed-name">Ліжко Спарта / Sparta з підйомним механізмом</p>
                <svg class="shopping__icon-check"><use href="../images/symbol-defs.svg#icon-check"></use></svg>
                <p class="shopping__check">В наявності</p>
                <p class="shopping__price">15 400 грн.</p>
            </li>
            <li class="shopping__item">
                <picture>
                    <source srcset="
                        ./images/mobile/sparta-bed@1x.webp 1x,
                        ./images/mobile/sparta-bed@2x.webp 2x
                      " media="(min-width: 320px)" />
                    <source srcset="
                    ./images/desktop/sparta-bed@1x.webp 1x,
                    ./images/desktop/sparta-bed@2x.webp 2x
                      " media="(min-width: 1290px)" />
                    <img src="./images/desktop/sparta-bed@1x.webp" alt="Спарта ліжко" class="shopping__img" />
                </picture>
                <button class="shopping__kilkist-minus"> - </button>
                <p class="shopping__kilkist-text">1</p>
                <button class="shopping__kilkist-plus"> + </button>
                <p class="shopping__width">Розмір: 61 x 184 x 2130 мм
                </p>
                <p class="shopping__bed-name">Ліжко Спарта / Sparta з підйомним механізмом</p>
                <svg cclass="shopping__icon-check"><use href="../images/symbol-defs.svg#icon-check"></use></svg>
                <p class="shopping__check">В наявності</p>
                <p class="shopping__price">15 400 грн.</p>
            </li>
        </ul>
        <svg class="shopping__icon-promo"><use href="../images/symbol-defs.svg#icon-price"></use></svg>
        <p class="shopping__promo">Є промокод?</p>
        <label class="shopping__label" for="promo">
            Введіть код
            <input required class="info__input" id="promo" type="text"/>
        </label>
        <button class="shopping__ok">OK</button>
    </div>
</section>