<section class="order">
  <div class="container">
    <ul class="order__location">
      <li class="order__location-item">
          <a href="../../index.html" class="order__location-pages">Головна</a>
      </li>
      <li class="order__location-item">
          <svg class="order__location-svg">
              <use href="../../images/symbol-defs.svg#icon-main-hero-right"></use>
          </svg>
      </li>
      <li class="order__location-item">
          <a href="#" class="order__location-pages">Кошик</a>
      </li>
    </ul>
    <h1 class="order__title">Оформлення замовлення</h1>
    <div class="order__info">
      <div class="order__title-box">
        <div class="order__svg-box">
          <svg class="order__svg">
            <use href="../../images/symbol-defs.svg#icon-more-info"></use>
          </svg>
          <h2 class="order__subtitle">Інформація про покупця</h2>
        </div>
      </div>
      <form class="order__form">
        <input type="text" class="order__input" placeholder="Прізвище">
        <input type="text" class="order__input" placeholder="Контактний телефон">
        <input type="text" class="order__input" placeholder="Ім’я">
        <input type="text" class="order__input" placeholder="E-mail">
        <input type="text" class="order__input" placeholder="По батькові">
        <input type="checkbox" class="order__checkbox" id="checkbox1">
        <label for="checkbox1" class="order__lable">Отримуватиме замовлення інша людина</label>
      </form>
    </div>
    <div class="order__delivery">
      <div class="order__title-box">
        <div class="order__svg-box">
          <svg class="order__svg">
            <use href="../../images/symbol-defs.svg#icon-delivery"></use>
          </svg>
          <h2 class="order__subtitle">Вибір способу доставки</h2>
        </div>
      </div>
      <ul class="order__delivery-list">
        <li class="order__delivery-item">
          <svg class="order__delivery-tick order__delivery-svg">
            <use href="../../images/symbol-defs.svg#icon-tick-withbg"></use>
          </svg>
          <h3 class="order__delivery-title">Самовивіз із магазину</h3>
          <p class="order__delivery-text">Безкоштовно</p>
        </li>
        <li class="order__delivery-item">
          <svg class="order__delivery-np order__delivery-svg">
            <use href="../../images/symbol-defs.svg#icon-nova-poshta"></use>
          </svg>
          <h3 class="order__delivery-title">Доставка Нова Пошта</h3>
          <p class="order__delivery-text">≈ від 500 грн</p>
        </li>
        <li class="order__delivery-item">
          <svg class="order__delivery-curier order__delivery-svg">
            <use href="../../images/symbol-defs.svg#reviews-curier"></use>
          </svg>
          <h3 class="order__delivery-title">Доставка кур'єром</h3>
          <p class="order__delivery-text">≈ від 200 грн</p>
        </li>
      </ul>
      <div class="order__delivery-box">
        <svg class="order__delivery-location">
          <use href="../../images/symbol-defs.svg#icon-location"></use>
        </svg>
        <p class="order__delivery-time">Графік роботи: щодня з 9:00 до 18:00</p>
        <p class="order__delivery-place">м. Київ, пров. Ізяславський 52, пов. 2</p>
        <button class="order__delivery-btn">
          <svg class="order__map">
            <use href="../../images/symbol-defs.svg#icon-map"></use>
          </svg>
          На мапі
        </button>
      </div>
    </div>
    <div class="order__payment">
      <div class="order__title-box">
        <div class="order__svg-box">
          <svg class="order__svg">
            <use href="../../images/symbol-defs.svg#icon-wallet"></use>
          </svg>
          <h2 class="order__subtitle">Вибір способу оплати</h2>
        </div>
      </div>
      <form class="order__payment-form">
        <input type="radio" class="order__payment-option" id="box1">
        <label for="box1" class="order__payment-label">
          Готівкою при отриманні (Післясплата)
        </label>
        <input type="radio" class="order__payment-option" id="box2">
        <label for="box2" class="order__payment-label">
          Оплата карткою на сайті
          <svg class="order__payment-svg">
            <use href="../../images/symbol-defs.svg#icon-masteracrd"></use>
          </svg>
          <svg class="order__payment-svg">
            <use href="../../images/symbol-defs.svg#icon-visa"></use>
          </svg>
        </label>
        <input type="radio" class="order__payment-option" id="box3">
        <label for="box3" class="order__payment-label">
          Privat Pay
          <svg class="order__payment-svg">
            <use href="../../images/symbol-defs.svg#icon-privatpay"></use>
          </svg>
        </label>
        <input type="radio" class="order__payment-option" id="box4">
        <label for="box4" class="order__payment-label">
          Кредит від Krovato
        </label>
        <input type="radio" class="order__payment-option" id="box5">
        <label for="box5" class="order__payment-label">
          Оплата частинами ПриватБанк
          <svg class="order__payment-svg">
            <use href="../../images/symbol-defs.svg#icon-privatycredit"></use>
          </svg>
        </label>
        <input type="radio" class="order__payment-option" id="box6">
        <label for="box6" class="order__payment-label">
          Оплата частинами МоноБанк
          <svg class="order__payment-svg">
            <use href="../../images/symbol-defs.svg#icon-monobank"></use>
          </svg>
        </label>
      </form>
    </div>
    <div class="order__comment">
      <div class="order__title-box">
        <div class="order__svg-box">
          <svg class="order__svg">
            <use href="../../images/symbol-defs.svg#icon-chat-check"></use>
          </svg>
          <h2 class="order__subtitle">Коментар до замовлення</h2>
        </div>
      </div>
      <input type="text" class="order__comm" placeholder="Ваш коментар">
    </div>
  </div>
</section>