<section class="comment">
    <div class="container">
        <div class="comment__box-bg">
        <div class="comment__box">
        <svg class="comment__svg"><use href="../../images/symbol-defs.svg#icon-chat-check"></use></svg>
        <h2 class="comment__title">Коментар до замовлення</h2>
        </div>
        <label class="comment__label" for="comment">
            <input placeholder="Ваш коментар" class="comment__input" id="comment" type="text" />
        </label>
        </div>
    </div>
</section>