<!-- <section class="delivery">
    <div class="container">
    <svg class="delivery__icon-choise">
        <use href="../images/symbol-defs.svg#car-withbg"></use>
    </svg>
    <h1 class="delivery__icon">Вибір способу доставки</h1>
    <ul class="delivery__list-choise">
        <li class="delivery__item">
            <div class="delivery__choise"><svg class="delivery__icon">
                    <use href="../images/symbol-defs.svg#icon-tick-withbg"></use>
                </svg>
                <p class="delivery__card-title">Самовивіз із магазину</p>
                <p class="delivery__card-subtitle">Бесплатно</p>
            </div>
        </li>
        <li class="delivery__item">
            <div class="delivery__choise"><svg class="delivery__icon">
                    <use href="../images/symbol-defs.svg#icon-nova-poshta"></use>
                </svg>
                <p class="delivery__card-title">Доставка Нова Пошта</p>
                <p class="delivery__card-subtitle">≈ від 500 грн</p>
            </div>
        </li>
        <li class="delivery__item">
            <div class="delivery__choise"><svg class="delivery__icon">
                    <use href="../images/symbol-defs.svg#icon-nova-poshta"></use>
                </svg>
                <p class="delivery__card-title">Доставка кур'єром</p>
                <p class="delivery__card-subtitle">≈ від 200 грн</p>
            </div>
        </li>
    </ul>
    <div class="delivery__box">
        <svg class="delivery__svg-location">
            <use href="../images/symbol-defs.svg#icon-location"></use>
        </svg>
        <ul class="delivery__list-info">
            <li class="delivery__list-text">
                <p class="delivery__text-timetable">Графік роботи: щодня з 9:00 до 18:00
                </p>
            </li>
            <li class="delivery__list-text">
                <p class="delivery__text-addres">м. Київ, пров. Ізяславський 52, пов. 2</p>
            </li>
        </ul>
        <button class="delivery__button"><svg class="delivery__map">
                <use href="../images/symbol-defs.svg#icon-map"></use>
            </svg>
            <p class="delivery__text-find">На мапі</p>
        </button>
    </div>
    </div>
</section> -->