<section class="delivery">
    <svg class="delivery__icon-choise"><use href="../../images/symbol-defs.svg#car-withbg"></use></svg>
    <h1 class="delivery__icon">Вибір способу доставки</h1>
    <div class="delivery__choise"><svg class="delivery__icon">
            <use href="../../images/symbol-defs.svg#icon-tick-withbg"></use>
        </svg>
    <p class="delivery__card-title">Самовивіз із магазину</p>
    <p class="delivery__card-subtitle">Бесплатно</p></div>
    <div class="delivery__choise"><svg class="delivery__icon">
        <use href="../../images/symbol-defs.svg#icon-nova-poshta"></use>
    </svg>
<p class="delivery__card-title">Доставка Нова Пошта</p>
<p class="delivery__card-subtitle">≈ від 500 грн</p></div>
<div class="delivery__choise"><svg class="delivery__icon">
    <use href="../../images/symbol-defs.svg#icon-nova-poshta"></use>
</svg>
<p class="delivery__card-title">Доставка кур'єром</p>
<p class="delivery__card-subtitle">≈ від 200 грн</p></div>
</section>