<section class="info">
  <div class="container">
    <ul class="info__list-title">
      <li class="info__item-title">
    <a href="../../index.html" class="location-pages-bl">Головна</a>
    </li>
    <li class="info__item-title">
    <svg class="location-icon">
      <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
    </svg>
    </li>
    <li class="info__item-title">
    <a href="../../basket.html" class="location-pages-yl">Кошик</a>
    </li>
    </ul>
    <h1 class="info__title">Оформлення замовлення</h1>
    <div class="info__box-bg">
      <div class="info__box1">
        <svg class="info__label-icon">
          <use href="../images/symbol-defs.svg#info-client"></use>
        </svg>
        <p class="info__title-label">Інформаця про покупця</p>
      </div>
      <form class="info__form">
        <div class="info__box3">
        <label class="info__label" for="surname">
          <input
            placeholder="Прізвище"
            class="info__input"
            id="surname"
            type="text"
          />
        </label>
        <label class="info__label" for="name">
          <input placeholder="Контактний телефон" class="info__input" id="name" type="text" />
        </label>
        <label class="info__label" for="middlename">
          <input
            placeholder="Ім'я"
            class="info__input"
            id="middlename"
            type="text"
          />
        </label>
        <label class="info__label" for="phone">
          <input
            placeholder="E-mail"
            class="info__input"
            id="phone"
            type="text"
          />
        </label>
        <label class="info__label" for="email">
          <input
            placeholder="По батькові"
            class="info__input"
            id="email"
            type="text"
          />
        </label>
        </div>
        <div class="info__box2">
        <input class="info__checkbox" type="checkbox" id="message" name="message" checked />
        <label class="info__label-checkbox" for="message">Отримуватиме замовлення інша людина</label>
        </div>
      </form>
    </div>
  </div>
</section>
