<section class="info">
    <div class="container">
    <a href="../../index.html" class="location-pages">Головна</a>
    <svg class="location-icon"><use href="../images/symbol-defs.svg#icon-arrow-right"></use></svg>
    <a href="../../basket.html" class="location-pages">Кошик</a>
    <h1 class="info__title"></h1>
    <div class="info__box-bg">
        <form class="info__form">
            <svg class="info__label-icon">
                <use href="../images/symbol-defs.svg#info-client"></use>
            </svg>
            <p class="info__title-label">Інформаця про покупця</p>
            <label class="info__label" for="surname">
                Прізвище
                <input required class="info__input" id="surname" type="text" />
            </label>
            <label class="info__label" for="name">
                Ім'я
                <input required class="info__input" id="name" type="text" />
            </label>
            <label class="info__label" for="middlename">
                По батькові
                <input required class="info__input" id="middlename" type="text" />
            </label>
            <label class="info__label" for="phone">
                Контактний телефон
                <input required class="info__input" id="phone" type="text" />
            </label>
            <label class="info__label" for="email">
                E-mail
                <input required class="info__input" id="email" type="text" />
            </label>
            <input type="checkbox" id="message" name="message" checked />
    <label for="message">Отримуватиме замовлення інша людина</label>
    </div>
    </div>
</section>