<section class="payment">
    <div class="container">
    <svg class="payment__icon">
        <use href="../images/symbol-defs.svg#icon-wallet"></use>
    </svg>
    <h2 class="payment__title">Вибір способу оплати</h2>
    <form action="" class="payment__form">
        <ul class="payment__list">
            <li class="payment__item">
        <input class="payment__input" type="checkbox" id="checkbox1" name="checkbox1" value="cash">
        <label class="payment__label" for="checkbox1">Готівкою при отриманні (Післясплата)</label>
    </li>
    <li class="payment__item">
        <input class="payment__input" type="checkbox" id="checkbox2" name="checkbox2" value="card">
        <label class="payment__label" for="checkbox2">Оплата карткою на сайті</label>
        <svg class="visa">
            <use href="../images/symbol-defs.svg#icon-visa"></use>
        </svg>
        <svg class="mastercard">
            <use href="../images/symbol-defs.svg#icon-masteracrd"></use>
        </svg>
    </li>
    <li class="payment__item">
        <input class="payment__input" type="checkbox" id="checkbox3" name="checkbox3" value="privatpay">
        <label class="payment__label" for="checkbox3">Privat Pay</label>
        <svg class="privatpay">
            <use href="../images/symbol-defs.svg#icon-privatpay"></use>
        </svg>
    </li>
    <li class="payment__item">
        <input class="payment__input" type="checkbox" id="checkbox4" name="checkbox4" value="krovato">
        <label class="payment__label" for="checkbox4">Кредит від Krovato</label>
    </li>
    <li class="payment__item">
        <input class="payment__input" type="checkbox" id="checkbox5" name="checkbox5" value="privatbank">
        <label class="payment__label" for="checkbox5">Оплата частинами ПриватБанк</label>
        <svg class="privatbank">
            <use href="../images/symbol-defs.svg#icon-privatycredit"></use>
        </svg>
    </li>
    <li class="payment__item">
        <input class="payment__input" type="checkbox" id="checkbox6" name="checkbox6" value="monobank">
        <label class="payment__label" for="chkckbox6">Оплата частинами МоноБанк</label>
        <svg class="monobank">
            <use href="../images/symbol-defs.svg#icon-monobank"></use>
        </svg>
    </li>
        </ul>
    </form>
</div>
</section>