<!-- <section class="payment">
    <div class="container">
        <h2 class="payment__title">Разом:</h2>
        <ul class="payment__list">
            <li class="payment__item">
            <p class="payment__text">4 товари на суму:</p>
            <p class="payment__text">540 269 грн.</p>
        </li>
        <li class="payment__item">
            <p class="payment__text">Вартість доставки:</p>
            <p class="payment__text">За тарифами оператора</p>
        </li>
        <li class="payment__item">
            <p class="payment__text">До оплати:</p>
            <p class="payment__text-br">540 269 грн.</p>
        </li>
        </ul>
        <form action="" class="payment__form">
            <input type="checkbox" id="nocall" name="nocall" value="nocall">
  <label for="nocall">Не передзвонюйте мені для підтвердження замовлення</label>
        </form>
        <button type="button" class="payment__button">ОФОРМИТИ ЗАМОВЛЕННЯ
        </button>
        <p class="payment__policy-bl">Підтверджуючи замовлення, я приймаю умови</p>
        <p class="payment__policy-yl">Угоди користувача</p>
    </div>
</section> -->