<section class="payment">
    <div class="container">
        <div class="paymentp__box-bg">
        <h2 class="payment__title">Разом:</h2>
        <ul class="payment__list">
            <li class="payment__item">
            <p class="payment__text">4 товари на суму:</p>
           <div class="payment__box-line"></div>
            <p class="payment__text">540 269 грн.</p>
        </li>
        <li class="payment__item">
            <p class="payment__text">Вартість доставки:</p>
            <div class="payment__box-line"></div>
            <p class="payment__text">За тарифами оператора</p>
        </li>
        <li class="payment__item">
            <p class="payment__text">До оплати:</p>
            <div class="payment__box-line"></div>
            <p class="payment__text-br">540 269 грн.</p>
        </li>
        </ul>
        <div class="payment__box-flex">
        <form action="" class="payment__form">
            <input class="payment__input" type="checkbox" id="nocall" name="nocall" value="nocall">
  <label class="payment__label" for="nocall">Не передзвонюйте мені для підтвердження замовлення</label>
        </form>
        <button type="button" class="payment__button">ОФОРМИТИ ЗАМОВЛЕННЯ
        </button>
        <div class="payment__box">
        <p class="payment__policy-bl">Підтверджуючи замовлення, я приймаю умови<span class="payment__policy-yl"> Угоди користувача</span></p>
        </div>
        </div>
    </div>
    </div>
</section>