<section class="reviews">
  <div class="container reviews__container">
    <div class="reviews__box">
      <ul class="reviews__location">
        <li class="reviews__location-item">
          <a href="././index.html" class="reviews__location-link">Головна</a>
        </li>
        <li class="reviews__location-item">
          <svg class="reviews__location-svg">
            <use href="././images/symbol-defs.svg#icon-main-hero-right"></use>
          </svg>
        </li>
        <li class="reviews__location-item">
          <a href="#" class="reviews__location-link reviews__location-active"
            >Відгуки</a
          >
        </li>
      </ul>
      <h1
        class="reviews__title"
        data-aos="zoom-in-up"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="500"
      >
        Відгуки
      </h1>
      <ul class="reviews__list-filter">
        <li class="reviews__item-filter">
          <p
            class="reviews__filter reviews__filter-active"
            data-aos="zoom-in-up"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
            data-aos-duration="500"
          >
            Всі Відгуки
          </p>
        </li>
        <li class="reviews__item-filter">
          <p
            class="reviews__filter"
            data-aos="zoom-in-up"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
            data-aos-duration="500"
          >
            Про Товари
          </p>
        </li>
        <li class="reviews__item-filter">
          <p
            class="reviews__filter"
            data-aos="zoom-in-up"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
            data-aos-duration="500"
          >
            Про Магазин
          </p>
        </li>
      </ul>
      <ul class="reviews__list">
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Іван Стедниця</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Хочу відзначити злагоджену та чітку роботу всіх співробітників, з
            ким довелося контактувати при виборі та купівлі дивану Orange-Line
            Родео SF17-LX6-PLNGR. Величезну допомогу при виборі надала фахівець
            з продажу Уляна Лукащук, яка провела зі мною не одну годину (вибір
            був непростим, тому диван необхідно було придбати для лежачого
            хворого). А також хочу подякувати за розуміння та людський підхід
            співробітника відділу логістики Єлькіна Ігоря, який зміг знайти
            можливість для першочергової доставки містом, у найкоротші терміни.
            А також велике спасибі фахівцям доставки в кінцеву точку Миколі та
            В'ячеславу за їхню нелегку працю у складних умовах.
          </p>
          <div class="reviews__img-box">
            <svg class="reviews__type-icon">
              <use href="./images/symbol-defs.svg#icon-avatar-admin"></use>
            </svg>
            <p class="reviews__type">KROVATO</p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Ольга</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Купували синові ігрове крісло у подарунок. Якість супер, дуже зручна
            та відмінно підтримує спину. Загалом подарунком більш ніж
            задоволений Окреме спасибі магазину Меблі за допомогу у виборі
            крісла!
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/gaming-chair@1x.webp 1x,
                  ././images/desktop/gaming-chair@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">
              Крісло для геймерів AEROCOOL EARL Steel Blue
            </p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Галина</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Кухні підібрали нам за розміром, сподобалася якість меблів, кухня
            дуже добре зібрана. Складачі зібрали все за день. Сподобалося як
            відрегулювали фасади, все в рівень, скрізь однаковий проміжок.
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/savanna-bed@1x.webp 1x,
                  ././images/desktop/savanna-bed@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">Кухня Аліна 3,2</p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Ольга</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Купували синові ігрове крісло у подарунок. Якість супер, дуже зручна
            та відмінно підтримує спину. Загалом подарунком більш ніж
            задоволений) Окреме спасибі магазину Меблі за допомогу у виборі
            крісла!
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/gaming-chair@1x.webp 1x,
                  ././images/desktop/gaming-chair@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">
              Крісло для геймерів AEROCOOL EARL Steel Blue
            </p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Надія</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="././images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Відмінна робота менеджера, доставили у вказаний час, зібрали швидко
            та якісно. Дякую за роботу.
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/savanna-bed@1x.webp 1x,
                  ././images/desktop/savanna-bed@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">Ліжко Саванна гірка</p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Екатерина</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Добрий день всім. Працюємо у великому пологовому відділенні
            багатопрофільної лікарні. Дуже довго шукали партнерів для придбання
            меблів, щоб було не тільки красиво, стильно, зручно, комфортно, але
            й бюджетно. Ось уже другий рік співпрацюємо із компанією mebelok.
            Замовляли матраци, ліжка, офісні диванчики. Дуже вдячні фахівцям
            підприємства за швидкий зворотний зв'язок, кваліфіковані
            консультації, оперативну доставку товару та звичайно ж за якість
            продукції, що виробляється. Дуже раді, що в Україні є такі
            підприємства, які виготовляють якісний, добротний товар. Чекаємо на
            наступне замовлення (ліжка для молодих матусь) і сподіваємося на
            подальшу співпрацю. Катерина
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/savanna-bed@1x.webp 1x,
                  ././images/desktop/savanna-bed@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">Ортопедичний матрац Еко-Lite 90х190</p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Назар</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Дякуємо менеджерам на бажана за те, що допомогли вибрати цей
            журнальний столик у вітальню! дуже стильний, вписався ідеально, при
            цьому ціна дуже прийнятна як для такого товару
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/savanna-bed@1x.webp 1x,
                  ././images/desktop/savanna-bed@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">Столик журнальний СЖ-101</p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Нина</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Для мене це суперфункціональний предмет меблів у моїй спальні.
            Ящиків не багато і не мало, все міститься. А зручна поличка збоку
            дозволяє відставити туди частину речей, щоб не загороджувати
            дзеркало. До якості теж претензій не маю, на вигляд добротно.
            Обслуговування – теж на висоті.
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/savanna-bed@1x.webp 1x,
                  ././images/desktop/savanna-bed@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">Трюмо-7</p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Максим</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Стільці симпатичні та стильні, на кухні виглядають чудово! Дуже
            зручно на них сидіти і якість радує. Доставили швидко. Рекомендую!
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/savanna-bed@1x.webp 1x,
                  ././images/desktop/savanna-bed@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">
              Стілець обідній Kansas чорний/velvet grey
            </p>
          </div>
        </li>
        <li
          class="reviews__item"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
        >
          <div class="reviews__user-box">
            <div class="reviews__item-box">
              <svg class="reviews__user-logo">
                <use href="./images/symbol-defs.svg#icon-user"></use>
              </svg>
            </div>
            <p class="reviews__user-name">Ольга</p>
            <ul class="reviews__list-star">
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
              <li class="reviews__item-star">
                <svg class="reviews__svg-star">
                  <use href="./images/symbol-defs.svg#icon-full-star"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews__data">25.01.2022</p>
          </div>
          <p class="reviews__text">
            Купували синові ігрове крісло у подарунок. Якість супер, дуже зручна
            та відмінно підтримує спину. Загалом подарунком більш ніж
            задоволений Окреме спасибі магазину Меблі за допомогу у виборі
            крісла!
          </p>
          <div class="reviews__img-box">
            <picture>
              <source
                srcset="
                  ././images/desktop/gaming-chair@1x.webp 1x,
                  ././images/desktop/gaming-chair@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ././images/mobile/line-sofa@1x.webp 1x,
                  ././images/mobile/line-sofa@2x.webp 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="reviews__img"
                src="././images/mobile/line-sofa@1x.webp"
                alt="photo"
              />
            </picture>
            <p class="reviews__type">
              Крісло для геймерів AEROCOOL EARL Steel Blue
            </p>
          </div>
        </li>
      </ul>
      <ul class="reviews__list-button">
        <li class="reviews__item-more">
          <button class="reviews__button-more">
            <svg class="reviews__arrow">
              <use href="./images/symbol-defs.svg#icon-main-hero-left"></use>
            </svg>
          </button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more reviews__btn-active">1</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">2</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">3</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">4</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">5</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">6</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">7</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">...</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">18</button>
        </li>
        <li class="reviews__button-item">
          <button class="reviews__button-more">
            <svg class="reviews__arrow">
              <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <button class="reviews__more-button">
        <svg class="reviews__icon-more">
          <use href="./images/symbol-defs.svg#icon-reload"></use>
        </svg>
        Показати більше відгуків
      </button>
    </div>
    <load ="partials/repeating-elements/leave-review.html" />
  </div>
</section>
