<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відгуки</title>
</head>
<header class="header"></header>
<body>
    <main>
        <p class="reviews__location-sites">Головна-Відгуки</p>
        <h1 class="reviews__title">Відгуки</h1>
        <p class="reviews__filter">Всі Відгуки</p>
        <p class="reviews__filter">Про Товари</p>
        <p class="reviews__filter">Про Магазин</p>
        <ul class="reviews__list">
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Іван стедниця</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Хочу відзначити злагоджену та чітку роботу всіх співробітників, з ким довелося
                    контактувати при виборі та купівлі дивану Orange-Line Родео SF17-LX6-PLNGR. Величезну допомогу при
                    виборі надала фахівець з продажу Уляна Лукащук, яка провела зі мною не одну годину (вибір був
                    непростим, тому диван необхідно було придбати для лежачого хворого). А також хочу подякувати за
                    розуміння та людський підхід співробітника відділу логістики Єлькіна Ігоря, який зміг знайти
                    можливість для першочергової доставки містом, у найкоротші терміни. А також велике спасибі фахівцям
                    доставки в кінцеву точку Миколі та В'ячеславу за їхню нелегку працю у складних умовах.</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">KROVATO</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Ольга</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-half-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Купували синові ігрове крісло у подарунок. Якість супер, дуже зручна та
                    відмінно
                    підтримує спину. Загалом подарунком більш ніж задоволений) Окреме спасибі магазину Меблі за допомогу
                    у виборі крісла!</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Крісло для геймерів AEROCOOL EARL Steel Blue</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Галина</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-half-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-empty-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Кухні підібрали нам за розміром, сподобалася якість меблів, кухня дуже добре
                    зібрана. Складачі зібрали все за день. Сподобалося як відрегулювали фасади, все в рівень, скрізь
                    однаковий проміжок.</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Кухня Аліна 3,2</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Ольга</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-half-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Купували синові ігрове крісло у подарунок. Якість супер, дуже зручна та
                    відмінно
                    підтримує спину. Загалом подарунком більш ніж задоволений) Окреме спасибі магазину Меблі за допомогу
                    у виборі крісла!</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Крісло для геймерів AEROCOOL EARL Steel Blue</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Надія</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Відмінна робота менеджера, доставили у вказаний час, зібрали швидко та якісно.
                    Дякую за роботу.</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Ліжко Саванна гірка</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Екатерина</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Добрий день всім. Працюємо у великому пологовому відділенні багатопрофільної
                    лікарні. Дуже довго шукали партнерів для придбання меблів, щоб було не тільки красиво, стильно,
                    зручно, комфортно, але й бюджетно. Ось уже другий рік співпрацюємо із компанією mebelok. Замовляли
                    матраци, ліжка, офісні диванчики. Дуже вдячні фахівцям підприємства за швидкий зворотний зв'язок,
                    кваліфіковані консультації, оперативну доставку товару та звичайно ж за якість продукції, що
                    виробляється. Дуже раді, що в Україні є такі підприємства, які виготовляють якісний, добротний
                    товар. Чекаємо на наступне замовлення (ліжка для молодих матусь) і сподіваємося на подальшу
                    співпрацю. Катерина</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Ортопедичний матрац Еко-Lite 90х190</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Назар</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Дякуємо менеджерам на бажана за те, що допомогли вибрати цей журнальний столик
                    у
                    вітальню! дуже стильний, вписався ідеально, при цьому ціна дуже прийнятна як для такого товару)</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Столик журнальний СЖ-101</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Нина</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Для мене це суперфункціональний предмет меблів у моїй спальні. Ящиків не багато
                    і не мало, все міститься. А зручна поличка збоку дозволяє відставити туди частину речей, щоб не
                    загороджувати дзеркало. До якості теж претензій не маю, на вигляд добротно. Обслуговування – теж на
                    висоті.</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Трюмо-7</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Максим</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Стільці симпатичні та стильні, на кухні виглядають чудово! Дуже зручно на них
                    сидіти і якість радує. Доставили швидко. Рекомендую!</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Стілець обідній Kansas чорний/velvet grey</p>
            </li>
            <li class="reviews__item"><svg class="reviews__user-logo">
                    <use href="../../images/symbol-defs.svg#icon-user"></use>
                </svg>
                <p class="reviews__user-name">Ольга</p>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <svg class="reviews__svg-star">
                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                </svg>
                <p class="reviews__data">25.01.2022</p>
                <p class="reviews__text">Купували синові ігрове крісло у подарунок. Якість супер, дуже зручна та
                    відмінно
                    підтримує спину. Загалом подарунком більш ніж задоволений) Окреме спасибі магазину Меблі за допомогу
                    у виборі крісла!</p>
                <svg class="reviews__type-icon">
                    <use href="../../images/symbol-defs.svg#icon-telegram"></use>
                </svg>
                <p class="reviews__type">Крісло для геймерів AEROCOOL EARL Steel Blue</p>
            </li>
        </ul>
        <ul class="reviews__list-button">
            <li class="reviews__item-more">
                <button class="reviews__button-more"><svg class="reviews__arrow-left">
                        <use href="../../images/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">1</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">2</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">3</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">4</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">5</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">6</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">7</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">...</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more">18</button>
            </li>
            <li class="reviews__button-item">
                <button class="reviews__button-more"><svg class="reviews__arrow-right">
                        <use href="../../images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <button class="reviews__more-button"><svg class="reviews__icon-more">
                <use href="../../images/symbol-defs.svg#icon-reload"></use>
            </svg>
            Показати більше відгуків
        </button>
    </main>
</body>

</html>