.catalog-modal {
  width: 100%;

  &__item {
    padding: 10px 35px;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 40px;
    height: 40px;

    fill: #2b2929;
  }

  &__text {
    margin: 0 auto 0 15px;

    color: #2b2929;

    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__arrow {
    width: 24px;
    height: 24px;

    transform: rotate(-90deg);
  }

  &__position {
    position: relative;
  }

  &__radio {
    position: absolute;
    top: 18px;
    right: 0;

    width: 24px;
    height: 24px;

    // &:checked + .catalog-modal__acordeon {
    //   display: flex;
    // }

    &:checked ~ .catalog-modal__box {
      background-color: #ffbc57;
    }
  }

  &__acordeon {
    display: none;
    flex-direction: column;
    gap: 40px;
  }

  &__paragraph {
    color: #2b2929;
    font-size: 19px;
    line-height: 1;
  }
}
