.header {
  padding-top: 20px;
  padding-bottom: 12px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1290px) {
      gap: 43px;
      align-items: baseline;
    }
  }
  &__help {
    display: none;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__logo {
    @include size(215px, 36px);
  }
  &__menu {
    @include size(25px, 25px);
    @media screen and (min-width: 1290px) {
      display: none;
    }
  }
  &__ringtone {
    @include size(25px, 25px);
    fill: $grey-color;
    @media screen and (min-width: 1290px) {
      display: none;
    }
  }
  &__mobile {
    display: flex;
    justify-content: space-between;
    gap: 47px;
    margin-bottom: 32px;

    @media screen and (min-width: 1290px) {
      margin-bottom: 0;
    }
  }

  &__btn {
    display: none;

    @media screen and (min-width: 1290px) {
      color: #fff;
      font-size: 19px;
      font-weight: 600;
      line-height: 24px;
      background-color: $yellow-color;
      padding: 11px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
    }
  }
  &__input {
    display: none;

    @media screen and (min-width: 1290px) {
      @include font($grey-light-color, 188%, 16px, 400);
      @include size(421px, 50px);
      border-radius: 8px;
      border: 1px solid $grey-light-color;
      display: flex;
      padding: 10px 15px;
      outline: 0;
    }
  }
  &__katalog {
    width: 24px;
    height: 24px;
    fill: #fff;
  }
  &__call {
    display: none;

    @media screen and (min-width: 1290px) {
      display: flex;
      gap: 10px;
      align-items: center;
      padding-left: 15px;
    }
  }
  &__column {
    display: none;

    @media screen and (min-width: 1290px) {
      display: flex;
      gap: 90px;
    }
  }
  &__search {
    display: none;

    @media screen and (min-width: 1290px) {
      @include size(24px, 24px);
      fill: $grey-color;
      display: block;
      position: absolute;
      top: 15px;
      right: 415px;
    }
  }
  &__icons {
    display: none;
  }
  &__mobile-icon {
    width: 50px;
    height: 50px;
    fill: $grey-color;
  }
  &__mobile-item:first-of-type{
    display: none;
  }
  &__mobile-button {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    background-color: $yellow-color;
    padding: 11px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    margin-right: 75px;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }
  &__mobile-list {
    display: flex;
    gap: 20px;
  }
  @media screen and (min-width: 1290px) {
    &__filter {
      display: flex;
      gap: 30px;
      align-items: center;
      position: relative;
    }
    &__nav {
      display: flex;
      gap: 30px;
      margin-right: 235px;
    }
    &__link {
      color: $grey-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 188%;
    }
    &__networks {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-right: 30px;
    }
    &__icon {
      width: 30px;
      height: 30px;
    }
    &__text {
      color: $grey-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 188%;
    }
    &__select {
      color: $grey-color;
      font-size: 19px;
      font-weight: 600;
      line-height: 126%;
      display: flex;
      gap: 5px;
      align-items: center;

      &-icon {
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
        fill: $grey-color;
      }
    }
    &__phone {
      @include size(24px, 24px);
    }
    &__more{
      @include size(13px, 13px);
    }
    &__hours{
      @include font($grey-color, 169%, 13px, 300);
    }
    &__number{
      @include font($dark-color, 140%, 20px, 600);
    }
    &__badge{
      @include size(24px, 24px);
      fill: $yellow-color;
    }
    &__sales{
      display: flex;
      gap: 40px;
    }
    &__sale{
      display: flex;
      gap: 5px;
      align-items: center;
    }
    &__cursive{
      @include font($grey-color, 126%, 19px, 600);
    }
    &__list{
      display: flex;
      gap: 40px;
      align-items: center;
    }
    &__tab{
      @include font($grey-color, 126%, 19px, 600);
    }
  }
}
