.last-reviews {
  padding: 40px 0;
  background-color: #e9e9e9;
  overflow: hidden;

  @media screen and (min-width: 1290px) {
    padding: 70px 0 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1290px) {
      position: relative;

      flex-direction: row;
    }
  }

  &__title {
    @include font($dark-color, 1.2, 40px, 600);
  }

  &__flex {
    margin: 40px 0;

    display: flex;
    gap: 30px;
  }

  &__bg {
    @include size(80px, 80px);
    @include block-model(24px 11px 24px, none, 50%, 0);
    background-color: #fff;
  }

  &__icon {
    @include size(57px, 32px);
    fill: $yellow-color;
  }

  &__subtitle {
    margin: 0 0 10px;
    @include font($dark-color, 1.4, 20px, 600);
  }

  &__opinion {
    @extend %flex-center2;
    gap: 10px;
  }

  &__rating {
    @include font(#f90, 1.26, 19px, 600);
  }

  &__stars {
    display: flex;
  }

  &__starlet {
    @include size(24px, 24px);

    &--main {
      fill: #ff9900;
    }

    &--user {
      fill: $yellow-color;
    }
  }

  &__text {
    @include font($grey-color, 1.69, 13px, 300);
  }

  &__btn {
    @include size(210px, 50px);
    @include block-model(13px 13.5px, none, 8px, 0);
    @extend %flex-center;
    gap: 15px;
    background-color: $yellow-color;

    transition: background-color 250ms ease-in;

    &:hover,
    &:focus {
      background-color: #f3ab3f;
    }
  }

  &__span {
    text-align: center;
    @include font(#fff, 1.26, 13px, 600);

    @media screen and (min-width: 413px) {
      font-size: 16px;
    }
  }

  &__chat {
    @include size(24px, 24px);

    &--first {
      fill: #fff;
    }

    &--second {
      fill: $grey-color;
    }
  }

  &__link {
    @extend %flex-center2;
    gap: 15px;
  }

  &__link > span {
    text-align: center;
    @include font($grey-color, 1.26, 13px, 600);

    @media screen and (min-width: 413px) {
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    margin: 0 0 40px;
    gap: 30px;
  }

  &__slider {
    width: 100%;

    @media screen and (min-width: 480px) {
      width: 450px;
    }
  }

  &__slide {
    @include block-model(20px, 1px solid #e3e2e2, 8px, 0);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__flex2 {
    display: flex;
  }

  &__case {
    @include size(50px, 50px);
    @include block-model(14px, 1px solid $yellow-color, 50%, 0);
  }

  &__profile {
    @include size(22px, 22px);
    fill: $grey-color;
  }

  &__box2 {
    @include block-model(0, none, 0, 0 15% 0 5%);

    @media screen and (min-width: 480px) {
      @include block-model(0, none, 0, 0 96px 0 30px);
    }
  }

  &__name {
    @include font($dark-color, 1.41, 17px, 400);
  }

  &__time {
    display: none;
    text-align: right;
    @include font($grey-color, 1.41, 17px, 400);

    @media screen and (min-width: 480px) {
      display: block;
    }
  }

  &__review {
    max-width: 95%;
    @include block-model(0, none, 0, 30px 0);
    @include font($grey-color, 1.87, 16px, 400);
    text-align: left;

    @media screen and (min-width: 480px) {
      max-width: 354px;
    }
  }

  &__block {
    @extend %flex-center2;
    gap: 10px;
  }

  &__img {
    width: 50px;
  }

  &__product {
    @include font($grey-color, 1.4, 20px, 600);
  }
}
