.options {
    @include block-model(0 0 40px 0, none, 0, 0);
    background-color: $light-color;

    &__container {
        @extend %flex-center;
        flex-direction: column;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
        }
    }

    &__list {
        @extend %flex-center;
        flex-wrap: wrap;
        @include block-model(0, none, 0, 0 auto 0 auto);

        @media screen and (min-width: 1290px) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        @extend %flex-center;
        flex-direction: column;
        flex-basis: calc((100% - 41px) / 2);

        @media screen and (min-width: 1290px) {
            flex-basis: auto;
            flex-direction: row;
            @include block-model(0, none, 0, 0 30px 0 auto);
        }
    }

    &__item:nth-child(4) {
        @include block-model(0, none, 0, 0);
    }

    &__icon {
        display: flex;
        @include size(80px, 80px);

        &-bottom {
            @include block-model(0, none, 0, 41px 0 0 0);

            @media screen and (min-width: 1290px) {
                @include block-model(0, none, 0, 0);
            }
        }
    }

    &__text {
        @extend %flex-center;
        text-align: center;
        @include block-model(0, none, 0, 5px 0 0 0);
        @include size(200px, 56px);
        @include font($dark-color, 1.4, 20px, 600);

        @media screen and (min-width: 1290px) {
            text-align: left;
            justify-content: left;
            @include block-model(0, none, 0, 5px 0 0 20px);
        }

        &-top {
            @include block-model(0, none, 0, 5px 0 41px 0);

            @media screen and (min-width: 429px) {
                @include block-model(0, none, 0, 5px 0 0 0);
            }
        }
    }
}