.questions {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $light-color;

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    &__container {
        @extend %flex-center;
        flex-direction: column;
    }

    &__checkbox:checked+&__paragraph {
        display: flex;
    }

    &__item {
        position: relative;

        padding: 15px;
        margin-bottom: 15px;
        gap: 10px;
        width: 410px;

        border-radius: 8px;
        background: #FFF;
        box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);

        @media screen and (min-width: 1290px) {
            width: 1070px;
        }
    }

    &__item:nth-child(1):hover,
    &__item:nth-child(1):focus,
    &__item:nth-child(1):active {
        padding: 13px;
    }

    &__item:hover,
    &__item:focus,
    &__item:active {
        padding: 14px;

        border-radius: 8px;
        border: 2px solid $yellow-color;
        outline: none;
    }

    &__item:last-child {
        margin-bottom: 0px;
    }

    &__item>input:checked~.questions__paragraph {
        max-height: 500px;
    }

    &__title {
        @extend %flex-center;
        text-align: center;
        margin-bottom: 40px;

        color: $dark-color;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.33;

        @media screen and (min-width: 1290px) {
            font-size: 40px;
            line-height: 1.2;
        }
    }

    &__item:nth-child(1)>&__box>&__icon {
        width: 43px;
        height: 50px;
    }

    &__item:nth-child(2)>&__box>&__icon {
        width: 43px;
        height: 50px;
    }

    &__item:nth-child(3)>&__box>&__icon {
        width: 43px;
        height: 50px;
    }

    &__item:nth-child(4)>&__box>&__icon {
        width: 43px;
        height: 50px;
    }

    &__item:nth-child(5)>&__box>&__icon {
        width: 43px;
        height: 50px;
    }

    &__subtitle {
        margin-left: 15px;
        width: 286px;

        color: $dark-color;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.26;

        @media screen and (min-width: 1290px) {
            width: 946px;
            height: 24px;
        }

        &-button {
            position: absolute;
            top: 37px;
            right: 15px;

            text-align: center;
            margin: auto auto auto 15px;
            width: 24px;
            height: 24px;
            transform: rotate(90deg);

            transition: all 0.35s;
        }
    }

    &__item:nth-child(2)>&__subtitle-button {
        top: 37px;

        @media screen and (min-width: 1290px) {
            top: 37px;
        }
    }

    &__item:nth-child(2)>input:checked+&__subtitle-button {
        top: 27px;

        @media screen and (min-width: 1290px) {
            top: 27px;
        }
    }

    input:checked+&__subtitle-button {
        top: 27px;
        transform: rotate(270deg);
    }

    &__paragraph {
        max-height: 0;
        overflow: hidden;

        transition: all 0.35s;
    }

    &__text {
        color: $dark-color;
        font-size: 16px;
        line-height: 1.87;

        &-box {
            margin-bottom: 24px;
        }

        &-box:first-child {
            margin-top: 10px;
        }

        &-box:last-child {
            margin-bottom: 0px;
        }
    }

    &__box {
        display: flex;
        align-items: center;
    }
}