<section class="articles">
    <div class="articles__container container">
        <div class="articles__title-box">
            <h2 data-aos="zoom-out-right" data-aos-duration="1500" class="articles__title">
                Свіжі статті та останні новини
            </h2>
            <a data-aos="zoom-in-left" data-aos-duration="1500" type="link" class="articles__link" href="./blog.html">
                Читати блог
                <svg class="articles__title-arrow">
                    <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                </svg>
            </a>
            <ul class="articles__couple">
                <li data-aos="zoom-in-right" data-aos-duration="1500" class="articles__couple-part">
                    <button type="button" class="articles__button">
                        <svg class="articles__arrow articles__arrow1">
                            <use href="./images/symbol-defs.svg#icon-main-hero-left"></use>
                        </svg>
                    </button>
                </li>
                <li data-aos="zoom-in-left" data-aos-duration="1500" class="articles__couple-part">
                    <button type="button" class="articles__button">
                        <svg class="articles__arrow articles__arrow2">
                            <use href="./images/symbol-defs.svg#icon-main-hero-right"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <ul class="articles__list">
            <li data-aos="fade-up" data-aos-duration="2000" class="articles__item">
                <picture>
                    <source srcset="./images/desktop/hole-cheirs@1x.webp 1x, ./images/desktop/hole-cheirs@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-chairs@1x.webp 1x, ./images/mobile/hole-chairs@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/mobile/hole-chairs@2x.webp" alt="Фото стільців для вітальні" class="articles__photo">
                </picture>
                <h3 class="articles__subtitle">
                    Стільці для вітальні. Як правильно вибрати?
                </h3>
                <a class="articles__list-link" href="./article.html">
                    Детальніше
                    <svg class="articles__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="1500" class="articles__item">
                <picture>
                    <source srcset="./images/desktop/kitchen-exaple@1x.webp 1x, ./images/desktop/kitchen-exaple@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/kitchen-exaple@1x.webp 1x, ./images/mobile/kitchen-exaple@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/mobile/kitchen-exaple@2x.webp" alt="Фото стільців для кухні" class="articles__photo">
                </picture>
                <h3 class="articles__subtitle">
                    Що краще вибрати для кухні – стільці чи кухонний куточок?
                </h3>
                <a class="articles__list-link" href="./article.html">
                    Детальніше
                    <svg class="articles__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" class="articles__item">
                <picture>
                    <source srcset="./images/desktop/hole-exaple@1x.webp 1x, ./images/desktop/hole-exaple@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/hole-exaple@1x.webp 1x, ./images/mobile/hole-exaple@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/mobile/hole-exaple@2x.webp" alt="Фото м'яких меблів для вітальні" class="articles__photo">
                </picture>
                <h3 class="articles__subtitle">
                    Оформлення вітальні. Які м'які меблі краще вибрати?
                </h3>
                <a class="articles__list-link" href="./article.html">
                    Детальніше
                    <svg class="articles__title-arrow">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button data-aos="zoom-in" data-aos-duration="2000" type="button" class="articles__main-button">
            <svg class="articles__main-button-arrow">
                <use href="./images/symbol-defs.svg#icon-reload"></use>
            </svg>
            <p class="articles__main-button-text">Показати ще товари</p>
        </button>
    </div>
</section>