<section class="categories">
    <div class="categories__container container">
        <h2 data-aos="zoom-out-right" data-aos-duration="1500" class="categories__title">
            Популярні категорії
        </h2>
        <ul class="categories__list">
            <li data-aos="flip-left" data-aos-duration="1000" class="categories__item">
                <h3 class="categories__subtitle">Ліжка</h3>
                <p class="categories__number">54</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                       <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-left" data-aos-duration="1500" class="categories__item">
                <h3 class="categories__subtitle">Матраци</h3>
                <p class="categories__number">30</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-left" data-aos-duration="2000" class="categories__item">
                <h3 class="categories__subtitle">М'які меблі</h3>
                <p class="categories__number">195</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-left" data-aos-duration="2500" class="categories__item">
                <h3 class="categories__subtitle">Шафи</h3>
                <p class="categories__number">79</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-left" data-aos-duration="3000" class="categories__item">
                <h3 class="categories__subtitle">Комоди</h3>
                <p class="categories__number">54</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-right" data-aos-duration="3000" class="categories__item">
                <h3 class="categories__subtitle">Тумби</h3>
                <p class="categories__number">64</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-right" data-aos-duration="2500" class="categories__item">
                <h3 class="categories__subtitle">Столи</h3>
                <p class="categories__number">35</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-right" data-aos-duration="2000" class="categories__item">
                <h3 class="categories__subtitle">Стільці</h3>
                <p class="categories__number">89</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-right" data-aos-duration="1500" class="categories__item">
                <h3 class="categories__subtitle">Меблеві стіни</h3>
                <p class="categories__number">24</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
            <li data-aos="flip-right" data-aos-duration="1000" class="categories__item">
                <h3 class="categories__subtitle">Кухні</h3>
                <p class="categories__number">30</p>
                <a type="button" class="categories__button" href="./catalog.html">
                    <svg class="categories__icon">
                        <use href="./images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>