<section class="categories">
    <div class="categories__containner container">
        <h2 class="categories__title">
            Популярні категорії
        </h2>
        <ul class="categories__list">
            <li class="categories__item">
                <h3 class="categories__subtitle">Ліжка</h3>
                <p class="categories__number">54</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                       <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">Матраци</h3>
                <p class="categories__number">30</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">М'які меблі</h3>
                <p class="categories__number">195</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">Шафи</h3>
                <p class="categories__number">79</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">Комоди</h3>
                <p class="categories__number">54</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">Тумби</h3>
                <p class="categories__number">64</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">Столи</h3>
                <p class="categories__number">35</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">Стільці</h3>
                <p class="categories__number">89</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">Меблеві стіни</h3>
                <p class="categories__number">24</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="categories__item">
                <h3 class="categories__subtitle">Кухні</h3>
                <p class="categories__number">30</p>
                <button type="button" class="categories__button">
                    <svg class="categories__icon">
                        <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>