<section class="hero">
    <div class="hero__container container">
        <button data-aos="fade-right" type="button" class="hero__button1">
            <svg class="hero__icon1">
                <use href="../images/symbol-defs.svg#icon-main-hero-left"></use>
            </svg>
        </button>
        <swiper-container class="mySwiper hero__slider" navigation="true" pagination="true" keyboard="true" mousewheel="true" css-mode="true">
            <swiper-slide class="hero__slide"></swiper-slide>
            <swiper-slide class="hero__slide"></swiper-slide>
            <swiper-slide class="hero__slide"></swiper-slide>
            <swiper-slide class="hero__slide"></swiper-slide>
            <swiper-slide class="hero__slide"></swiper-slide>
        </swiper-container>
        <!-- <ul class="hero__list">
            <li class="hero__item">
                <svg  data-aos="zoom-in" data-aos-duration="3000" class="hero__point">
                    <use href="../images/symbol-defs.svg#empty-hero-point"></use>
                </svg>
            </li>
            <li class="hero__item">
                <svg  data-aos="zoom-in" data-aos-duration="2000" class="hero__point">
                    <use href="../images/symbol-defs.svg#empty-hero-point"></use>
                </svg>
            </li>
            <li class="hero__item">
                <svg data-aos="zoom-in" data-aos-duration="1000" class="hero__point">
                    <use href="../images/symbol-defs.svg#full-hero-point"></use>
                </svg>
            </li>
            <li class="hero__item">
                <svg  data-aos="zoom-in" data-aos-duration="2000" class="hero__point">
                    <use href="../images/symbol-defs.svg#empty-hero-point"></use>
                </svg>
            </li>
            <li class="hero__item">
                <svg  data-aos="zoom-in" data-aos-duration="3000" class="hero__point">
                    <use href="../images/symbol-defs.svg#empty-hero-point"></use>
                </svg>
            </li>
        </ul> -->
        <button data-aos="fade-left" type="button" class="hero__button2">
            <svg class="hero__icon2">
                <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
            </svg>
        </button>
    </div>
</section>