<section class="products">
    <div class="products__container container">
        <div class="products__title-box">
            <h2 data-aos="zoom-out-right" data-aos-duration="1500" class="products__title">
                Найпопулярніші товари
            </h2>
            <a data-aos="zoom-in-left" data-aos-duration="1500" class="products__link" href="../../catalog.html">
                Дивитись всі
                <svg class="products__arrow">
                    <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
                </svg>
            </a>
        </div>
        <ul class="products__list">
            <li data-aos="zoom-in-right" data-aos-duration="1500" class="products__item">
                <picture>
                    <source srcset="./images/desktop/sparta-bed@1x.webp 1x, ./images/desktop/sparta-bed@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sparta-bed@1x.webp 1x, ./images/mobile/sparta-bed@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/sparta-bed@2x.webp" alt="Ліжко Спарта" class="products__photo-desktop">
                    <img src="./images/mobile/sparta-bed@2x.webp" alt="Ліжко Спарта" class="products__photo-mobile">
                </picture>
                <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
                <h3 class="products__subtitle-desktop">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <h3 class="products__subtitle-mobile">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <div class="products__stock">
                    <svg class="products__stock-arrow">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p classs="products__stock-text">В наявності</p>
                </div>
                <p class="products__old-price">25 400 грн.</p>
                <p class="products__price">15 400 грн.</p>
                <ul class="products__couple">
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__like-icon">
                                <use href="../images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__basket-icon">
                                <use href="../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li data-aos="zoom-in-right" data-aos-duration="1500" class="products__item">
                <picture>
                    <source srcset="./images/desktop/argon-bed@1x.webp 1x, ./images/desktop/argon-bed@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sparta-bed@1x.webp 1x, ./images/mobile/sparta-bed@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/argon-bed@2x.webp" alt="Ліжко Аргон" class="products__photo-desktop">
                    <img src="./images/mobile/sparta-bed@2x.webp" alt="Ліжко Аргон" class="products__photo-mobile">
                </picture>
                <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
                <h3 class="products__subtitle-desktop">Ліжко Аргон з підйомним механізмом</h3>
                <h3 class="products__subtitle-mobile">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <div class="products__stock">
                    <svg class="products__stock-arrow">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p classs="products__stock-text">В наявності</p>
                </div>
                <p class="products__price">16 400 грн.</p>
                <ul class="products__couple">
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__like-icon">
                                <use href="../images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__basket-icon">
                                <use href="../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li data-aos="zoom-in-left" data-aos-duration="1500" class="products__item">
                <picture>
                    <source srcset="./images/desktop/prestige-bed@1x.webp 1x, ./images/desktop/prestige-bed@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sparta-bed@1x.webp 1x, ./images/mobile/sparta-bed@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/prestige-bed@2x.webp" alt="Ліжко Престиж" class="products__photo-desktop">
                    <img src="./images/mobile/sparta-bed@2x.webp" alt="Ліжко Аргон" class="products__photo-mobile">
                </picture>
                <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
                <h3 class="products__subtitle-desktop">Ліжко Престиж з підйомним механізмом</h3>
                <h3 class="products__subtitle-mobile">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <div class="products__stock">
                    <svg class="products__stock-arrow">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p classs="products__stock-text">В наявності</p>
                </div>
                <p class="products__price">14 969 грн.</p>
                <ul class="products__couple">
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__like-icon">
                                <use href="../images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__basket-icon">
                                <use href="../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li data-aos="zoom-in-left" data-aos-duration="1500" class="products__item">
                <picture>
                    <source srcset="./images/desktop/tokio-sofa@1x.webp 1x, ./images/desktop/tokio-sofa@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sparta-bed@1x.webp 1x, ./images/mobile/sparta-bed@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/tokio-sofa@2x.webp" alt="Диван Токіо-2" class="products__photo-desktop">
                    <img src="./images/mobile/sparta-bed@2x.webp" alt="Ліжко Аргон" class="products__photo-mobile">
                </picture>
                <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
                <h3 class="products__subtitle-desktop">Диван Токіо-2</h3>
                <h3 class="products__subtitle-mobile">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <div class="products__stock">
                    <svg class="products__stock-arrow">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p classs="products__stock-text">В наявності</p>
                </div>
                <p class="products__price">13 211 грн.</p>
                <ul class="products__couple">
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__like-icon">
                                <use href="../images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__basket-icon">
                                <use href="../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li data-aos="zoom-in-right" data-aos-duration="1500" class="products__item">
                <picture>
                    <source srcset="./images/desktop/largo-matress@1x.webp 1x, ./images/desktop/largo-matress@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sparta-bed@1x.webp 1x, ./images/mobile/sparta-bed@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/largo-matress@2x.webp" alt="Матрац" class="products__photo-desktop">
                    <img src="./images/mobile/sparta-bed@2x.webp" alt="Ліжко Аргон" class="products__photo-mobile">
                </picture>
                <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
                <h3 class="products__subtitle-desktop">Матрац Largo SLIM / Ларго Слім</h3>
                <h3 class="products__subtitle-mobile">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <div class="products__stock">
                    <svg class="products__stock-arrow">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p classs="products__stock-text">В наявності</p>
                </div>
                <p class="products__old-price">3 122 грн.</p>
                <p class="products__price">2 810 грн.</p>
                <ul class="products__couple">
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__like-icon">
                                <use href="../images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__basket-icon">
                                <use href="../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li data-aos="zoom-in-right" data-aos-duration="1500" class="products__item">
                <picture>
                    <source srcset="./images/desktop/argentum-matress@1x.webp 1x, ./images/desktop/argentum-matress@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sparta-bed@1x.webp 1x, ./images/mobile/sparta-bed@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/argentum-matress@2x.webp" alt="Матрац" class="products__photo-desktop">
                    <img src="./images/mobile/sparta-bed@2x.webp" alt="Ліжко Аргон" class="products__photo-mobile">
                </picture>
                <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
                <h3 class="products__subtitle-desktop">Матрац ARGENTUM AMALTEA / Аргентум Амалті</h3>
                <h3 class="products__subtitle-mobile">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <div class="products__stock">
                    <svg class="products__stock-arrow">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p classs="products__stock-text">В наявності</p>
                </div>
                <p class="products__old-price">5 966 грн.</p>
                <p class="products__price">5 071 грн.</p>
                <ul class="products__couple">
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__like-icon">
                                <use href="../images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__basket-icon">
                                <use href="../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li data-aos="zoom-in-left" data-aos-duration="1500" class="products__item">
                <picture>
                    <source srcset="./images/desktop/bravo-sofa@1x.webp 1x, ./images/desktop/bravo-sofa@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sparta-bed@1x.webp 1x, ./images/mobile/sparta-bed@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/bravo-sofa@2x.webp" alt="Диван Браво" class="products__photo-desktop">
                    <img src="./images/mobile/sparta-bed@2x.webp" alt="Ліжко Аргон" class="products__photo-mobile">
                </picture>
                <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
                <h3 class="products__subtitle-desktop">Диван Браво</h3>
                <h3 class="products__subtitle-mobile">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <div class="products__stock">
                    <svg class="products__stock-arrow">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p classs="products__stock-text">В наявності</p>
                </div>
                <p class="products__price">10 008 грн.</p>
                <ul class="products__couple">
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__like-icon">
                                <use href="../images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__basket-icon">
                                <use href="../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li data-aos="zoom-in-left" data-aos-duration="1500" class="products__item">
                <picture>
                    <source srcset="./images/desktop/mk5-bed@1x.webp 1x, ./images/desktop/mk5-bed@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sparta-bed@1x.webp 1x, ./images/mobile/sparta-bed@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/mk5-bed@2x.webp" alt="Диван Браво" class="products__photo-desktop">
                    <img src="./images/mobile/sparta-bed@2x.webp" alt="Ліжко Аргон" class="products__photo-mobile">
                </picture>
                <p class="products__size">Розмір: 61 x 184 x 2130 мм</p>
                <h3 class="products__subtitle-desktop">Ліжко МК-5</h3>
                <h3 class="products__subtitle-mobile">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                <div class="products__stock">
                    <svg class="products__stock-arrow">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p classs="products__stock-text">В наявності</p>
                </div>
                <p class="products__price">8 775 грн.</p>
                <ul class="products__couple">
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__like-icon">
                                <use href="../images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="products__couple-item">
                        <button type="button" class="products__button">
                            <svg class="products__basket-icon">
                                <use href="../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
        <button data-aos="zoom-in" data-aos-duration="2000" class="products__last-button">
            <svg class="products__button-icon">
                <use href="../images/symbol-defs.svg#icon-reload"></use>
            </svg>
            <p class="products__button-text">Показати ще товари</p>
        </button>
    </div>
</section>