<section class="promotions">
    <div class="promotions__container container">
        <h2 class="promotions__title">Акції</h2>
        <a class="promotions__link" href="#">
            Дивитись всі
            <svg class="promotions__arrow">
                <use href="../images/symbol-defs.svg#icon-upper-arrow"></use>
            </svg>
        </a>
        <ul class="promotions__couple">
            <li class="promotions__couple-part">
                <button type="button" class="promotions__button">
                    <svg class="promotions__arrow">
                        <use href="../images/symbol-defs.svg#icon-main-hero-left"></use>
                    </svg>
                </button>
            </li>
            <li class="promotions__couple-part">
                <button type="button" class="promotions__button">
                    <svg class="promotions__arrow">
                        <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <ul class="promotions__list">
            <li class="promotions__item">
                <picture>
                    <source srcset="./images/desktop/sale1@1x.webp 1x, ./images/desktop/sale1@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sale1@1x.webp 1x, ./images/mobile/sale1@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/sale1@2x.webp" alt="Літній розпродаж" class="promotions__photo promotions__photo1">
                </picture>
            </li>
            <li class="promotions__item">
                <picture>
                    <source srcset="./images/desktop/sale2@1x.webp 1x, ./images/desktop/sale2@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sale1@1x.webp 1x, ./images/mobile/sale1@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/sale2@2x.webp" alt="Диванний цінопад" class="promotions__photo promotions__photo2">
                </picture>
            </li>
            <li class="promotions__item">
                <picture>
                    <source srcset="./images/desktop/sale3@1x.webp 1x, ./images/desktop/sale3@2x.webp 2x" media="min-width: 1200px">
                    <source srcset="./images/mobile/sale1@1x.webp 1x, ./images/mobile/sale1@2x.webp 2x" media="min-width: 320px">
                    <img src="./images/desktop/sale3@2x.webp" alt="Королівські скидки на м'які меблі" class="promotions__photo promotions__photo3">
                </picture>
            </li>
        </ul>
        <!-- <ul class="promotions__points-list">
            <li class="promotions__item">
                <svg class="promotions__point">
                    <use href="../images/symbol-defs.svg#empty-hero-point"></use>
                </svg>
            </li>
            <li class="promotions__item">
                <svg class="promotions__point">
                    <use href="../images/symbol-defs.svg#empty-hero-point"></use>
                </svg>
            </li>
            <li class="promotions__item">
                <svg class="promotions__point">
                    <use href="../images/symbol-defs.svg#full-hero-point"></use>
                </svg>
            </li>
            <li class="promotions__item">
                <svg class="promotions__point">
                    <use href="../images/symbol-defs.svg#empty-hero-point"></use>
                </svg>
            </li>
            <li class="promotions__item">
                <svg class="promotions__point">
                    <use href="../images/symbol-defs.svg#empty-hero-point"></use>
                </svg>
            </li>
        </ul> -->
    </div>
</section>