<section class="characteristics">
    <div class="container">
        <div class="characteristics__box">
            <h2 class="characteristics__title">Характеристики</h2>
            <ul class="characteristics__list">
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Довжина (см)</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">210, 200</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Ширина (см)</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">132</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Висота (см)</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">105</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Ширина спального місця (см)</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">120</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Довжина спального місця (см)</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">200, 190</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Розмір спального місця</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">120x200, 120x190</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Колір</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">Під замовлення</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Форма</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">Прямокутний</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Кількість ламелей</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">36</p>
                </li>
                <li class="characteristics__item" data-aos="flip-up" data-aos-duration="1000">
                    <p class="characteristics__property">Основа під матрац</p>
                    <div class="characteristics__line"></div>
                    <p class="characteristics__value">ламіль</p>
                </li>
            </ul>
        </div>
    </div>
</section>