<section class="comments">
    <div class="container comments__container">
        <h2 class="comments__title">Відгуки про Ліжко двоспальне МК-1 з підйомним механізмом</h2>
        <div class="comments__summ-box">
            <p class="comments__summ-text">Всього відгуків: 93</p>
            <ul class="comments__stars">
                <li class="comments__star">
                    <svg class="comments__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                    </svg>
                </li>
                <li class="comments__star">
                    <svg class="comments__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                    </svg>
                </li>
                <li class="comments__star">
                    <svg class="comments__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                    </svg>
                </li>
                <li class="comments__star">
                    <svg class="comments__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                    </svg>
                </li>
                <li class="comments__star">
                    <svg class="comments__star-svg">
                        <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                    </svg>
                </li>
            </ul>
            <p class="comments__summ-text">Середня оцінка 4,5</p>
        </div>
        <ul class="comments__list">
            <li class="comments__item">
                <div class="comments__user-box">
                    <svg class="comments__user-svg">
                        <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                    </svg>
                    <p class="comments__user-name">Іван Стедниця</p>
                    <ul class="comments__stars">
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="comments__date">25.01.2022</p>
                </div>
                <p class="comments__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.</p>
                <ul class="comments__reviews">
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <svg class="comments__review-svg">
                                <use href="../../images/symbol-defs.svg#icon-two-chats"></use>
                            </svg>
                            Відповісти
                        </button>
                    </li>
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <svg class="comments__review-svg">
                                <use href="../../images/symbol-defs.svg#icon-close"></use>
                            </svg>
                            Приховати відповіді
                        </button>
                    </li>
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <svg class="comments__review-svg">
                                <use href="../../images/symbol-defs.svg#icon-like"></use>
                            </svg>
                            Корисний відгук: 24
                        </button>
                    </li>
                </ul>
                <ul class="comments__answers">
                    <li class="comments__answer">
                        <div class="comments__answer-user">
                            <svg class="comments__user-svg">
                                <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                            </svg>
                            <p class="comments__user-name">Андрій Іванович</p>
                            <svg class="comments__answer-svg">
                                <use href="../../images/symbol-defs.svg#icon-long-hero-right"></use>
                            </svg>
                            <p class="comments__answer-name">Іван Стедниця</p>
                            <p class="comments__date">25.01.2022</p>
                        </div>
                        <p class="comments__answer-text">
                            Згоден з вами! Довго шукав зручне та недороге ліжко в спальню. Ліжко+матрац виходила дуже пристойна сума. Тут знайшов ліжко разом із матрацом за дуже привабливою ціною. Передзвонив, уточнив, дій.
                        </p>
                    </li>
                    <li class="comments__answer">
                        <div class="comments__answer-user">
                            <svg class="comments__admin-svg">
                                <use href="../../images/symbol-defs.svg#icon-avatar-admin"></use>
                            </svg>
                            <p class="comments__user-name">KROVATO</p>
                            <svg class="comments__answer-svg">
                                <use href="../../images/symbol-defs.svg#icon-long-hero-right"></use>
                            </svg>
                            <p class="comments__answer-name">Іван Стедниця</p>
                            <p class="comments__date">25.01.2022</p>
                        </div>
                        <p class="comments__answer-text">
                            Дякуємо за відгуки! будемо раді бачити Вас знову!
                        </p>
                    </li>
                </ul>
            </li>
            <li class="comments__item">
                <div class="comments__user-box">
                    <svg class="comments__user-svg">
                        <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                    </svg>
                    <p class="comments__user-name">Іван Стедниця</p>
                    <ul class="comments__stars">
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="comments__date">25.01.2022</p>
                </div>
                <p class="comments__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.</p>
                <ul class="comments__reviews">
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <svg class="comments__review-svg">
                                <use href="../../images/symbol-defs.svg#icon-close"></use>
                            </svg>
                            Передумав
                        </button>
                    </li>
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <div class="comments__review-number">2</div>
                            Показати відповіді
                        </button>
                    </li>
                    <li class="comments__review">
                        <svg class="comments__review-svg">
                            <use href="../../images/symbol-defs.svg#icon-like"></use>
                        </svg>
                        Корисний відгук: 24
                    </li>
                </ul>
                <div class="comments__response">
                    <div class="comments__response-box">
                        <svg class="comments__response-svg">
                            <use href="../../images/symbol-defs.svg#icon-forward"></use>
                        </svg>
                        <p class="comments__response-text">Відповідь для Іван Стедниця</p>
                    </div>
                    <form class="comments__response-form">
                        <input type="text" class="comments__response-input" placeholder="Ваше ім'я прізвище">
                        <input type="text" class="comments__response-input" placeholder="E-mail">
                        <input type="text" class="comments__response-input comments__comment-input" placeholder="Відгук">
                        <div class="comments__response-btn-box">
                            <button class="comments__response-submit" type="submit">Відправити</button>
                            <button class="comments__response-decline" type="reset">Відмінити</button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="comments__item">
                <div class="comments__user-box">
                    <svg class="comments__user-svg">
                        <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                    </svg>
                    <p class="comments__user-name">Іван Стедниця</p>
                    <ul class="comments__stars">
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="comments__date">25.01.2022</p>
                </div>
                <p class="comments__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.</p>
                <ul class="comments__reviews">
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <svg class="comments__review-svg">
                                <use href="../../images/symbol-defs.svg#icon-two-chats"></use>
                            </svg>
                            Відповісти
                        </button>
                    </li>
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <div class="comments__review-number">2</div>
                            Показати відповіді
                        </button>
                    </li>
                    <li class="comments__review">
                        <svg class="comments__review-svg">
                            <use href="../../images/symbol-defs.svg#icon-like"></use>
                        </svg>
                        Корисний відгук: 24
                    </li>
                </ul>
            </li>
            <li class="comments__item">
                <div class="comments__user-box">
                    <svg class="comments__user-svg">
                        <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                    </svg>
                    <p class="comments__user-name">Іван Стедниця</p>
                    <ul class="comments__stars">
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="comments__date">25.01.2022</p>
                </div>
                <p class="comments__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.</p>
                <ul class="comments__reviews">
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <svg class="comments__review-svg">
                                <use href="../../images/symbol-defs.svg#icon-two-chats"></use>
                            </svg>
                            Відповісти
                        </button>
                    </li>
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <div class="comments__review-number">2</div>
                            Показати відповіді
                        </button>
                    </li>
                    <li class="comments__review">
                        <svg class="comments__review-svg">
                            <use href="../../images/symbol-defs.svg#icon-like"></use>
                        </svg>
                        Корисний відгук: 24
                    </li>
                </ul>
            </li>
            <li class="comments__item">
                <div class="comments__user-box">
                    <svg class="comments__user-svg">
                        <use href="../../images/symbol-defs.svg#icon-avatar"></use>
                    </svg>
                    <p class="comments__user-name">Іван Стедниця</p>
                    <ul class="comments__stars">
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="comments__star">
                            <svg class="comments__star-svg">
                                <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="comments__date">25.01.2022</p>
                </div>
                <p class="comments__text">Вчора привезли ліжко, і воно дуже класне, краще ніж очікували. Велика, м'яка, зручна. Брали разом із матрацом, тому одразу випробували. Є велика ніша для зберігання, поміститься не тільки постіль.</p>
                <ul class="comments__reviews">
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <svg class="comments__review-svg">
                                <use href="../../images/symbol-defs.svg#icon-two-chats"></use>
                            </svg>
                            Відповісти
                        </button>
                    </li>
                    <li class="comments__review">
                        <button class="comments__review-btn" type="button">
                            <div class="comments__review-number">2</div>
                            Показати відповіді
                        </button>
                    </li>
                    <li class="comments__review">
                        <svg class="comments__review-svg">
                            <use href="../../images/symbol-defs.svg#icon-like"></use>
                        </svg>
                        Корисний відгук: 24
                    </li>
                </ul>
            </li>
        </ul>
        <button class="comments__show-more" type="button">
            <svg class="comments__show-more-svg">
                <use href="../../images/symbol-defs.svg#icon-reload"></use>
            </svg>
            Показати ще відгуки
        </button>
    </div>
</section>