<section class="conditions">
    <div class="container">
        <ul class="conditions__list">
            <li class="conditions__item">
                <svg class="conditions__svg">
                    <use href="../../images/symbol-defs.svg#icon-conditions1"></use>
                </svg>
                <div class="conditions__box">
                    <h2 class="conditions__title">Доставка</h2>
                    <p class="conditions__text">Доставка по Києву або по всій Україні</p>
                    <a href="#" class="conditions__link">
                        Детальніше
                        <svg class="conditions__arrow">
                            <use href="../../images/symbol-defs.svg#icon-upper-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="conditions__item">
                <svg class="conditions__svg">
                    <use href="../../images/symbol-defs.svg#icon-conditions2"></use>
                </svg>
                <div class="conditions__box">
                    <h2 class="conditions__title">Оплата</h2>
                    <p class="conditions__text">Карткою на сайті, готівкою або через термінал</p>
                    <a href="#" class="conditions__link">
                        Детальніше
                        <svg class="conditions__arrow">
                            <use href="../../images/symbol-defs.svg#icon-upper-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="conditions__item">
                <svg class="conditions__svg">
                    <use href="../../images/symbol-defs.svg#icon-conditions3"></use>
                </svg>
                <div class="conditions__box">
                    <h2 class="conditions__title">Гарантія</h2>
                    <p class="conditions__text">Гарантія від виробника до 2 років</p>
                    <a href="#" class="conditions__link">
                        Детальніше
                        <svg class="conditions__arrow">
                            <use href="../../images/symbol-defs.svg#icon-upper-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="conditions__item">
                <svg class="conditions__svg">
                    <use href="../../images/symbol-defs.svg#icon-conditions4"></use>
                </svg>
                <div class="conditions__box">
                    <h2 class="conditions__title">Підтримка</h2>
                    <p class="conditions__text">Безкоштовна консультація по вибору товара</p>
                    <a href="#" class="conditions__link">
                        Детальніше
                        <svg class="conditions__arrow">
                            <use href="../../images/symbol-defs.svg#icon-upper-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>