<section class="product">
    <div class="container">
        <ul class="product__location">
            <li class="product__location-item">
                <a href="../../index.html" class="location-pages">Головна</a>
            </li>
            <li class="product__location-item">
                <svg class="product__location-svg">
                    <use href="../../images/symbol-defs.svg#icon-wide-arrow-right"></use>
                </svg>
            </li>
            <li class="product__location-item">
                <a href="#" class="location-pages">Ліжка</a>
            </li>
            <li class="product__location-item">
                <svg class="product__location-svg">
                    <use href="../../images/symbol-defs.svg#icon-wide-arrow-right"></use>
                </svg>
            </li>
            <li class="product__location-item">
                <a href="#" class="location-pages">М'які ліжка</a>
            </li>
            <li class="product__location-item">
                <svg class="product__location-svg">
                    <use href="../../images/symbol-defs.svg#icon-wide-arrow-right"></use>
                </svg>
            </li>
            <li class="product__location-item">
                <a href="#" class="location-pages">Двоспальне ліжко з підйомним механізмом Сіті</a>
            </li>
        </ul>

        <div class="product__box">
            <div class="product__img-box">
                <img src="#" alt="photo" class="product__img">
                <button class="product__img-btn">
                    <svg class="product__img-svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
                <button class="product__img-btn">
                    <svg class="product__img-svg">
                        <use href="../../images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
                <ul class="product__images">
                    <li class="product__images-item">
                        <img src="#" alt="photo" class="product__other-img">
                    </li>
                    <li class="product__images-item">
                        <img src="#" alt="photo" class="product__other-img">
                    </li>
                    <li class="product__images-item">
                        <img src="#" alt="photo" class="product__other-img">
                    </li>
                    <li class="product__images-item">
                        <img src="#" alt="photo" class="product__other-img">
                    </li>
                    <li class="product__images-item">
                        <img src="#" alt="photo" class="product__other-img">
                    </li>
                </ul>
            </div>
            <div class="product__card">
                <h2 class="product__name">Ліжко двоспальне МК-1 з підйомним механізмом</h2>
                <ul class="product__info">
                    <li class="product__info-item">
                        <svg class="product__check-svg">
                            <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                        <p class="product__check-text">В наявності</p>
                    </li>
                    <li class="product__info-item">
                        <ul class="product__stars">
                            <li class="product__star">
                                <svg class="product__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                                </svg>
                            </li>
                            <li class="product__star">
                                <svg class="product__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                                </svg>
                            </li>
                            <li class="product__star">
                                <svg class="product__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                                </svg>
                            </li>
                            <li class="product__star">
                                <svg class="product__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                                </svg>
                            </li>
                            <li class="product__star">
                                <svg class="product__star-svg">
                                    <use href="../../images/symbol-defs.svg#icon-full-star"></use>
                                </svg>
                            </li>
                        </ul>
                        <svg class="product__review-svg">
                            <use href="../../images/symbol-defs.svg#icon-chat"></use>
                        </svg>
                        <p class="product__review-text">93 відгуки</p>
                    </li>
                    <li class="product__info-item">
                        <p class="product__model">Модель: 62003836</p>
                    </li>
                </ul>
                <div class="product__properties">
                    <div class="product__prise-box">
                        <p class="product__prise"></p>
                        <p class="product__old-prise"></p>
                        <div class="product__like-box">
                            <button class="product__like-btn">
                                <svg class="product__like-svg">
                                    <use href="../../images/symbol-defs.svg#icon-heart"></use>
                                </svg>
                            </button>
                            <p class="product__like-text">В обране</p>
                        </div>
                    </div>
                    <ul class="product__prorerties-list">
                        <li class="product__prorerties-item">
                            <svg class="product__properties-svg">
                                <use href="../../images/symbol-defs.svg#icon-question"></use>
                            </svg>
                            <p class="product__properties-text">Розмір</p>
                            <select name="size" id="size" class="product__select">
                                <option value="choose" selected class="product__option">Виберіть</option>
                                <option value="val1" class="product__option">Маленький</option>
                                <option value="val2" class="product__option">Середній</option>
                                <option value="val3" class="product__option">Великий</option>
                            </select>
                        </li>
                        <li class="product__prorerties-item">
                            <svg class="product__properties-svg">
                                <use href="../../images/symbol-defs.svg#icon-question"></use>
                            </svg>
                            <p class="product__properties-text">Ламельний блок</p>
                            <select name="size" id="size" class="product__select">
                                <option value="choose" selected class="product__option">Виберіть</option>
                                <option value="val1" class="product__option">Перший</option>
                                <option value="val2" class="product__option">Другий</option>
                                <option value="val3" class="product__option">Третій</option>
                            </select>
                        </li>
                        <li class="product__prorerties-item">
                            <svg class="product__properties-svg">
                                <use href="../../images/symbol-defs.svg#icon-question"></use>
                            </svg>
                            <p class="product__properties-text">Виберіть тканину:</p>
                            <ul class="properties__materials">
                                <li class="properties__material">
                                    <a href="#" class="properties__material-link">
                                        <img src="#" alt="material" class="properties__material-img">
                                    </a>
                                </li>
                                <li class="properties__material">
                                    <a href="#" class="properties__material-link">
                                        <img src="#" alt="material" class="properties__material-img">
                                    </a>
                                </li>
                                <li class="properties__material">
                                    <a href="#" class="properties__material-link">
                                        <img src="#" alt="material" class="properties__material-img">
                                    </a>
                                </li>
                                <li class="properties__material">
                                    <a href="#" class="properties__material-link">
                                        <img src="#" alt="material" class="properties__material-img">
                                    </a>
                                </li>
                                <li class="properties__material">
                                    <a href="#" class="properties__material-link">
                                        <img src="#" alt="material" class="properties__material-img">
                                    </a>
                                </li>
                                <li class="properties__material">
                                    <a href="#" class="properties__material-link">
                                        <img src="#" alt="material" class="properties__material-img">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="product__show-all">
                        Показати всі
                        <svg class="product__show-all-svg">
                            <use href="../../images/symbol-defs.svg#icon-double-arrow-down"></use>
                        </svg>
                    </a>
                    <div class="product__btn-box">
                        <div class="product__amount">
                            <button class="product__amount-btn" type="button">-</button>
                            <p class="product__amount-text">1</p>
                            <button class="product__amount-btn" type="button">+</button>
                        </div>
                        <button class="product__buy" type="button">
                            <svg class="product__buy-svg">
                                <use href="../../images/symbol-defs.svg#icon-basket"></use>
                            </svg>
                            Купити
                        </button>
                        <button class="product__credit" type="button">
                            <svg class="product__credit-svg">
                                <use href="../../images/symbol-defs.svg#icon-credit"></use>
                            </svg>
                            Купити в кредит
                        </button>
                    </div>
                </div>
            </div>
            <div class="product__buy-now">
                <a href="#" class="product__phone">
                    <svg class="product__phone-svg">
                        <use href="../../images/symbol-defs.svg#icon-call"></use>
                    </svg>
                    +380  --  ---  --  -- 
                </a>
                <button class="product__buy-now-btn" type="button">Купити в 1 клік</button>
            </div>
        </div>
    </div>
</section>