<section class="product">
    <div class="container">
        <div class="product__location">
            <a href="../../index.html" class="location-pages">Головна</a>
            <svg class="product__location-svg">
                <use href="../../images/symbol-defs.svg#"></use>
            </svg>
            <a href="#" class="location-pages">Ліжка</a>
            <a href="#" class="location-pages">М'які ліжка</a>
            <a href="#" class="location-pages">Двоспальне ліжко з підйомним механізмом Сіті</a>
        </div>
    </div>
</section>