<section class="product-description">
    <div class="container">
        <h2 class="product-description__title">Опис товару</h2>
        <p class="product-description__text">Модель МК-1 – це ліжко від українського виробника, компанії MegaMebli. Вона виготовляється з ДСП та оснащена м'якою спинкою. Також може бути виготовлена з дерев'яного щита (сосни). Ламелі виконані з бука. Подібна конструкція характеризується надійністю та привабливим зовнішнім виглядом.</p>
        <img src="#" alt="colors" class="product-description__img">
    </div>
</section>