<section class="product">
    <div class="container product__container">
        <ul class="product__location">
            <li class="product__location-item">
                <a href="../index.html" class="product__location-pages">Головна</a>
            </li>
            <li class="product__location-item">
                <svg class="product__location-svg">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
            </li>
            <li class="product__location-item">
                <a href="#" class="product__location-pages">Ліжка</a>
            </li>
            <li class="product__location-item">
                <svg class="product__location-svg">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
            </li>
            <li class="product__location-item">
                <a href="#" class="product__location-pages">М'які ліжка</a>
            </li>
            <li class="product__location-item">
                <svg class="product__location-svg">
                    <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                </svg>
            </li>
            <li class="product__location-item">
                <a href="#" class="product__location-pages product__location-active">Двоспальне ліжко з підйомним механізмом Сіті</a>
            </li>
        </ul>

        <div class="product__title-box">
            <h2 class="product__name">Ліжко двоспальне МК-1 з підйомним механізмом</h2>
            <ul class="product__info">
                <li class="product__info-item">
                    <svg class="product__check-svg">
                        <use href="../images/symbol-defs.svg#icon-check"></use>
                    </svg>
                    <p class="product__check-text">В наявності</p>
                </li>
                <li class="product__info-item">
                    <ul class="product__stars">
                        <li class="product__star">
                            <svg class="product__star-svg">
                                <use href="../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="product__star">
                            <svg class="product__star-svg">
                                <use href="../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="product__star">
                            <svg class="product__star-svg">
                                <use href="../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="product__star">
                            <svg class="product__star-svg">
                                <use href="../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                        <li class="product__star">
                            <svg class="product__star-svg">
                                <use href="../images/symbol-defs.svg#icon-full-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <svg class="product__review-svg">
                        <use href="../images/symbol-defs.svg#icon-chat"></use>
                    </svg>
                    <p class="product__review-text">93 відгуки</p>
                </li>
                <li class="product__info-item">
                    <p class="product__model">Модель: 62003836</p>
                </li>
            </ul>
        </div>
        <div class="product__box">
            <div class="product__img-box">
                <picture>
                    <source srcset="../images/desktop/item-prewiew1@1x.webp 1x, ../images/desktop/item-prewiew1@2x.webp 2x" media="(min-width: 768px)">
                    <source srcset="../images/mobile/item-prewiew@1x.webp 1x, ../images/mobile/item-prewiew@2x.webp 2x" media="(min-width: 480px)">
                    <img src="../images/mobile/item-prewiew@1x.webp" alt="photo" class="product__img">
                </picture>
                <button class="product__img-btn product__left-btn">
                    <svg class="product__img-svg">
                        <use href="../images/symbol-defs.svg#icon-main-hero-left"></use>
                    </svg>
                </button>
                <button class="product__img-btn product__right-btn">
                    <svg class="product__img-svg">
                        <use href="../images/symbol-defs.svg#icon-main-hero-right"></use>
                    </svg>
                </button>
                <ul class="product__btn-points">
                    <li class="product__btn-point">
                        <svg class="product__point-svg">
                            <use href="../images/symbol-defs.svg#icon-product-empty-point"></use>
                        </svg>
                    </li>
                    <li class="product__btn-point">
                        <svg class="product__point-svg">
                            <use href="../images/symbol-defs.svg#icon-product-empty-point"></use>
                        </svg>
                    </li>
                    <li class="product__btn-point">
                        <svg class="product__point-svg">
                            <use href="../images/symbol-defs.svg#icon-product-full-point"></use>
                        </svg>
                    </li>
                    <li class="product__btn-point">
                        <svg class="product__point-svg">
                            <use href="../images/symbol-defs.svg#icon-product-empty-point"></use>
                        </svg>
                    </li>
                    <li class="product__btn-point">
                        <svg class="product__point-svg">
                            <use href="../images/symbol-defs.svg#icon-product-empty-point"></use>
                        </svg>
                    </li>
                </ul>
                <ul class="product__images">
                    <li class="product__images-item">
                        <picture>
                            <source srcset="../images/desktop/item-prewiew1@1x.webp 1x, ../images/desktop/item-prewiew1@2x.webp 2x" media="(min-width: 768px)">
                            <img src="../images/mobile/item-prewiew@1x.webp" alt="photo" class="product__other-img">
                        </picture>
                    </li>
                    <li class="product__images-item">
                        <picture>
                            <source srcset="../images/desktop/item-prewiew2@1x.webp 1x, ../images/desktop/item-prewiew2@2x.webp 2x" media="(min-width: 768px)">
                            <img src="../images/mobile/item-prewiew@1x.webp" alt="photo" class="product__other-img">
                        </picture>
                    </li>
                    <li class="product__images-item">
                        <picture>
                            <source srcset="../images/desktop/item-prewiew3@1x.webp 1x, ../images/desktop/item-prewiew3@2x.webp 2x" media="(min-width: 768px)">
                            <img src="../images/mobile/item-prewiew@1x.webp" alt="photo" class="product__other-img">
                        </picture>
                    </li>
                    <li class="product__images-item">
                        <picture>
                            <source srcset="../images/desktop/item-prewiew4@1x.webp 1x, ../images/desktop/item-prewiew4@2x.webp 2x" media="(min-width: 768px)">
                            <img src="../images/mobile/item-prewiew@1x.webp" alt="photo" class="product__other-img">
                        </picture>
                    </li>
                    <li class="product__images-item">
                        <picture>
                            <source srcset="../images/desktop/item-prewiew5@1x.webp 1x, ../images/desktop/item-prewiew5@2x.webp 2x" media="(min-width: 768px)">
                            <img src="../images/mobile/item-prewiew@1x.webp" alt="photo" class="product__other-img">
                        </picture>
                    </li>
                </ul>
            </div>
            <div class="product__card">
                <div class="product__properties">
                    <div class="product__prise-box">
                        <p class="product__prise">15 400 грн.</p>
                        <p class="product__old-prise">25 400 грн.</p>
                        <div class="product__like-box">
                            <button class="product__like-btn">
                                <svg class="product__like-svg">
                                    <use href="../images/symbol-defs.svg#icon-heart"></use>
                                </svg>
                            </button>
                            <p class="product__like-text">В обране</p>
                        </div>
                    </div>
                    <ul class="product__properties-list">
                        <li class="product__prorerties-item">
                            <div class="product__properties-title-box">
                                <svg class="product__properties-svg">
                                    <use href="../images/symbol-defs.svg#icon-help"></use>
                                </svg>
                                <p class="product__properties-text">Розмір</p>
                            </div>
                            <select name="size" id="size" class="product__select">
                                <option value="choose" selected class="product__option">Виберіть</option>
                                <option value="val1" class="product__option">Маленький</option>
                                <option value="val2" class="product__option">Середній</option>
                                <option value="val3" class="product__option">Великий</option>
                            </select>
                        </li>
                        <li class="product__prorerties-item">
                            <div class="product__properties-title-box">
                                <svg class="product__properties-svg">
                                    <use href="../images/symbol-defs.svg#icon-help"></use>
                                </svg>
                                <p class="product__properties-text">Ламельний блок</p>
                            </div>
                            <select name="size" id="size" class="product__select">
                                <option value="choose" selected class="product__option">Виберіть</option>
                                <option value="val1" class="product__option">Перший</option>
                                <option value="val2" class="product__option">Другий</option>
                                <option value="val3" class="product__option">Третій</option>
                            </select>
                        </li>
                        <li class="product__prorerties-item">
                            <div class="product__properties-title-box">
                                <svg class="product__properties-svg">
                                    <use href="../images/symbol-defs.svg#icon-help"></use>
                                </svg>
                                <p class="product__properties-text">Виберіть тканину:</p>
                            </div>
                            <ul class="product__materials">
                                <li class="product__material">
                                    <a href="#" class="product__material-link">
                                        <picture>
                                            <source srcset="../images/desktop/fabric1@1x.webp 1x, ../images/desktop/fabric1@2x.webp 2x" media="(min-width: 768px)">
                                            <source srcset="../images/mobile/fabric1@1x.webp 1x, ../images/mobile/fabric1@2x.webp 2x" media="(min-width: 480px)">
                                            <img class="product__material-img" src="../images/mobile/fabric1@1x.webp" alt="material">
                                        </picture>
                                    </a>
                                </li>
                                <li class="product__material">
                                    <a href="#" class="product__material-link">
                                        <picture>
                                            <source srcset="../images/desktop/fabric2@1x.webp 1x, ../images/desktop/fabric2@2x.webp 2x" media="(min-width: 768px)">
                                            <source srcset="../images/mobile/fabric2@1x.webp 1x, ../images/mobile/fabric2@2x.webp 2x" media="(min-width: 480px)">
                                            <img class="product__material-img" src="../images/mobile/fabric2@1x.webp" alt="material">
                                        </picture>
                                    </a>
                                </li>
                                <li class="product__material">
                                    <a href="#" class="product__material-link">
                                        <picture>
                                            <source srcset="../images/desktop/fabric3@1x.webp 1x, ../images/desktop/fabric3@2x.webp 2x" media="(min-width: 768px)">
                                            <source srcset="../images/mobile/fabric3@1x.webp 1x, ../images/mobile/fabric3@2x.webp 2x" media="(min-width: 480px)">
                                            <img class="product__material-img" src="../images/mobile/fabric3@1x.webp" alt="material">
                                        </picture>
                                        <svg class="product__material-svg">
                                            <use href="../images/symbol-defs.svg#icon-tick"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="product__material">
                                    <a href="#" class="product__material-link">
                                        <picture>
                                            <source srcset="../images/desktop/fabric4@1x.webp 1x, ../images/desktop/fabric4@2x.webp 2x" media="(min-width: 768px)">
                                            <source srcset="../images/mobile/fabric4@1x.webp 1x, ../images/mobile/fabric4@2x.webp 2x" media="(min-width: 480px)">
                                            <img class="product__material-img" src="../images/mobile/fabric4@1x.webp" alt="material">
                                        </picture>
                                    </a>
                                </li>
                                <li class="product__material">
                                    <a href="#" class="product__material-link">
                                        <picture>
                                            <source srcset="../images/desktop/fabric5@1x.webp 1x, ../images/desktop/fabric5@2x.webp 2x" media="(min-width: 768px)">
                                            <source srcset="../images/mobile/fabric5@1x.webp 1x, ../images/mobile/fabric5@2x.webp 2x" media="(min-width: 480px)">
                                            <img class="product__material-img" src="../images/mobile/fabric5@1x.webp" alt="material">
                                        </picture>
                                    </a>
                                </li>
                                <li class="product__material">
                                    <a href="#" class="product__material-link">
                                        <picture>
                                            <source srcset="../images/desktop/fabric6@1x.webp 1x, ../images/desktop/fabric6@2x.webp 2x" media="(min-width: 768px)">
                                            <img class="product__material-img" src="../images/desktop/fabric6@1x.webp" alt="material">
                                        </picture>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="product__show-all">
                        Показати всі
                        <svg class="product__show-all-svg">
                            <use href="../images/symbol-defs.svg#icon-down-double-arrow"></use>
                        </svg>
                    </a>
                    <div class="product__btn-box">
                        <div class="product__amount">
                            <button class="product__amount-btn" type="button">-</button>
                            <p class="product__amount-text">1</p>
                            <button class="product__amount-btn" type="button">+</button>
                        </div>
                        <button class="product__buy" type="button">
                            <svg class="product__buy-svg">
                                <use href="../images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                            Купити
                        </button>
                        <button class="product__credit" type="button">
                            <svg class="product__credit-svg">
                                <use href="../images/symbol-defs.svg#icon-credit"></use>
                            </svg>
                            Купити в кредит
                        </button>
                    </div>
                </div>
            </div>
            <div class="product__buy-now">
                <a href="#" class="product__phone">
                    <svg class="product__phone-svg">
                        <use href="../images/symbol-defs.svg#icon-call"></use>
                    </svg>
                    +380  --  ---  --  -- 
                </a>
                <button class="product__buy-now-btn" type="button">Купити в 1 клік</button>
            </div>
        </div>
    </div>
</section>