<section class="recomended">
    <div class="container">
        <h2 class="recomended__title">Рекомендовані товари</h2>
        <ul class="recomended__list">
            <li class="recomended__item">
                <a href="#" class="recomended__card">
                    <picture>
                        <source srcset="../../images/desktop/sparta-bed@1x.webp 1x, ../../images/desktop/sparta-bed@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="../../images/mobile/sparta-bed@1x.webp 1x, ../../images/mobile/sparta-bed@2x.webp 2x" media="(min-width: 480px)">
                        <img class="recomended__img" src="../../images/mobile/sparta-bed@1x.webp" alt="photo">
                    </picture>
                    <p class="recomended__size">Розмір: 61 x 184 x 2130 мм</p>
                    <h3 class="recomended__card-title">Ліжко Спарта / Sparta з підйомним механізмом</h3>
                    <div class="recomended__card-box">
                        <svg class="recomended__svg">
                            <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                        <p class="recomended__text">В наявності</p>
                    </div>
                    <div class="recomended__price-box">
                        <div class="recomended__prices">
                            <p class="recomended__old-price">25 400 грн.</p>
                            <p class="recomended__price">15 400 грн.</p>
                        </div>
                        <ul class="recomended__card-list">
                            <li class="recomended__card-item">
                                <button class="recomended__btn">
                                    <svg class="recomended__like-svg recomended__btn-svg">
                                        <use href="../../images/symbol-defs.svg#icon-heart"></use>
                                    </svg>
                                </button>
                            </li>
                            <li class="recomended__card-item">
                                <button class="recomended__btn">
                                    <svg class="recomended__basket-svg recomended__btn-svg">
                                        <use href="../../images/symbol-defs.svg#icon-basket"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="recomended__item">
                <a href="#" class="recomended__card">
                    <picture>
                        <source srcset="../../images/desktop/argon-bed@1x.webp 1x, ../../images/desktop/argon-bed@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="../../images/mobile/sparta-bed@1x.webp 1x, ../../images/mobile/sparta-bed@2x.webp 2x" media="(min-width: 480px)">
                        <img class="recomended__img" src="../../images/mobile/sparta-bed@1x.webp" alt="photo">
                    </picture>
                    <p class="recomended__size">Розмір: 61 x 184 x 2130 мм</p>
                    <h3 class="recomended__card-title">Ліжко Аргон з підйомним механізмом</h3>
                    <div class="recomended__card-box">
                        <svg class="recomended__svg">
                            <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                        <p class="recomended__text">В наявності</p>
                    </div>
                    <div class="recomended__price-box">
                        <div class="recomended__prices">
                            <p class="recomended__price">16 400 грн.</p>
                        </div>
                        <ul class="recomended__card-list">
                            <li class="recomended__card-item">
                                <button class="recomended__btn">
                                    <svg class="recomended__like-svg recomended__btn-svg">
                                        <use href="../../images/symbol-defs.svg#icon-heart"></use>
                                    </svg>
                                </button>
                            </li>
                            <li class="recomended__card-item">
                                <button class="recomended__btn">
                                    <svg class="recomended__basket-svg recomended__btn-svg">
                                        <use href="../../images/symbol-defs.svg#icon-basket"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="recomended__item">
                <a href="#" class="recomended__card">
                    <picture>
                        <source srcset="../../images/desktop/prestige-bed@1x.webp 1x, ../../images/desktop/prestige-bed@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="../../images/mobile/sparta-bed@1x.webp 1x, ../../images/mobile/sparta-bed@2x.webp 2x" media="(min-width: 480px)">
                        <img class="recomended__img" src="../../images/mobile/sparta-bed@1x.webp" alt="photo">
                    </picture>
                    <p class="recomended__size">Розмір: 61 x 184 x 2130 мм</p>
                    <h3 class="recomended__card-title">Ліжко Престиж з підйомним механізмом</h3>
                    <div class="recomended__card-box">
                        <svg class="recomended__svg">
                            <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                        <p class="recomended__text">В наявності</p>
                    </div>
                    <div class="recomended__price-box">
                        <div class="recomended__prices">
                            <p class="recomended__price">14 969 грн.</p>
                        </div>
                        <ul class="recomended__card-list">
                            <li class="recomended__card-item">
                                <button class="recomended__btn">
                                    <svg class="recomended__like-svg recomended__btn-svg">
                                        <use href="../../images/symbol-defs.svg#icon-heart"></use>
                                    </svg>
                                </button>
                            </li>
                            <li class="recomended__card-item">
                                <button class="recomended__btn">
                                    <svg class="recomended__basket-svg recomended__btn-svg">
                                        <use href="../../images/symbol-defs.svg#icon-basket"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="recomended__item">
                <a href="#" class="recomended__card">
                    <picture>
                        <source srcset="../../images/desktop/tokio-sofa@1x.webp 1x, ../../images/desktop/tokio-sofa@2x.webp 2x" media="(min-width: 768px)">
                        <source srcset="../../images/mobile/sparta-bed@1x.webp 1x, ../../images/mobile/sparta-bed@2x.webp 2x" media="(min-width: 480px)">
                        <img class="recomended__img" src="../../images/mobile/sparta-bed@1x.webp" alt="photo">
                    </picture>
                    <p class="recomended__size">Розмір: 61 x 184 x 2130 мм</p>
                    <h3 class="recomended__card-title">Диван Токіо-2</h3>
                    <div class="recomended__card-box">
                        <svg class="recomended__svg">
                            <use href="../../images/symbol-defs.svg#icon-check"></use>
                        </svg>
                        <p class="recomended__text">В наявності</p>
                    </div>
                    <div class="recomended__price-box">
                        <div class="recomended__prices">
                            <p class="recomended__price">13 211 грн.</p>
                        </div>
                        <ul class="recomended__card-list">
                            <li class="recomended__card-item">
                                <button class="recomended__btn">
                                    <svg class="recomended__like-svg recomended__btn-svg">
                                        <use href="../../images/symbol-defs.svg#icon-heart"></use>
                                    </svg>
                                </button>
                            </li>
                            <li class="recomended__card-item">
                                <button class="recomended__btn">
                                    <svg class="recomended__basket-svg recomended__btn-svg">
                                        <use href="../../images/symbol-defs.svg#icon-basket"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>