.about {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 100px;

    @media screen and (min-width: 1290px) {
        padding-top: 70px;
        padding-bottom: 150px;
    }

    &__container {
        position: relative;
    }

    &__title {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 410px;
        color: $dark-color;
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.3;

        @media screen and (min-width: 1290px) {
            margin-left: auto;
            margin-right: auto;
            width: 1070px;
            font-size: 40px;
            line-height: 1.2;
            margin-bottom: 30px;
            text-align: center;
        }
    }

    &__text {
        margin-left: auto;
        margin-right: auto;
        color: $dark-color;
        font-size: 16px;
        line-height: 1.87;
        width: 1000px;
    }

    &__text1 {
        display: none;

        @media screen and (min-width: 1290px) {
            display: block;
            width: 1070px;
        }
    }

    &__text2 {
        display: block;
        width: 412px;
        height: 280px;

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }

    &__gradient {
        width: 100%;
        height: 145px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.80) 33.85%, #FFF 72.4%);
        position: absolute;
        top: 335px;
        z-index: 0;
    }

    &__button {
        position: absolute;
        background-color: transparent;
        top: 420px;
        left: 210px;
        right: 210px;
    }

    &__icon {
        fill: $yellow-color;
        width: 60px;
        height: 60px;
    }
}