.products {
    padding-bottom: 60px;
    background-color: $light-color;

    @media screen and (min-width: 1290px) {
        padding-bottom: 80px;
    }

    &__list {
        @extend %flex-center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__title {
        text-align: left;
        @include font($dark-color, 1.33, 30px, 600);

        @media screen and (min-width: 1290px) {
            @include font($dark-color, 1.2, 40px, 600);
        }

        &-box {
            @extend %flex-center2;
            margin: 0 auto 40px auto;
            gap: 30px;
            width: 410px;

            @media screen and (min-width: 1200px) {
                width: 850px;
            }

            @media screen and (min-width: 1290px) {
                width: 960px;
            }

            @media screen and (min-width: 1320px) {
                width: 1290px;
            }
        }
    }

    &__link {
        display: none;
        align-items: center;
        gap: 10px;

        @include font($yellow-color, 1.26, 19px, 600);

        @media screen and (min-width: 1290px) {
            display: flex;
        }
    }

    &__arrow {
        @include size(24px, 24px);
        fill: $yellow-color;
    }

    &__item { 
        position: relative;
        @include block-model(20px, 1px solid #E3E2E2, 8px, 0);
        @include size(410px, 488px);
        background: #FFF;
        box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);

        @media screen and (min-width: 1290px) {
            @include size(300px, 468px);
            flex-basis: calc((100% - 90px) / 4);
        }
    }

    &__photo-mobile {
        display: block;
        margin-bottom: 20px;

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }

    &__photo-desktop {
        display: none;
        margin-bottom: 20px;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__size {
        margin-bottom: 10px;
        @include font($grey-color, 1.69, 13px, 300);
    }

    &__subtitle-desktop {
        @extend %flex-center2;
        @include size(260px, 52px);
        @include font($dark-color, 1.26, 18px, 600);

        @media screen and (min-width: 1290px) {
            display: flex;
        }
    }

    &__subtitle-mobile {
        @extend %flex-center2;
        @include size(370px, 52px);
        @include font($dark-color, 1.4, 20px, 600);

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }

    &__stock {
        @extend %flex-center2;
        margin-top: 10px;
        margin-bottom: 20px;
        gap: 5px;

        &-arrow {
            @include size(24px, 24px);
            fill: #82B09D;
        }
    
        &-text {
            @include font($dark-color, 1.69, 13px, 300);
        }
    }

    &__old-price {
        position: absolute;
        left: 20px;
        bottom: 56px;

        height: 22px;

        @include font(#E03D3D, 1.46, 15px, 400);
        text-decoration: line-through;

        @media screen and (min-width: 1290px) {
            bottom: 50px;
        }
    }

    &__price {
        position: absolute;
        left: 20px;
        bottom: 20px;

        @include font($dark-color, 1.3, 26px, 600);

        @media screen and (min-width: 1290px) {
            @include font($dark-color, 1.4, 20px, 600);
        }
    }

    &__couple {
        position: absolute;
        right: 20px;
        bottom: 20px;

        display: flex;
        gap: 10px;
    }

    &__button {
        background-color: transparent;
    }

    &__like-icon {
        @include size(70px, 70px);

        @media screen and (min-width: 1290px) {
            @include size(50px, 50px);
        }
    }

    &__basket-icon {
        @include size(70px, 70px);
        
        @media screen and (min-width: 1290px) {
            @include size(50px, 50px);
        }
    }

    &__last-button {
        @extend %flex-center;
        @extend %styles-for-products-button;
        @include size(410px, 50px);

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }

    &__button-icon {
        @include size(24px, 24px);    
        fill: #FFF;
    }

    &__button-text {
        @include font(#FFF, 1.26, 19px, 600);
    }
}