.products {
    padding-bottom: 60px;

    background-color: $light-color;

    @media screen and (min-width: 1290px) {
        padding-bottom: 80px;
    }

    &__list {
        @extend %flex-center;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
    }

    &__title {
        text-align: left;

        color: $dark-color;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.33;

        @media screen and (min-width: 1290px) {
            font-size: 40px;
            line-height: 1.2;
        }

        &-box {
            display: flex;
            align-items: center;
            margin: 0 auto 40px auto;
            gap: 30px;
            width: 410px;

            @media screen and (min-width: 1200px) {
                width: 850px;
            }

            @media screen and (min-width: 1290px) {
                width: 960px;
            }

            @media screen and (min-width: 1320px) {
                width: 1290px;
            }
        }
    }

    &__link {
        display: none;
        align-items: center;
        gap: 10px;

        color: $yellow-color;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.26;

        @media screen and (min-width: 1290px) {
            display: flex;
        }
    }

    &__arrow {
        width: 24px;
        height: 24px;

        fill: $yellow-color;
    }

    &__item { 
        position: relative;

        padding: 20px;
        width: 410px;
        height: 488px;

        background: #FFF;
        border-radius: 8px;
        border: 1px solid #E3E2E2;
        box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);

        @media screen and (min-width: 1290px) {
            width: 300px;
            height: 468px;
            flex-basis: calc((100% - 90px) / 4);
        }
    }

    &__photo-mobile {
        display: block;
        margin-bottom: 20px;

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }

    &__photo-desktop {
        display: none;
        margin-bottom: 20px;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__size {
        margin-bottom: 10px;

        color: $grey-color;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.69;
    }

    &__subtitle-desktop {
        display: none;
        align-items: center;
        width: 260px;
        height: 52px;

        color: $dark-color;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.26;

        @media screen and (min-width: 1290px) {
            display: flex;
        }
    }

    &__subtitle-mobile {
        display: flex;
        align-items: center;
        width: 370px;
        height: 52px;

        color: $dark-color;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }

    &__stock {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        gap: 5px;

        &-arrow {
            width: 24px;
            height: 24px;

            fill: #82B09D;
        }
    
        &-text {
            color: $dark-color;
            font-size: 13px;
            font-weight: 300;
            line-height: 1.69;
        }
    }

    &__old-price {
        position: absolute;
        left: 20px;
        bottom: 56px;

        height: 22px;

        color: #E03D3D;
        font-size: 15px;
        line-height: 1.46;
        text-decoration: line-through;

        @media screen and (min-width: 1290px) {
            bottom: 50px;
        }
    }

    &__price {
        position: absolute;
        left: 20px;
        bottom: 20px;

        color: $dark-color;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3;

        @media screen and (min-width: 1290px) {
            font-size: 20px;
            line-height: 1.4;
        }
    }

    &__couple {
        position: absolute;
        right: 20px;
        bottom: 20px;

        display: flex;
        gap: 10px;
    }

    &__button {
        background-color: transparent;
    }

    &__like-icon {
        width: 70px;
        height: 70px;

        @media screen and (min-width: 1290px) {
            width: 50px;
            height: 50px;
        }
    }

    &__basket-icon {
        width: 70px;
        height: 70px;
    
        @media screen and (min-width: 1290px) {
            width: 50px;
            height: 50px;
        }
    }

    &__last-button {
        @extend %flex-center;
        padding: 8px 20px 8px 20px;
        margin: 30px auto 0 auto;
        gap: 15px;
        width: 410px;
        height: 50px;

        border-radius: 8px;
        background-color: $yellow-color;

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }

    &__button-icon {
        width: 24px;
        height: 24px;
        
        fill: #FFF;
    }

    &__button-text {
        color: #FFF;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.26;
    }
}