.promotions {
    padding-bottom: 60px;
    background-color: $light-color;

    @media screen and (min-width: 1290px) {
        padding-bottom: 70px;
    }

    &__title {
        text-align: left;
        width: 215px;
        @include font($dark-color, 1.33, 30px, 600);

        @media screen and (min-width: 1290px) {
            width: 91px;
            @include font($dark-color, 1.2, 40px, 600);
        }

        &-box {
            @extend %flex-center;
            margin: 0 auto 40px auto;
            gap: 30px;

            @media screen and (min-width: 1200px) {
                width: 410px;
            }

            @media screen and (min-width: 1290px) {
                width: 1260px;
            }

            @media screen and (min-width: 1320px ) {
                width: 1290px;
            }
        }
    }

    &__link {
        @extend %flex-center;
        gap: 10px;
        @include font($yellow-color, 1.26, 19px, 600);
    }

    &__couple {
        display: none;
        margin-left: auto;
        gap: 20px;

        @media screen and (min-width: 1290px) {
            display: flex;
        }
    }

    &__title-arrow {
        @include size(24px, 24px);
        fill: $yellow-color;
    }

    &__arrow {
        @extend %flex-center;
        margin-left: auto;
        @include size(50px, 20px);
        fill: $yellow-color;
    }

    &__arrow1 {
        margin-right: auto;
        margin-left: 0;
        width: 57px;
    }

    &__button {
        @include size(60px, 60px);

        background-color: #fff;
        border-radius: 50%;
    }

    &__list {
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (min-width: 1290px) {
            display: flex;
        }
    }

    &__item {
        flex-basis: calc((100% - 60px) / 3);
    }

    &__photo {
        @include size(410px, 288px);
        border-radius: 8px;
    }

    &__item:nth-child(1) {
        @extend %flex-center;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    &__photo2 {
        display: none;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__photo3 {
        display: none;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__circles {
        @extend %flex-center;
        margin-top: 20px;
        gap: 10px;

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }

    &__circle {
        &:nth-child(3) > .promotions__round {
            background-color: $yellow-color;
            border: 3px solid #fff;
        }
    }

    &__round {
        @include size(15px, 15px);
        
        background-color: #fff;
        border: 2px solid $grey-light-color;
        border-radius: 50%;
    }
}