.comments{
    background-color: $light-color;

    &__box{
        background-color: #FFF;
        border-radius: 8px;
        padding: 30px 15px;
        
        @media screen and (min-width:1290px){
            max-width: calc(100% - 440px);
        }
    }
    &__title{
        @include font($dark-color, 1.3, 30px, 600);
        margin-bottom: 10px;
    }
    &__item{
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: solid $light-color;
    }
    &__item:first-child{
        border: none;
    }
    &__summ-box{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }
    &__summ-text{
        @include font(#6A6A6A, 1.4, 17px, 400);
        margin-right: 31px;
    }
    &__stars{
        display: flex;
    }
    &__star-svg{
        @include size(24px, 24px);
        fill: $yellow-color;
    }

    &__user-box{
        @extend %flex-center2;
        flex-wrap: wrap;
        gap: 10px 20px;
        margin-bottom: 20px;
    }
    &__user-svg{
        @include size(50px, 50px);
        flex-shrink: 0;
    }
    &__user-name{
        @include font($dark-color, 1.4, 17px, 400);
        flex-shrink: 0;
    }
    &__text{
        @include font($dark-color, 1.875, 16px, 400);
        margin-bottom: 20px;
    }
    &__date{
        @include font($grey-color, 1.4, 17px, 400);
    }
    &__reviews{
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
    }
    &__review-btn{
        background-color: transparent;
        border: none;
        @extend %flex-center2;
        gap: 10px;
        @include font($grey-color, 1.4, 17px, 400);

        transition-property: color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__review-btn:hover, &__review-btn:focus{
        color: #ee9c22;
    }
    &__review-btn:hover &__review-svg, &__review-btn:focus &__review-svg{
        fill: #ee9c22;
    }
    &__review-btn:hover &__review-number, &__review-btn:focus &__review-number{
        background-color: #ee9c22;
    }
    &__review-number{
        @extend %flex-center;
        background-color: $yellow-color;
        @include size(21px, 21px);
        border-radius: 50%;
        @include font(#FFF, normal, 13px, 700);

        transition-property: background-color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__review-svg{
        @include size(24px, 24px);
        fill: $yellow-color;

        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__answers{
        border-top: solid $yellow-color;
        margin-top: 30px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__answer-user{
        @extend %flex-center2;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    &__answer-svg{
        @include size(24px, 24px);
        fill: $yellow-color;
        flex-shrink: 0;
    }
    &__admin-svg{
        @include size(50px, 50px);
        fill: #FFF;
        stroke: $yellow-color;
    }
    &__answer-name{
        @include font($dark-color, 1.26, 19px, 600);
    }
    &__answer-text{
        @include font($dark-color, 1.875, 16px, 400);
    }
    &__response{
        background-color: $light-color;
        padding: 30px 36px;
        margin-top: 30px;
        border-radius: 8px;
    }
    &__response-box{
        @extend %flex-center2;
        gap: 15px;
        margin-bottom: 30px;
    }
    &__response-svg{
        @include size(32px, 32px);
        fill: $yellow-color;
    }
    &__response-form{
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    &__response-input{
        padding: 10px 20px;
        border-radius: 8px;
        border: solid #D1D5D5;
        background: #FFF;
        @include font($grey-color, 1.875, 16px, 400);

        @media screen and (min-width: 1290px) {
            width: 350px;
        }
    }
    &__comment-input{
        padding-bottom: 150px;
        @media screen and (min-width: 1290px) {
            width: 100%;
        }
    }
    &__response-btn-box{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    &__response-submit{
        padding: 8px 20px;
        border-radius: 8px;
        background-color: $yellow-color;
        @include font(#FFF, 1.26, 19px, 600);

        transition-property: background-color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__response-submit:hover, &__response-submit:focus{
        background-color: #ee9c22;
    }
    &__response-decline{
        padding: 8px 20px;
        border-radius: 8px;
        border: 0.5px solid $yellow-color;
        background-color: #FFF;
        @include font($yellow-color, 1.26, 19px, 600);

        transition-property: background-color, border-color, color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__response-decline:hover, &__response-decline:focus{
        background-color: #ee9c22;
        border-color: #ee9c22;
        color: #FFF;
    }
    &__show-more{
        display: flex;
        padding: 8px 30px;
        gap: 15px;
        border-radius: 8px;
        background-color: $yellow-color;
        @include font(#FFF, 1.26, 19px, 600);
        margin-left: auto;
        margin-right: auto;

        transition-property: background-color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        animation-name: btn-animation;
        animation-iteration-count: infinite;
        animation-duration: 3000ms;
        animation-delay: 5000ms;
    }
    &__show-more:hover, &__show-more:focus{
        background-color: #ee9c22;
    }
    &__show-more-svg{
        @include size(24px, 24px);
        fill: #FFF;
    }
}

@keyframes btn-animation{
    0%{
        background-color: $yellow-color;
    }
    50%{
        background-color: #f09a1a;
        transform: scale(1.15);
    }
    100%{
        background-color: $yellow-color;
    }
}