.conditions{
    background-color: $light-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 630px;
            align-items: center;
            gap: 30px;
        }
        @media screen and (min-width: 1290px) {
            max-width: 100%;
            gap: 20px;
        }

    }
    &__item{
        display: flex;
        gap: 20px;
        width: 300px;
    }
    &__svg{
        @include size(80px, 80px);
        flex-shrink: 0;
    }
    &__title{
        @include font($dark-color, 1.4, 20px, 600);
        margin-bottom: 11px;
    }
    &__text{
        @include font($grey-color, 1.47, 15px, 400);
        margin-bottom: 11px;
    }
    &__link{
        @extend %flex-center2;
        @include font($yellow-color, 1.47, 15px, 400);
        gap: 5px;

        transition-property: color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover, &__link:active{
        color: #ee9c22;
    }
    &__link:hover &__arrow, &__link:active &__arrow{
        fill: #ee9c22;
    }
    &__arrow{
        @include size(24px, 24px);
        fill: $yellow-color;

        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
} 