.product{
    padding-top: 20px;
    background-color: $light-color;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media screen and (min-width: 1290px) {
            align-items: start;
        }
    }
    &__location{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
        margin-bottom: 30px;
        align-self: flex-start;
    }
    &__location-svg{
        width: 8px;
        height: 8px;
    }
    &__location-pages{
        font-size: 16px;
        line-height: 1.875;
        color: $grey-color;
    }
    &__location-active{
        color: $yellow-color;
    }
    &__box{
        @media screen and (min-width: 1290px) {
            display: flex;
            flex-wrap: wrap;
            gap: 0 30px;
        }
    }
    &__title-box{
        margin-bottom: 20px;

        @media screen and (min-width: 1290px) {
            position: absolute;
            top: 65px;
            right: 0;
        }
    }
    &__name{
        font-size: 30px;
        font-weight: 600;
        line-height: 1.33;
        color: $dark-color;
        margin-bottom: 20px;

        @media screen and (min-width: 1290px) {
            font-size: 40px;
            margin-bottom: 30px;
            max-width: 630px;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
            gap: 40px;
        }
    }
    &__info-item{
        display: flex;
        align-items: center;
    }
    &__check-svg{
        width: 24px;
        height: 24px;
        fill: #82B09D;
        margin-right: 5px;
    }
    &__stars{
        display: flex;
        margin-right: 10px;
    }
    &__star-svg{
        width: 24px;
        height: 24px;
        fill: $yellow-color;
    }
    &__review-svg{
        width: 24px;
        height: 24px;
        fill: $grey-color;
        margin-right: 5px;
    }
    &__reviwe-text, &__model{
        font-size: 17px;
        line-height: 1.4; 
        color: $grey-color;
    }
    &__img-box{
        position: relative;
        max-width: 630px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1290px) {
            margin: 0;
        }
    }
    &__img{
        margin-bottom: 20px;
        width: 100%;
        max-width: 410px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1290px) {
            max-width: 630px;
        }
    }
    &__img-btn{
        display: none;
        width: 60px;
        height: 60px;
        background-color: #FFF;
        border-radius: 50%;
        padding: 20px;
        padding-right: 25px;

        @media screen and (min-width: 1290px) {
            display: block;
            position: absolute;
            top: 239px;
            left: 20px;
        }
    }
    &__img-svg{
        width: 20px;
        height: 20px;
        fill: $yellow-color;
    }
    &__right-btn{
        padding-right: 20px;
        padding-left: 25px;
        right: 20px;
        left: auto;
    }
    &__images{
        display: none;

        @media screen and (min-width: 1290px) {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }
    &__other-img{
        width: 100px;
        height: 100px;
    }
    &__btn-points{
        display: flex;
        gap: 10px;
        justify-content: center;
        padding-bottom: 30px;

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }
    &__point-svg{
        width: 15px;
        height: 15px;
        fill: white;
    }

    &__card{
        background-color: #FFF;
        border-radius: 8px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: 1290px) {
            max-width: 600px;
            margin-top: 180px;
        }
        @media screen and (min-width: 1320px) {
            max-width: 630px;
        }
    }
    &__prise-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: solid $light-color;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
        }
    }
    &__prise{
        font-size: 30px;
        font-weight: 600;
        line-height: 1.33;
        color: $dark-color;

        @media screen and (min-width: 1290px) {
            margin-right: 20px;
        }
    }
    &__old-prise{
        color: #E03D3D;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        text-decoration-line: line-through;
        margin-bottom: 15px;

        @media screen and (min-width: 1290px) {
            margin-right: auto;
            align-self: flex-end;
            margin-bottom: 0;
            align-self: center;
        }
    }
    &__like-box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    &__like-btn{
        background-color: transparent;
    }
    &__like-svg{
        width: 50px;
        height: 50px;
    }
    &__like-text{
        font-size: 19px;
        font-weight: 600;
        line-height: 1.26; 
        color: $grey-color;
    }
    &__properties-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 30px;

        @media screen and (min-width: 1290px) {
            justify-content: start;
        }
    }
    &__properties-svg{
        width: 24px;
        height: 24px;
        fill: $grey-light-color;
    }
    &__properties-title-box{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
    }
    &__properties-text{
        font-size: 17px;
        line-height: 1.4;
        color: $dark-color;
    }
    &__select{
        padding: 10px 15px;
        border-radius: 8px;
        background-color: $light-color;
        width: 100%;

        @media screen and (min-width: 1290px) {
            width: 280px;
        }
    }
    &__materials{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
    }
    &__material{
        position: relative;
    }
    &__material-svg{
        position: absolute;
        top: 25%;
        left: 25%;
        width: 35px;
        height: 35px;
        fill: $yellow-color;
    }
    &__material-img{
        width: 70px;
        height: 70px;
    }
    &__show-all{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 17px;
        line-height: 1.4; 
        color: $yellow-color;
        margin-bottom: 30px;

        @media screen and (min-width: 1290px) {
            justify-content: start;
        }
    }
    &__show-all-svg{
        width: 24px;
        height: 24px;
        fill: $yellow-color;
    }
    &__btn-box{
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__amount{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 8px;
        border: solid $grey-light-color;
        background-color: $light-color;
        min-width: 110px;
    }
    &__amount-btn{
        background-color: transparent;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        color: $dark-color;
    }
    &__amount-text{
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        color: $dark-color;
    }
    &__buy{
        padding: 8px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: $yellow-color;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.26;
        color: #FFF;
    }
    &__buy-svg{
        width: 40px;
        height: 40px;
    }
    &__credit{
        display: flex;
        padding: 8px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background-color: transparent;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.26;
        color: $dark-color;
        border: solid $yellow-color;
    }
    &__credit-svg{
        width: 24px;
        height: 24px;
        fill: $yellow-color;
    }
    &__buy-now{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        @media screen and (min-width: 1290px) {
            margin-left: auto;
            margin-right: 20px;
            gap: 190px;
        }
    }
    &__phone{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        color: $grey-light-color;
    }
    &__phone-svg{
        width: 30px;
        height: 30px;
        fill: $grey-light-color;
    }
    &__buy-now-btn{
        padding: 8px 30px;
        background-color: transparent;
        border-radius: 8px;
        border: solid $grey-color;
        font-size: 19px;
        font-weight: 600;
        line-height: 1.26;
        color: $grey-color;
    }
}