.product{
    padding-top: 20px;
    background-color: $light-color;

    &__container{
        @extend %flex-center2;
        flex-direction: column;
        position: relative;

        @media screen and (min-width: 1290px) {
            align-items: start;
        }
    }
    &__location{
        @extend %flex-center2;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 30px;
        align-self: flex-start;
    }
    &__location-svg{
        @include size(8px, 8px);
    }
    &__location-pages{
        @include font($grey-color, 1.875, 16px, 400);
    }
    &__location-active{
        color: $yellow-color;
        transition-property: color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__location-active:hover, &__location-active:focus{
        color: #ee9c22;
    }
    &__box{
        @media screen and (min-width: 1290px) {
            display: flex;
            flex-wrap: wrap;
            gap: 0 30px;
        }
    }
    &__title-box{
        margin-bottom: 20px;

        @media screen and (min-width: 1290px) {
            position: absolute;
            top: 65px;
            right: 0;
        }
    }
    &__name{
        @include font($dark-color, 1.3, 30px, 600);
        margin-bottom: 20px;

        @media screen and (min-width: 1290px) {
            font-size: 40px;
            margin-bottom: 30px;
            max-width: 630px;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
            gap: 40px;
        }
    }
    &__info-item{
        @extend %flex-center2;
    }
    &__check-svg{
        @include size(24px, 24px);
        fill: #82B09D;
        margin-right: 5px;
    }
    &__stars{
        display: flex;
        margin-right: 10px;
    }
    &__star-svg{
        @include size(24px, 24px);
        fill: $yellow-color;
    }
    &__review-svg{
        @include size(24px, 24px);
        fill: $grey-color;
        margin-right: 5px;
    }
    &__reviwe-text, &__model{
        @include font($grey-color, 1.4, 17px, 400);
    }
    &__img-box{
        position: relative;
        max-width: 630px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1290px) {
            margin: 0;
        }
    }
    &__img{
        margin-bottom: 20px;
        width: 100%;
        max-width: 410px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1290px) {
            max-width: 630px;
        }
    }
    &__img-btn{
        display: none;
        @include size(60px, 60px);
        background-color: #FFF;
        border-radius: 50%;
        padding: 20px;
        padding-right: 25px;

        transition-property: background-color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1290px) {
            display: block;
            position: absolute;
            top: 239px;
            left: 20px;
        }
    }
    &__img-btn:hover, &__img-btn:focus{
        background-color: $yellow-color;
    }
    &__img-btn:hover &__img-svg, &__img-btn:focus &__img-svg{
        fill: #FFF;
    }
    &__img-svg{
        @include size(20px, 20px);
        fill: $yellow-color;

        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__right-btn{
        padding-right: 20px;
        padding-left: 25px;
        right: 20px;
        left: auto;
    }
    &__images{
        display: none;

        @media screen and (min-width: 1290px) {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }
    &__other-img{
        @include size(100px, 100px);
    }
    &__btn-points{
        @extend %flex-center3;
        gap: 10px;
        padding-bottom: 30px;

        @media screen and (min-width: 1290px) {
            display: none;
        }
    }
    &__point-svg{
        @include size(15px, 15px);
        fill: white;
    }

    &__card{
        background-color: #FFF;
        border-radius: 8px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: 1290px) {
            max-width: 600px;
            margin-top: 180px;
        }
        @media screen and (min-width: 1320px) {
            max-width: 630px;
        }
    }
    &__prise-box{
        @extend %flex-center2;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: solid $light-color;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
        }
    }
    &__prise{
        @include font($dark-color, 1.3, 30px, 600);

        @media screen and (min-width: 1290px) {
            margin-right: 20px;
        }
    }
    &__old-prise{
        @include font(#E03D3D, 1.4, 20px, 600);
        text-decoration-line: line-through;
        margin-bottom: 15px;

        @media screen and (min-width: 1290px) {
            margin-right: auto;
            align-self: flex-end;
            margin-bottom: 0;
            align-self: center;
        }
    }
    &__like-box{
        @extend %flex-center;
        gap: 10px;
    }
    &__like-btn{
        background-color: transparent;
    }
    &__like-svg{
        @include size(50px, 50px);
    }
    &__like-text{
        @include font($grey-color, 1.26, 19px, 600);
    }
    &__properties-list{
        @extend %flex-center;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 30px;

        @media screen and (min-width: 1290px) {
            justify-content: start;
        }
    }
    &__properties-svg{
        @include size(24px, 24px);
        fill: $grey-light-color;
    }
    &__properties-title-box{
        @extend %flex-center2;
        gap: 5px;
        margin-bottom: 10px;
    }
    &__properties-text{
        @include font($dark-color, 1.4, 17px, 400);
    }
    &__select{
        padding: 10px 15px;
        border-radius: 8px;
        background-color: $light-color;
        width: 100%;

        @media screen and (min-width: 1290px) {
            width: 280px;
        }
    }
    &__materials{
        @extend %flex-center3;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
    }
    &__material{
        position: relative;
    }
    &__material-svg{
        position: absolute;
        top: 25%;
        left: 25%;
        @include size(35px, 35px);
        fill: $yellow-color;
    }
    &__material-img{
        @include size(70px, 70px);
    }
    &__show-all{
        @extend %flex-center;
        gap: 10px;
        @include font($yellow-color, 1.4, 17px, 400);
        margin-bottom: 30px;

        transition-property: color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1290px) {
            justify-content: start;
        }
    }
    &__show-all:hover, &__show-all:focus{
        color: #ee9c22;
    }
    &__show-all:hover &__show-all-svg, &__show-all:focus &__show-all-svg{
        fill: #ee9c22;
    }
    &__show-all-svg{
        width: 24px;
        height: 24px;
        @include size(24px, 24px);
        fill: $yellow-color;

        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__btn-box{
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: 1290px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__amount{
        @extend %flex-center;
        gap: 15px;
        border-radius: 8px;
        border: solid $grey-light-color;
        background-color: $light-color;
        min-width: 110px;
    }
    &__amount-btn{
        background-color: transparent;
        @include font($dark-color, 1.4, 20px, 600);
    }
    &__amount-text{
        @include font($dark-color, 1.4, 20px, 600);
    }
    &__buy{
        padding: 8px 30px;
        @extend %flex-center;
        gap: 15px;
        border-radius: 8px;
        background-color: $yellow-color;
        @include font(#FFF, 1.26, 19px, 600);

        transition-property: background-color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__buy:hover, &__buy:focus{
        background-color: #ee9c22;
    }
    &__buy-svg{
        @include size(24px, 24px);
        fill: #FFF;
    }
    &__credit{
        @extend %flex-center;
        padding: 8px 30px;
        gap: 10px;
        border-radius: 8px;
        background-color: transparent;
        @include font($dark-color, 1.26, 19px, 600);
        border: solid $yellow-color;
        transition-property: background-color, border-color, color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__credit:hover, &__credit:focus{
        background-color: #ee9c22;
        border-color: #ee9c22;
        color: #FFF;
    }
    &__credit:hover &__credit-svg, &__credit:focus &__credit-svg{
        fill: #FFF;
    }
    &__credit-svg{
        @include size(24px, 24px);
        fill: $yellow-color;

        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__buy-now{
        padding-top: 10px;
        padding-bottom: 10px;
        @extend %flex-center3;
        flex-wrap: wrap;
        gap: 20px;

        @media screen and (min-width: 1290px) {
            margin-left: auto;
            margin-right: 20px;
            gap: 190px;
        }
    }
    &__phone{
        @extend %flex-center2;
        gap: 20px;
        @include font($grey-light-color, 1.4, 20px, 600);
    }
    &__phone-svg{
        @include size(30px, 30px);
        fill: $grey-light-color;
    }
    &__buy-now-btn{
        padding: 8px 30px;
        background-color: transparent;
        border-radius: 8px;
        border: solid $grey-color;
        @include font($grey-color, 1.26, 19px, 600);

        transition-property: border-color, color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__buy-now-btn:hover, &__buy-now-btn:focus{
        border-color: #ee9c22;
        color: #ee9c22;
    }
}