.product-description{
    padding-bottom: 40px;
    background-color: $light-color;

    &__container{
        display: flex;
        gap: 30px;
    }
    &__title{
        @include font($dark-color, 1.3, 26px, 600);
        margin-bottom: 20px;
    }
    &__text{
        @include font($dark-color, 1.875, 16px, 400);
        margin-bottom: 20px;
    }
}