<section class="payment-types">
  <div class="container">
    <ul class="payment-types__list">
      <li class="payment-types__item">
        <svg class="payment-types__icon">
          <use href="#"></use>
        </svg>
        <h2 class="payment-types__title">Оплата по Україні</h2>
        <p class="payment-types__text">
          Доставка по Україні здійснюється Новою Поштою. Ви можете оплатити Ваше
          замовлення при отриманні післяплатою. Вартість післяплати 35грн +1-2%
          від суми. Також Ви можете оплатити Ваше замовлення на карту
          ПриватБанку, перед відправкою замовлення Вам.
        </p>
      </li>
      <li class="payment-types__item">
        <svg class="payment-types__icon">
          <use href="#"></use>
        </svg>
        <h2 class="payment-types__title">Кредит\Розстрочка</h2>
        <p class="payment-types__text">
          На нашій виставці, ви можете оплатити Ваше замовлення за допомогою
          сервісів ПриватБанку "Миттєва Розстрочка" та "Оплата частинами", з
          мінімальними відсотками.
        </p>
      </li>
      <li class="payment-types__item">
        <svg class="payment-types__icon">
          <use href="#"></use>
        </svg>
        <h2 class="payment-types__title">Передплата</h2>
        <p class="payment-types__text">
          У зв'язку з частими випадками замовлень "клієнтами", які не збираються
          забирати їх керівництвом, було прийнято рішення про введення,
          мінімальної передоплати 20% (на стандартні замовлення). Залишок суми
          (80%) Ви оплачуєте при отриманні за фактом складання. На нестандартні
          та великі замовлення передоплата 50%. На нестандартні матраци
          передплата 100%.
        </p>
      </li>
    </ul>
  </div>
</section>
