<section class="topic">
  <div class="container topic__container">
    <div class="topic__box">
      <h1 class="topic__title">Оплата товару</h1>
      <h2 class="topic__subtitle">
        Клієнти Krovato можуть в один клік провести оплату товару на сайті.
      </h2>
      <p class="topic__text">
        Оплата готівкою при отриманні товару, за безготівковим розрахунком, оплата
        замовлення онлайн банківською картою Visa або MasterCard або кредит - у
        нас можливо все!
      </p>
    </div>
    </div>
</section>
