<section class="article">
  <div class="container article__container">
    <div class="article__align">
      <h1 class="article__title">
        Оформлення вітальні. Які м'які меблі краще вибрати?
      </h1>
    </div>
    <picture>
      <source
        srcset="
          ./images/mobile/article@1x.webp 1x,
          ./images/mobile/article@2x.webp 2x
        "
        media="(max-width:320px)"
      />
      <source
        srcset="
          ./images/desktop/article@1x.webp 1x,
          ./images/desktop/article@2x.webp 2x
        "
        media="(min-width:1290px)"
      />
      <img
        src="./images/desktop/article@1x.webp"
        alt="кімната"
        class="article__img"
      />
    </picture>
    <p class="article__descr">
      Вітальня – це основна кімната у кожному будинку. Саме вона служить для
      прийому гостей, проведення часу всією сім'єю та просто для відпочинку у
      приємній теплій атмосфері. Оформляючи свій будинок та вітальню зокрема,
      всі намагаються зробити її максимально зручною, комфортною та красивою.
      Основним та центральним елементом оформлення вітальні, як і будь-якої
      іншої кімнати, є м'які меблі. Будь-які меблі для вітальні повинні бути не
      тільки стильними і красивими, але і функціональними. На таких меблів має
      бути зручно та приємно відпочивати та приймати гостей. Однак сьогодні
      існує величезна різноманітність найрізноманітніших м'яких меблів для
      вітальні, яка підходить для кімнат різних розмірів і форм. На чому варто
      зупинити свій вибір? Як краще оформити свою вітальню, щоб вам було
      комфортно, а гості хотіли приходити до вас знову та знову?
    </p>
    <h2 class="article__subtitle">
      На сайті інтернет магазину Кровато представлено велику різноманітність
      м'яких меблів для вітальні, серед яких кожен зможе вибрати для себе
      найбільш вдалий варіант. У нас ви знайдете:
    </h2>
    <ul class="article__list">
      <li class="article__item">
        <p class="article__paragraph">
          Прямі дивани. Такі дивани вважаються класикою. Вони підходять для
          віталень будь-яких форм та розмірів. Прямий диван виглядає стильно та
          лаконічно, на ньому зручно відпочивати, приймати гостей або навіть
          спати. Прямі дивани можуть стояти біля стіни, так і в центрі кімнати.
          Багато моделей прямих диванів легко розкладаються, перетворюючись на
          повноцінне спальне місце. Також більшість диванів мають великі та
          місткі ніші, які є додатковим місцем для зберігання;
        </p>
      </li>
      <li class="article__item">
        <p class="article__paragraph">
          Кутові дивани Кутові дивани вважаються найзручнішими та комфортнішими.
          Вони ідеально підійдуть для приємного проведення часу в колі сім'ї або
          друзів. Кутові дивани в основному використовуються для оформлення
          великих віталень, так як вони займають багато місця, і для кімнат з
          невеликою площею просто не підійдуть;
        </p>
      </li>
      <li class="article__item">
        <p class="article__paragraph">
          Тахти. Тахта - це одна з варіацій дивана, але стильніша і
          мінімалістична. Виглядають тахти дуже незвично і можуть підійти для
          будь-якого інтер'єру. Також тахти більше ніж звичайні дивани підходять
          для сну, оскільки в їх основі не пружинні блоки, а дерев'яні ламелі
          або ортопедичні матраци;
        </p>
      </li>
      <li class="article__item">
        <p class="article__paragraph">
          Крісла. Крісло – це особливий предмет інтер'єру. Сучасні дизайнери не
          часто використовують його, вважаючи застарілим, проте саме крісла
          створюють особливий затишок та комфорт у будь-якій кімнаті. Сьогодні
          існує величезна різноманітність класичних та сучасних моделей крісел,
          що дозволяє кожному відшукати ідеальне крісло для свого будинку;
        </p>
      </li>
      <li class="article__item">
        <p class="article__paragraph">
          Набір меблів. Комплект м'яких меблів – це відмінне рішення для тих,
          хто хоче меблювати свою вітальню не лише диваном, а й кріслами.
          Існують набори з одним або двома кріслами, із прямими або кутовими
          диванами. Основна перевага будь-якого готового меблевого гарнітура –
          це те, що предмети меблів у ньому ідеально поєднуються один з одним, і
          вам не потрібно буде витрачати свій час та сили на їхній підбір.
        </p>
      </li>
    </ul>
    <p class="article__text">
      Підбір м'яких меблів для вітальні – це заняття непросте. Однак при виборі
      та покупці меблів для своєї вітальні пам'ятайте, що якісні м'які меблі
      повинні бути не тільки красивими, але й зручними для вас і всіх мешканців
      вашого будинку.
    </p>
    <ul class="article__buttons">
      <li class="article__button">
        <button class="article__btn">
          <svg class="article__icon article__icon--left">
            <use href="../images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
          <span>Попередня стаття</span>
        </button>
      </li>
      <li class="article__button">
        <button class="article__btn">
          <span>Наступна стаття</span>
          <svg class="article__icon article__icon--right">
            <use href="../images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
