.topic {
  @include block-model(40px 0 248px);
  background: url(../images/mobile/about-bg@1x.webp) bottom / contain no-repeat
    $light-color;

  @media (min-display-pixe-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url(../images/mobile/about-bg@2x.webp) bottom / contain
      no-repeat $light-color;
  }

  @media screen and (min-width: 1290px) {
    @include block-model(0);
    background: transparent;
  }

  &__container {
    @extend %flex-center2;
    flex-direction: column;

    @media screen and (min-width: 1290px) {
      max-width: 1290px;
      @include block-model(71px 50px 71px 50px, none, 8px);

      align-items: flex-start;

      background: url(../images/desktop/about-bg@1x.webp) right / contain
        no-repeat #fdfdfd;

      @media (min-display-pixe-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url(../images/desktop/about-bg@2x.webp) right / contain
          no-repeat #fdfdfd;
      }
    }
  }

  &__title {
    text-align: center;
    @include font($dark-color, 1.33, 30px, 600);

    @media screen and (min-width: 1290px) {
      @include font($dark-color, 1.33, 48px, 600);
    }
  }

  &__subtitle {
    max-width: 450px;
    @include block-model(0, none, 0, 30px 0 20px);
    @include font($dark-color, 1.4, 20px, 600);
    text-align: center;

    @media screen and (min-width: 1290px) {
      text-align: left;
      @include font($dark-color, 1.4, 26px, 600);
    }
  }

  &__text {
    text-align: center;
    max-width: 450px;
    @include font($dark-color, 1.87, 16px, 400);

    @media screen and (min-width: 1290px) {
      text-align: left;
      @include font($dark-color, 1.87, 20px, 400);
    }
  }
}
